<div class="stammdatenView gesuchModul">
    <div class="row viewTitle">
        <div class="col-md-12">
            <h1>
                <span data-translate="GESUCHSTELLERIN"></span> {{vm.gesuchModelManager.getGesuchstellerNumber()}}
            </h1>
            <hr class="header"/>
            <p class="inlineHint" data-translate="PFLICHTFELDER_HINT"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" name="form" class="" novalidate
                  unsaved-warning-form>
                <fieldset dv-enable-element
                          dv-enable-allowed-roles="vm.TSRoleUtil.getAllRolesButTraegerschaftInstitution()"
                          dv-enable-expression="!vm.isGesuchReadonly()">
                    <!--Geschlecht-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="md-no-float" data-translate="GESCHLECHT"></label>
                                <dv-radio-container name="geschlecht" class="input-element"
                                                    ng-required="true" items="vm.geschlechter"
                                                    ng-model="vm.getModelJA().geschlecht" dv-enable-element
                                                    dv-enable-allowed-roles="vm.allowedRoles"
                                                    dv-enable-expression="!vm.isGesuchReadonly()">
                                </dv-radio-container>
                                <dv-error-messages for="form.geschlecht.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>
                    <!--Vorname/Name-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="VORNAME" for="vorname_ID"></label>
                                <input id="vorname_ID" type="text" name="vorname" ng-model="vm.getModelJA().vorname"
                                       dv-max-length class="form-control input-dv" required>
                                <dv-error-messages for="form.vorname.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group secondColumn">
                                <label class="md-no-float" data-translate="NAME" for="name_ID"></label>
                                <input id="name_ID" type="text" name="name" ng-model="vm.getModelJA().nachname"
                                       dv-max-length class="form-control" required>
                                <dv-error-messages for="form.name.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!--Geburtsdatum-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="GEBURTSDATUM" for="geburtsdatum_ID">
                                </label>
                                <dv-datepicker input-id="geburtsdatum_ID" name="geburtsdatum"
                                               ng-model="vm.getModelJA().geburtsdatum" ng-required="true"
                                               class="input-element">
                                </dv-datepicker>
                                <dv-error-messages for="form.geburtsdatum.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Adresse. Bei Mutationen nicht editierbar-->
                    <fieldset ng-disabled="vm.disableWohnadresseFor2GS()">
                        <!-- Dieses disabled wird vom obigen disabled ueberschrieben wenn VERFUEGT -->
                        <dv-adresse adresse="vm.getModel().getWohnAdresse()" show-nicht-in-gemeinde="true"
                                    prefix="wohn"></dv-adresse>
                    </fieldset>

                    <!--Korrenspondenzadr Checkbox-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" checkbox">
                                <md-checkbox ng-model="vm.showKorrespondadr" name="korrespondenzAdr"
                                             aria-label="korrespondenzAdr" ng-change="vm.korrespondenzAdrClicked()"
                                             dv-enable-element
                                             dv-enable-allowed-roles="vm.TSRoleUtil.getAllRolesButTraegerschaftInstitution()"
                                             dv-enable-expression="!vm.isGesuchReadonly()">
                                    <span data-translate="KORRESPONDENZADR"></span>
                                    <dv-tooltip text="'KORRESPONDENZADR_HELP' | translate"></dv-tooltip>
                                </md-checkbox>
                                <dv-error-messages for="form.korrespondenzAdr.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>

                    <dv-adresse adresse="vm.getModel().korrespondenzAdresse" ng-if="vm.showKorrespondadr"
                                prefix="korrespondenz"
                                organisation="true"></dv-adresse>

                    <!-- Diplomatenstatus -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" checkbox">
                                <md-checkbox ng-model="vm.getModelJA().diplomatenstatus" name="diplomatenstatus"
                                             aria-label="diplomatenstatus"
                                             dv-enable-element
                                             dv-enable-allowed-roles="vm.TSRoleUtil.getAllRolesButTraegerschaftInstitution()"
                                             dv-enable-expression="!vm.isGesuchReadonly()">
                                    <span data-translate="GESUCHSTELLER_DIPLOMATENSTATUS"></span>
                                </md-checkbox>
                                <dv-error-messages for="form.diplomatenstatus.$error" class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>

                    <!--Umzug checkbox. Bei Mutationen nicht angezeigt-->
                    <div class="row" ng-if="!vm.isMutation()">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <md-checkbox ng-model="vm.getModel().showUmzug" name="umzug" aria-label="umzug"
                                             dv-enable-element
                                             dv-enable-allowed-roles="vm.TSRoleUtil.getAllRolesButTraegerschaftInstitution()"
                                             dv-enable-expression="!vm.isGesuchReadonly() && !vm.isThereAnyUmzug() && !vm.isKorrekturModusJugendamt()">
                                    <span data-translate="UMZUG"></span>
                                </md-checkbox>
                                <dv-error-messages for="form.umzug.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>

                    <!--Email-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EMAIL" for="email_ID">
                                </label>
                                <input id="email_ID" type="email" name="email" ng-model="vm.getModelJA().mail"
                                       dv-max-length class="form-control" required placeholder="hans.muster@example.com"
                                       ng-pattern="vm.CONSTANTS.PATTERN_EMAIL">
                                <dv-error-messages for="form.email.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>


                    <!--Mobile /Telefon-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="MOBILE" for="mobile_ID">
                                </label>
                                <input id="mobile_ID" type="text" name="mobile" ng-model="vm.getModelJA().mobile"
                                       dv-max-length class="form-control" placeholder="e.g: +41 79 123 44 55"
                                       ng-pattern="vm.CONSTANTS.PATTERN_MOBILE">
                                <dv-error-messages for="form.mobile.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group secondColumn">
                                <label class="md-no-float" data-translate="TELEFON" for="tel_ID">
                                </label>
                                <input id="tel_ID" type="text" name="telefon" ng-model="vm.getModelJA().telefon"
                                       dv-max-length class="form-control" placeholder="e.g: +41 33 123 45 67"
                                       ng-pattern="vm.CONSTANTS.PATTERN_PHONE">
                                <dv-error-messages for="form.telefon.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>
                    <!--auslaendische tel nummer-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="TELEFON_AUSLAND" for="ausl_tel">
                                </label>
                                <input id="ausl_tel" type="text" name="telefonAusland"
                                       ng-model="vm.getModelJA().telefonAusland"
                                       dv-max-length class="form-control">
                                <dv-error-messages for="form.telefonAusland.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>
                </fieldset>

                <!--Buttons-->
                <div class="row">
                    <div class="col-md-12">
                        <dv-navigation dv-show-element
                                       dv-show-allowed-roles="vm.TSRoleUtil.getAllRolesButTraegerschaftInstitution()"
                                       dv-previous="true" dv-next="true" dv-save="vm.save(form)">
                        </dv-navigation>
                        <dv-navigation dv-show-element
                                       dv-show-allowed-roles="vm.TSRoleUtil.getTraegerschaftInstitutionOnlyRoles()"
                                       dv-previous="true" dv-next="true">
                        </dv-navigation>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
