<div class="pendenzenListView">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 table-responsive">

                <dv-pendenzen-list antraege="vm.getPendenzenList()" items-by-page="20" initial-all="false"
                                   show-selection-all="false" on-user-changed="vm.userChanged(user)"
                                   table-title="'PENDENZEN_LIST'">
                </dv-pendenzen-list>

            </div>

        </div>
    </div>
</div>
