<div class="betreuungListView gesuchModul">
    <h1 class="access-for-all-title" data-translate="AFA_GESUCHSFORMULAR"></h1>
    <div class="row viewTitle">
        <div class="col-md-12">
            <h2>
                <span data-translate="KINDER_MIT_BETREUUNG"></span>
            </h2>
            <hr class="header"/>
        </div>
    </div>

    <!--Fuer jedes Kind Tabelle anzeigen-->
    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="kind in vm.getKinderWithBetreuungList()" class="marginBottom80">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="ebeguH2">
                            <span>{{kind.kindJA.getFullName()}}</span>
                        </h3>
                    </div>
                </div>
                <!--Tabelle mit Betreuungen-->
                <div class="row">
                    <div class="col-md-12 table-responsive">

                        <table st-table="displayedCollection" st-safe-src="kind.betreuungen"
                               class="table table-hover">
                            <thead>
                            <tr>
                                <th data-translate="BETREUUNG"></th>
                                <th data-translate="STATUS"></th>
                                <th data-translate="MITTEILUNG" ng-if="vm.showMitteilung()"></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="betreuung in displayedCollection" st-select-row="betreuung"
                                st-select-mode="single"
                                ng-click="vm.editBetreuung(kind, betreuung)" role="row" tabindex="-1">
                                <td ng-bind="vm.getBetreuungsangebotTyp(betreuung) | translate"
                                    class="betreuung-table-header"></td>
                                <td class="betreuung-status ng-class:betreuung.betreuungsstatus;">
                                    <div ng-bind="betreuung.betreuungsstatus | translate"></div>
                                    <span class="betreuung-bar"></span>
                                </td>
                                <td ng-if="vm.showMitteilung()" width="5%">
                                    <dv-loading-button type="button" button-click="vm.gotoMitteilung(betreuung)"
                                                       button-class="dv-btn-operation centered-btn">
                                        <i class="fa fa-lg fa-envelope-o"></i>
                                    </dv-loading-button>
                                </td>
                                <td role="cell" tabindex="-1" ng-click="$event.stopPropagation()" width="5%">
                                    <dv-loading-button type="button" button-click="vm.editBetreuung(kind, betreuung);"
                                                       button-class="dv-btn-operation dv-btn-row"
                                                       aria-label="{{'TABLE_EDIT'|translate}}">
                                        <i class="fa fa-lg fa-arrow-right" title="{{'TABLE_EDIT'|translate}}" aria-label="{{'TABLE_EDIT'|translate}}">
                                        </i>
                                    </dv-loading-button>
                                </td>
                                <td  dv-show-element
                                    dv-show-allowed-roles="vm.TSRoleUtil.getAllRolesButTraegerschaftInstitution()"
                                    dv-show-expression="vm.canRemoveBetreuung(betreuung)"
                                     role="cell" tabindex="-1" ng-click="$event.stopPropagation()" width="5%">
                                    <dv-loading-button aria-label="{{'BETREUUNG_DELETE'|translate}}" type="button"
                                                       button-click="vm.removeBetreuung(kind, betreuung)"
                                                       button-disabled="vm.isNotAllowedToRemove(betreuung)"
                                                       button-class="dv-btn-operation">
                                        <i class="fa fa-lg fa-trash-o" title="{{'BETREUUNG_DELETE' | translate}}" aria-label="{{'BETREUUNG_DELETE' | translate}}">
                                        </i>
                                    </dv-loading-button>
                                </td>
                                <td dv-show-element
                                    dv-show-allowed-roles="vm.TSRoleUtil.getAllRolesButTraegerschaftInstitution()"
                                    dv-show-expression="!vm.canRemoveBetreuung(betreuung)">
                                    <!-- Fuer Alle ausser Institutionen, wenn der Status ist verfuegt oder Verfuegen oder bei Mutation-->
                                </td>
                                <td dv-show-element
                                    dv-show-allowed-roles="vm.TSRoleUtil.getTraegerschaftInstitutionOnlyRoles()">
                                    <!--Fuer Institutionen und Traegerschaft wird der Button Loeschen nicht angezeigt -->
                                </td>
                            </tr>
                            <tr ng-if="(!kind.betreuungen) || (kind.betreuungen.length === 0)">
                                <td colspan="4" class="empty-table" data-translate="BETREUUNGEN_NOCH_KEINE"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12" dv-show-element
                         dv-show-allowed-roles="vm.TSRoleUtil.getAllRolesButTraegerschaftInstitution()"
                         dv-show-expression="!vm.isGesuchReadonly()">
                        <dv-loading-button type="button" button-click="vm.createBetreuung(kind)"
                                           button-class="dv-btn-operation"
                                           button-disabled="vm.isKorrekturModusJugendamt()">
                            <i class="fa fa-lg fa-plus-circle"></i>
                            <span data-translate="BETREUUNG_HINZUFUEGEN"></span>
                        </dv-loading-button>
                    </div>

                </div>
            </div>
            <div class="row marginTop20" ng-show="vm.hasBetreuungInStatusWarten()" dv-show-element
                 dv-show-allowed-roles="vm.TSRoleUtil.getGesuchstellerOnlyRoles()">
                <div class="col-md-12">
                    <div class="well well-status-warten">
                        <i class="fa fa-hourglass" aria-hidden="true"></i>
                        <span data-translate="BETREUUNG_IN_STATUS_WARTEN"></span>
                    </div>
                </div>
            </div>
            <!--Buttons-->
            <dv-navigation dv-previous="true" dv-next="true" dv-sub-step="1">
            </dv-navigation>
        </div>
    </div>
</div>

