<div class="freigabeView gesuchModul">

    <div class="row" ng-if="vm.isGesuchFreigegeben()">
        <div class="col-md-12">
            <div class="row viewTitle">
                <div class="col-md-12">
                    <h1>
                        <span data-translate="FREIGABEQUITTUNG_DRUCKEN_TITLE"></span>
                    </h1>
                    <hr class="header"/>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <span data-translate="FREIGABEQUITTUNG_ERFOLG_TEXT"
                          data-translate-value-freigabedatum="{{vm.getFreigabeDatum()}}"></span>
                </div>
                <div class="col-md-12" ng-if="vm.isFreigabequittungAusstehend()">
                    <span data-translate="FREIGABEQUITTUNG_AUSSTEHEND_TEXT"></span>
                </div>
            </div>
            <div class="row marginTop50" ng-if="vm.isThereFreigabequittung()">
                <div class="col-md-12">

                    <button type="button" class=" btn-link link-underline" ng-click="vm.openFreigabequittungPDF()">
                        <i class="fa fa-file-text-o"></i>
                        <span data-translate="PDF_FREIGABEQUITTUNG_ANZEIGEN"></span>
                    </button>
                </div>
            </div>

            <!-- Simulationsbutton fuer Quittung einlesen -->
            <div class="row marginTop50" ng-if="vm.isFreigabequittungAusstehend()">
                <span class="col-md-12" ng-if="vm.showGesuchFreigebenSimulationButton">
                    <dv-loading-button type="button" button-click="vm.gesuchFreigeben()">
                        <span data-translate="ANTRAG_FREIGEBEN_SIMULIEREN"></span>
                    </dv-loading-button>
                </span>
            </div>

        </div>
    </div>

    <div class="row" ng-if="!vm.isGesuchFreigegeben()">
        <div class="col-md-12" ng-if="!vm.canBeFreigegeben()">
            <div class="row viewTitle">
                <div class="col-md-12">
                    <h1>
                        <span data-translate="FREIGABEQUITTUNG_DRUCKEN_TITLE"></span>
                    </h1>
                    <hr class="header"/>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <span data-translate="{{vm.getTextForFreigebenNotAllowed()}}"></span>
                </div>
            </div>

        </div>

        <div class="col-md-12" ng-if="vm.canBeFreigegeben()">

            <form role="form" name="vm.form" class="" novalidate unsaved-warning-form>

                <div class="row viewTitle">
                    <div class="col-md-12">
                        <h1>
                            <span data-translate="FREIGABEQUITTUNG_DRUCKEN_TITLE"></span>
                        </h1>
                        <hr class="header"/>
                    </div>

                </div>


                <div class="row">
                    <div class="col-xs-12 dv-input-container-question">
                        <div class=" checkbox freigeben-checkbox">
                            <md-checkbox ng-model="vm.bestaetigungFreigabequittung" name="bestaetigungFreigabequittung"
                                         aria-label="bestaetigungFreigabequittung"
                                         ng-required="vm.isFreigebenClicked">
                                <span data-translate="FREIGABEQUITTUNG_DRUCKEN_TEXT"></span>
                            </md-checkbox>
                            <div class="dv-error-messages">
                                <div ng-messages="vm.form.bestaetigungFreigabequittung.$error" role="alert"
                                     class="error">
                                    <div ng-message="required" data-translate="ERROR_BESTAETIGUNG_REQUIRED"
                                         for="vm.form.bestaetigungFreigabequittung.$error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="vm.isThereAnySchulamtAngebot()">
                    <div class="row viewTitle marginTop20">
                        <div class="col-md-12">
                            <h1>
                                <span data-translate="FREIGABEQUITTUNG_TAGESSCHULEN_TITLE"></span>
                            </h1>
                            <hr class="header"/>
                            <p data-translate="FREIGABEQUITTUNG_TAGESSCHULEN_TEXT"></p>
                        </div>
                    </div>
                </div>

                <div class="row marginTop30">
                    <div class="col-md-4">

                    </div>
                </div>


            </form>
        </div>
    </div>

    <div class="nav-row-verfuegen">

        <dv-navigation dv-previous="true" dv-next="false" ng-if="vm.canBeFreigegeben()">
        </dv-navigation>
        <dv-navigation dv-previous="true" dv-next="true" ng-if="!vm.canBeFreigegeben()" class="freigabe-nav">
        </dv-navigation>
        <div>
            <dv-loading-button type="submit" button-click="vm.gesuchEinreichen()"
                               aria-label="{{ANTRAG_EINREICHEN | translate}}" ng-if="vm.canBeFreigegeben()">
                <span data-translate="ANTRAG_EINREICHEN"></span>
            </dv-loading-button>
        </div>
    </div>

</div>
