<div class="dv-erwerbspensum-list">
    <div class="row">
        <div class="col-md-12 table-responsive">
            <!--Tabelle-->
            <table st-table="displayedCollection" st-safe-src="vm.erwerbspensen"
                   class="table table-hover" id="{{vm.tableId}}" title="{{vm.tableTitle}}">
                <thead>
                <tr>
                    <th st-sort="erwerbspensumJA.taetigkeit" class="sortable" data-translate="TAETIGKEIT"></th>
                    <th st-sort="erwerbspensumJA.gueltigkeit.gueltigAb" class="sortable" data-translate="AB"></th>
                    <th st-sort="erwerbspensumJA.gueltigkeit.gueltigBis" class="sortable" data-translate="BIS"></th>
                    <th st-sort="erwerbspensumJA.pensum" class="sortable" data-translate="PENSUM"></th>
                    <th st-sort="erwerbspensumJA.zuschlag" class="sortable" data-translate="ZUSCHLAG"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in displayedCollection" st-select-row="row" st-select-mode="single"
                    ng-click="vm.editClicked(row)">
                    <td ng-if="!row.erwerbspensumJA.bezeichnung"
                        ng-bind="row.erwerbspensumJA.taetigkeit | translate"></td>
                    <td ng-if="row.erwerbspensumJA.bezeichnung" ng-bind="row.erwerbspensumJA.bezeichnung"></td>
                    <td ng-bind="row.erwerbspensumJA.gueltigkeit.gueltigAb | amDateFormat : 'DD.MM.YYYY'"></td>
                    <td ng-bind="row.erwerbspensumJA.gueltigkeit.gueltigBis | amDateFormat : 'DD.MM.YYYY'"></td>
                    <td ng-bind="row.erwerbspensumJA.pensum ?  row.erwerbspensumJA.pensum + '%' : ''"></td>
                    <td ng-bind="row.erwerbspensumJA.zuschlagsprozent ?  row.erwerbspensumJA.zuschlagsprozent+'%' : ''"></td>
                    <td ng-if="vm.isRemoveAllowed(row)">
                        <dv-loading-button type="button" ng-click="vm.removeClicked(row); $event.stopPropagation()"
                                           button-class="dv-btn-sm" title="{{vm.removeButtonTitle}}">
                            <i class="fa fa-minus">
                            </i>
                        </dv-loading-button>
                    </td>
                    <td ng-if="!vm.addButtonVisible"></td>
                </tr>
                <tr ng-if="vm.erwerbspensen.length === 0">
                    <td colspan="5" class="empty-table" data-translate="KEIN_EINTRAG">...</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <!--Addbutton -->
    <div class="row" ng-if="vm.addButtonVisible">
        <div class="col-md-12" style="margin-bottom: 2rem">
            <dv-loading-button type="button" button-click="vm.addClicked()" button-class="dv-btn-sm color-success">
                <i class="glyphicon glyphicon-plus">
                </i> {{vm.addButtonText}}
            </dv-loading-button>
        </div>
    </div>
</div>
