@import '../variables.less';
@import '../mixins.less';

table, .table > tbody {
    & > tr {
        & > td {
            border-bottom: 0.1rem solid @contrast;
            position: relative;
            padding: 0.8rem;
            line-height: 3rem;
            .dvb-loading-button {
                text-align: end;
            }

        }
        .betreuung-status {
            &:after {
                content: "";
                position: absolute;
                left: 0.8rem;
                bottom: 0;
                width: 3rem;
                height: 0.5rem;
                border-bottom: 0.5rem solid;

            }
            &.BESTAETIGT:after {
                border-color: @success;
            }
            &.WARTEN:after {
                border-color: @warning;
            }
            &.ABGEWIESEN:after {
                border-color: @danger;
            }
            &.VERFUEGT:after {
                border-color: @purple;
            }
        }
    }
}
