@import '../variables.less';
@import '../mixins.less';

.table-responsive {
    border: none;
}
.row-fallnr {
    width: 5%;
}

.row-name {
    width: 10%;

}

.row-antrag {
    width: 7.5%;

}

.row-periode {
    width: 7.5%;

}

.row-geandert {
    width: 7.5%;

}

eingangsdatum.row-status {
    width: 12.5%;

}

.row-angebot {
    width: 15%;

}

.row-inst {
    width: 15%;

}

.row-ver {
    width: 10%;

}

.row-action {
    width: 10%;
}

.table > tbody {
    & > tr, & > tr:first-child {
        &:hover {
            background: #fafafa;
            color: @contrast-darkest;
        }
        &.disabled-row, &.disabled-row:hover {
            background: @contrast;
            cursor: text;
            & > td {
                border-color: @contrast-dark;
            }
        }
    }
}

table, .table > tbody, .table > thead, .table > thead:first-child {
    & > tr {
        & > td {
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .h3();
            position: relative;
            line-height: 3rem;
            height: 5rem;
            border: 0.1rem solid @contrast;
            border-left: none;
            border-right: none;
            display: table-cell;
            vertical-align: middle;
            padding: 0 0.8rem 0;
            color: @contrast-darkest;
            .dvb-loading-button {
                text-align: end;
            }

        }
        & > th, & > th {
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .label();
            height: 5rem;
            vertical-align: middle;
            border: 0.1rem solid @contrast;
            border-left: none;
            border-right: none;
            border-radius: 0;
            display: table-cell !important;
            padding: 0 0.25rem 0;
            color: @contrast-darkest;
            span {
                .p();
                line-height: 0;
            }
        }
    }
    & > tr:first-child {
        & > th, & > th {
            .label();
            height: 3.5rem;
            vertical-align: middle;
            border: 0.1rem solid @contrast-darkest;
            border-left: none;
            border-right: none;
            border-radius: 0;
            display: table-cell !important;
            padding: 0 0.8rem 0;
            color: @contrast-darkest;
            span {
                .p();
                line-height: 0;
            }
        }
        .text-right {
            text-align: right;
        }
    }
}

.gesuchstellerDashboardView {
    .table > tbody {
        & > tr, & > tr:first-child {
            &:hover {
                background: rgba(220, 220, 220, 0.2);
            }
        }
    }
    table, .table > tbody, .table > thead, .table > thead:first-child {
        & > tr, & > tr:first-child {
            & > td {
                .label();
                height: 5rem;
                vertical-align: middle;
                display: table-cell !important;
                padding: 0 0.8rem 0;
                border: 0.1rem solid rgba(220, 220, 220, 0.2);
                border-left: none;
                border-right: none;
            }
            & > th, & > th {
                .h3();
                position: relative;
                line-height: 3rem;
                height: 5rem;
                display: table-cell;
                vertical-align: middle;
                padding: 0 0.8rem 0;
                border: 0.1rem solid @contrast-lightest;
                border-left: none;
                border-right: none;
                color: @contrast-lightest;
                span {
                    .p();
                    line-height: 0;
                }
            }
        }
    }
}

table {
    min-width: 60rem;
}
