.idea/
*.iml
target/
derby.log
#LibreOffice Lockfiles (z.B. beim Bearbeiten von basisreport.xls)
.~lock*
# Irgendwelche Lockfiles (Citrix/Office?)
.attribute^
.access^
~\$*
./ebegu-runconfig/wildfly_9.0.2/build.properties
