@nodeModules: ~"../node_modules";

@import '~angular-material/angular-material.css';
@import '~bootstrap/less/bootstrap';
@import '~font-awesome/less/font-awesome';
@fa-font-path: "~font-awesome/fonts/";

@import 'style/variables.less';
@import 'style/mixins.less';
@import 'style/typography.less';
@import 'style/atoms/button.less';
@import 'style/atoms/input.less';
@import 'style/atoms/checkbox.less';
@import 'style/atoms/radio.less';
@import 'style/organisms/navbar.less';
@import 'style/molecules/table.less';
/* Add Component LESS Above */

html {
    height: 100vh;
}

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

body {
    //navbar paddingtodo remove me just testing
    padding-top: @page-start;
    .font-family();
    .starter-template {
        padding: 40px 15px;
        text-align: center;
    }
    &.ebegu {
        background-color: @contrast-lightest;
    }
}

//logobar
.navbar-fixed-top {
    top: @navbar-height;
}

.dv-progressbar {
    position: fixed;
    width: 100%;
    top: 95px;
    z-index: @z-index-progressbar;
    .md-container {
        background: none;
        .md-bar {
            background: @contrast;
        }
    }

}

#Intro {
    top: 0;
    position: fixed;
    background-color: white;
    height: @navbar-height;
    width: 100%;
    display: block;
    z-index: @z-index-navbar;
}

.logo-bern {
    background-image: url('assets/images/logo1-bern.png');
    background-repeat: no-repeat;
    background-size: Auto @navbar-height;
    background-position: left 7px center;
}

.logo-text {
    .bold();
    .capitalize();
    .vertical(middle);
    font-size: 16px;
    color: @contrast-darkest;
    letter-spacing: 1px;
    text-align: center;
    width: 150px;
    margin: 0 auto;
}

.userMenu {
    background-size: Auto 40px;
    background-position: right 20px center;
    float: right;
}

.empty-table {
    font-style: italic;
    color: gray;
}

@background-error-color: #ffe6e6;

.ErrorInput {
    border-color: @state-danger-text;
    background-color: @background-error-color;
}

//todo das braucht es wohl gar nicht mehr
.form-horizontal {
    dv-error-messages {
        padding-left: 1px;
    }
}

//roter hintergund bei den feldern die invalid sind
form {
    &.ng-submitted {
        input {
            &.ng-invalid {
                .ErrorInput
            }
        }
        md-radio-group.ng-invalid {
            .ErrorInput
        }

    }
    // style der den Hintergrund der inputs on-blur Rot markiert wenn nicht valid
    .form-control.ng-invalid, .input-element.ng-invalid, md-radio-group.ng-invalid, :not(md-checkbox.input-element.ng-invalid) {
        &.ng-touched {
            .ErrorInput
        }
    }

}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}
