<gesuch-toolbar flex="nogrow" fallid="{{vm.fall.id}}"
                hide-action-buttons="{{true}}"
                dv-show-element dv-show-allowed-roles="vm.TSRoleUtil.getAllRolesButGesuchsteller()">
</gesuch-toolbar>

<gesuch-toolbar-gesuchsteller flex="nogrow" class="gesuch-toolbar-gesuchsteller" fallid="{{vm.fall.id}}"
                              dv-show-element dv-show-allowed-roles="vm.TSRoleUtil.getGesuchstellerOnlyRoles()">
</gesuch-toolbar-gesuchsteller>

<div class="alleVerfuegungenView overflow-scroll" flex="auto">
    <div class="row">
        <h1>
        <span class="col-md-11">
            <span data-translate="ALLE_VERFUEGUNGEN_LIST"></span>
        </span>
        <span aria-hidden class="col-md-1 text-right">
            <span ng-bind="vm.getAlleVerfuegungen() ? vm.getAlleVerfuegungen().length : 0"></span>
        </span>
            </h1>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <div ng-if="vm.getAlleVerfuegungen().length == 0" data-translate="VERFUEGUNGEN_NOCH_KEINE"> </div>
            <table st-table="displayedCollection" st-safe-src="vm.getAlleVerfuegungen()"
                   st-delay="20"
                   class="table table-striped" ng-if="vm.getAlleVerfuegungen().length > 0">
                <thead>
                <tr>
                    <th st-sort="kindFullname" class="sortable text-uppercase" data-translate="KIND"></th>
                    <th st-sort="institutionStammdaten.institution.name" class="sortable text-uppercase" data-translate="BETREUUNG"></th>
                    <th data-translate="ID"></th>
                    <th st-sort="verfuegung.timestampErstellt" class="sortable text-uppercase" data-translate="VERFUEGUNGS_DATUM"></th>
                    <th st-sort="gesuchsperiode.gesuchsperiodeString" class="sortable text-uppercase" data-translate="GESUCHSPERIODEN"></th>
                    <th width="5%"></th>
                    <th width="5%"></th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in displayedCollection" st-select-row="row" st-select-mode="single"
                    ng-click="vm.openVerfuegung(row.betreuungNummer, row.kindNummer, row.gesuchId)" role="row" tabindex="-1">
                    <td class="ellipsis" ellipsis-tooltip="{{row.kindFullname}}" ng-bind="row.kindFullname"></td>
                     <td class="ellipsis" ellipsis-tooltip="{{row.institutionStammdaten.institution.name}}" ng-bind="row.institutionStammdaten.institution.name"></td>
                    <td ng-bind="vm.ebeguUtil.calculateBetreuungsId(row.gesuchsperiode, vm.fall, row.kindNummer, row.betreuungNummer)"></td>
                    <td class="ellipsis" ellipsis-tooltip="{{row.timestampErstellt  | amDateFormat : 'DD.MM.YYYY'}}"
                        ng-bind="row.verfuegung.timestampErstellt | amDateFormat : 'DD.MM.YYYY'"></td>
                    <td class="ellipsis" ellipsis-tooltip="{{row.gesuchsperiode.gesuchsperiodeString}}" ng-bind="row.gesuchsperiode.gesuchsperiodeString"></td>
                    <td class="ellipsis" role="cell" tabindex="-1" ng-click="$event.stopPropagation()" width="5%" hide-sm
                        hide-xs>
                        <dv-loading-button type="button" button-click="vm.openVerfuegung(row.betreuungNummer, row.kindNummer, row.gesuchId);"
                                           button-class="dv-btn-operation" aria-label="{{'TABLE_EDIT'|translate}}">
                            <i class="fa fa-lg fa-arrow-right" aria-label="{{'TABLE_EDIT'|translate}}"></i>
                        </dv-loading-button>
                    </td>
                    <td role="cell" tabindex="-1" ng-click="$event.stopPropagation()"
                        class="symbol" ng-if="vm.showVerfuegungPdfLink(row)">
                        <dv-loading-button type="button" button-click="vm.openVerfuegungPDF(row);"
                                           button-class="dv-btn-operation"
                                           aria-label="{{'OPEN_VERFUEGUNG' | translate}}">
                            <i class="fa fa-eye" aria-label="{{'OPEN_VERFUEGUNG' | translate}}"></i>
                        </dv-loading-button>
                    </td>
                    <td role="cell" tabindex="-1" ng-click="$event.stopPropagation()"
                        class="symbol" ng-if="!vm.showVerfuegungPdfLink(row)">
                        <dv-loading-button type="button" button-click="vm.openNichteintretenPDF(row);"
                                           button-class="dv-btn-operation"
                                           aria-label="{{'OPEN_VERFUEGUNG' | translate}}">
                            <i class="fa fa-eye" aria-label="{{'OPEN_VERFUEGUNG' | translate}}"></i>
                        </dv-loading-button>
                    </td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="9" class="text-center">
                        <div st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages="5"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
