<div class="fallCreationView gesuchModul">
    <div class="row viewTitle">
        <div class="col-md-12">
            <h1>
                <span ng-bind="vm.getTitle()"></span>
            </h1>
            <hr class="header"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" name="form" class="" novalidate unsaved-warning-form>
                <fieldset ng-disabled="vm.isGesuchStatusVerfuegenVerfuegt()">

                    <!--Eingangsdatum-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EINGANGSDATUM" for="eingangsdatum_ID">
                                </label>
                                <dv-datepicker input-id="eingangsdatum_ID" name="eingangsdatum"
                                               ng-model="vm.getGesuchModel().eingangsdatum" ng-required="true"
                                               class="input-element">
                                </dv-datepicker>
                                <dv-error-messages for="form.eingangsdatum.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!--Gesuchsperioden. Nur fuer Erstgesuch-->

            <div ng-if="vm.gesuchModelManager.isErstgesuch()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="dv-radio-container">
                                <md-radio-group name="gesuchsperioden" class="input-element radio"
                                                ng-model="vm.gesuchsperiodeId"
                                                ng-change="vm.setSelectedGesuchsperiode()"
                                                ng-required="true">
                                    <md-radio-button
                                        ng-repeat="current in vm.getAllActiveGesuchsperioden() | orderBy: 'gueltigkeit.gueltigAb'"
                                        ng-value="current.id" aria-label="{{current.gesuchsperiodeString}}"
                                        ng-disabled="vm.isGesuchStatusVerfuegenVerfuegt()">
                                        <span>{{current.gesuchsperiodeString}}</span>
                                    </md-radio-button>
                                </md-radio-group>
                                <dv-error-messages for="form.gesuchsperioden.$error"></dv-error-messages>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Mutationelemente auswaehlen. Nur fuer Mutationen-->
            <div ng-if="!vm.gesuchModelManager.isErstgesuch()">

                        <p class="subTitleBold" data-translate="MUTATION_AUSWAHL_TEXT_1"></p>
                        <p class="subTitle" data-translate="MUTATION_AUSWAHL_TEXT_2"></p>
                        <p class="subTitle" data-translate="MUTATION_AUSWAHL_TEXT_3"></p>

                    </div>
                </fieldset>

                <!--Buttons-->
                <dv-navigation dv-next="true" dv-save="vm.save(form)">
                </dv-navigation>

            </form>
        </div>
    </div>
</div>
