<div class="mitteilungenView">
    <div class="col-md-12">
        <form role="form" name="vm.form" class="" novalidate unsaved-warning-form>

            <!--Subject-->
            <div class="row">
                <div class="col-sm-12 dv-input-container-medium">
                    <dv-input-container class="form-group">
                        <label class="md-no-float" data-translate="MITTEILUNG_SUBJECT" for="subject_ID"></label>
                        <input id="subject_ID" type="text" name="subject" ng-model="vm.getCurrentMitteilung().subject"
                               ng-required="true" dv-max-length
                               class="form-control input-dv">
                        <dv-error-messages for="vm.form.subject.$error"
                                           class="error"></dv-error-messages>
                    </dv-input-container>
                </div>
            </div>

            <!--Message-->
            <div class="row">
                <div class="col-sm-12 dv-input-container-medium">
                    <dv-input-container class="form-group kommentar-feld">
                        <label class="md-no-float" for="message"
                               data-translate="MITTEILUNG_MESSAGE"></label>
                        <textarea md-no-autogrow class="form-control" rows="4" id="message"
                                  ng-required="true" maxlength="4000"
                                  ng-model="vm.getCurrentMitteilung().message">
                        </textarea>
                    </dv-input-container>
                </div>
            </div>

            <!--Send Buttons-->
            <div class="row">
                <div class="col-sm-12 dv-input-container-medium">
                    <dv-loading-button button-click="vm.sendMitteilung()" type="button"
                                       button-class="dv-btn-operation" >
                        <i class="fa fa-lg fa-paper-plane"></i>
                        <span data-translate="MITTEILUNG_SENDEN"></span>
                    </dv-loading-button>
                </div>
            </div>

            <!--Alle Mitteilungen-->
            <div class="row mitteilungenList marginLeft10 marginTop50">
                <div ng-class="{'row': true, 'marginTop50': !vm.isCurrentUserTheSender(), 'marginTop20': vm.isCurrentUserTheSender()}"
                     ng-repeat="mitteilung in vm.allMitteilungen | orderBy: 'timestampMutiert'"
                     ng-value="mitteilung.username">
                    <div class="row">
                        <i ng-class="vm.getIcon(mitteilung)"></i>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12 dv-input-container-medium">
                                <span class="subject" ng-bind="mitteilung.subject"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 dv-input-container-medium">
                                <span ng-bind="mitteilung.sender.getFullName()"></span>
                            </div>
                            <div class="col-md-12 dv-input-container-medium">
                                <span ng-bind="mitteilung.timestampMutiert | amDateFormat : 'DD.MM.YYYY / hh:mm'"></span>
                            </div>
                        </div>
                    </div>
                    <hr class="marginTop05">
                </div>
            </div>

        </form>
    </div>
</div>
