<gesuch-toolbar flex="nogrow" fallid="{{vm.fall.id}}"
                on-verantwortlicher-change="vm.setVerantwortlicher(user)"
                dv-show-element dv-show-allowed-roles="vm.TSRoleUtil.getAllRolesButGesuchsteller()">
</gesuch-toolbar>

<gesuch-toolbar-gesuchsteller flex="nogrow" class="gesuch-toolbar-gesuchsteller" fallid="{{vm.fall.id}}"
                              dv-show-element dv-show-allowed-roles="vm.TSRoleUtil.getGesuchstellerOnlyRoles()">
</gesuch-toolbar-gesuchsteller>

<div class="mitteilungenView">
    <div class="col-md-12">
        <form role="form" name="vm.form" class="" novalidate unsaved-warning-form>

            <!-- Entwurf / Neue Mitteilung -->
            <div ng-if="vm.getCurrentMitteilung()">

                <!--Subject-->
                <div class="row">
                    <div class="col-sm-12 dv-input-container-medium">
                        <dv-input-container class="form-group">
                            <label class="md-no-float" data-translate="MITTEILUNG_SUBJECT" for="subject_ID"></label>
                            <input id="subject_ID" type="text" name="subject" ng-model="vm.getCurrentMitteilung().subject"
                                   dv-max-length
                                   class="form-control input-dv"
                                   ng-blur="vm.saveEntwurf()">
                            <dv-error-messages for="vm.form.subject.$error"
                                               class="error"></dv-error-messages>
                        </dv-input-container>
                    </div>
                </div>

                <!--Message-->
                <div class="row">
                    <div class="col-sm-12 dv-input-container-medium">
                        <dv-input-container class="form-group kommentar-feld">
                            <label class="md-no-float" for="message"
                                   data-translate="MITTEILUNG_MESSAGE"></label>
                            <textarea md-no-autogrow class="form-control" rows="4" id="message"
                                      maxlength="4000"
                                      ng-model="vm.getCurrentMitteilung().message"
                                      ng-blur="vm.saveEntwurf()">
                            </textarea>
                        </dv-input-container>
                    </div>
                </div>

                <!--Send Buttons-->
                <div class="row">
                    <div class="col-sm-12 dv-input-container-medium">
                        <dv-loading-button button-click="vm.sendMitteilung()" type="button"
                                           button-class="dv-btn-operation" >
                            <i class="fa fa-lg fa-paper-plane"></i>
                            <span data-translate="MITTEILUNG_SENDEN"></span>
                        </dv-loading-button>
                    </div>
                </div>

            </div>

            <!--Alle Mitteilungen-->
            <div class="row mitteilungenList marginLeft10 marginTop50">
                <div ng-repeat="mitteilung in vm.allMitteilungen"
                     ng-class="{'row': true, 'marginTop10': true, 'mitteilungItem': true,
                        'marginLeft50': vm.isCurrentUserTypTheSenderTyp(mitteilung),
                        'marginLeft10': !vm.isCurrentUserTypTheSenderTyp(mitteilung),
                        'institution': vm.isSenderTypInstitution(mitteilung),
                        'jugendamt': vm.isSenderTypJugendamt(mitteilung),
                        'gesuchsteller': vm.isSenderTypGesuchsteller(mitteilung)}"
                     ng-value="mitteilung.username"
                     ng-click="showDetails = !showDetails">

                    <div class="row">
                        <div class="row">
                            <div class="col-md-12 dv-input-container-medium">
                                <span class="subject" ng-bind="mitteilung.subject"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 dv-input-container-medium">
                                <span ng-bind="mitteilung.sender.getFullName()"></span>
                            </div>
                            <div class="col-md-12 dv-input-container-medium">
                                <span ng-bind="mitteilung.sentDatum | amDateFormat : 'DD.MM.YYYY / HH:mm'"></span>
                            </div>
                        </div>
                    </div>
                    <hr class="marginTop05 marginBottom10">
                    <div class="row message" ng-show="showDetails">
                        <span ng-bind="mitteilung.message"></span>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
