<div class="parameterView row">
    <div class="col-md-8 col-md-offset-2">

        <form ng-submit="form.$valid && vm.submit()" name="form" role="form" class="" novalidate unsaved-warning-form>


            <!-- Gesuchsperioden -->
            <h4 class="mainTitle">
                <span data-translate="GESUCHSPERIODEN"></span>
            </h4>
            <!-- Gesuchsperioden Tabelle -->
            <div class="row col-md-12">
                <table st-table="displayedCollection" st-safe-src="vm.gesuchsperiodenList"  st-delay="20"
                       class="table table-striped">
                    <thead>
                    <tr>
                        <th data-translate="GESUCHSPERIODE_GUELTIG_AB"></th>
                        <th data-translate="GESUCHSPERIODE_GUELTIG_BIS"></th>
                        <th data-translate="GESUCHSPERIODE_AKTIV"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in displayedCollection" st-select-row="row" st-select-mode="single" ng-click="vm.gesuchsperiodeClicked(row)">
                        <td ng-bind="row.gueltigkeit.gueltigAb | amDateFormat : 'DD.MM.YYYY'"></td>
                        <td ng-bind="row.gueltigkeit.gueltigBis | amDateFormat : 'DD.MM.YYYY'"></td>
                        <td ng-bind="row.active"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Gesuchsperiode Detail -->
            <div ng-if="vm.gesuchsperiode">
                <div class="row col-md-12">
                    <label data-translate="GESUCHSPERIODE_GUELTIG_AB" for="gueltigAb_ID" class="col-md-2"></label>
                    <dv-datepicker input-id="gueltigAb_ID"  name="gueltigAb"
                            ng-model="vm.gesuchsperiode.gueltigkeit.gueltigAb" ng-required="true" class="input-element col-md-2"
                            ng-disabled="vm.applicationProperty.timestampErstellt">
                    </dv-datepicker>
                    <dv-error-messages for="form.gueltigAb.$error" class="error col-md-offset-2 col-md-2"></dv-error-messages>
                </div>
                <div class="row col-md-12">
                    <label data-translate="GESUCHSPERIODE_GUELTIG_BIS" for="gueltigBis_ID" class="col-md-2"></label>
                    <dv-datepicker input-id="gueltigBis_ID"  name="gueltigBis"
                                   ng-model="vm.gesuchsperiode.gueltigkeit.gueltigBis" ng-required="true" class="input-element col-md-2"
                                   ng-disabled="vm.applicationProperty.timestampErstellt">
                    </dv-datepicker>
                    <dv-error-messages for="form.gueltigBis.$error"class="error col-md-offset-2 col-md-2"></dv-error-messages>
                </div>
                <div class="row col-md-12">
                    <label data-translate="GESUCHSPERIODE_AKTIV" for="active" class="col-md-2"></label>
                    <md-checkbox ng-model="vm.gesuchsperiode.active" id="active" name="active" aria-label="GESUCHSPERIODE_AKTIV | translate" class="col-md-2"></md-checkbox>
                    <dv-error-messages for="form.gueltigBis.$error" class="error col-md-offset-2 col-md-2"></dv-error-messages>
                </div>
            </div>
            <!-- Gesuchsperiode Buttons -->
            <div class="row col-md-12">
                <div class="col-md-2" ng-if="!vm.gesuchsperiode">
                    <button type="button" ng-click="vm.createGesuchsperiode()" class="btn btn-sm btn-success">
                        <i class="glyphicon glyphicon-plus">
                        </i> add item
                    </button>
                </div>
                <div class="col-md-2" ng-if="vm.gesuchsperiode">
                    <button type="button" ng-click="vm.saveGesuchsperiode()" class="btn btn-primary"  data-translate="SAVE">
                    </button>
                </div>
                <div class="col-md-2" ng-if="vm.gesuchsperiode">
                    <a href="javascript:;"  id="cancelLink" unsaved-warning-clear
                       ng-click="vm.cancelGesuchsperiode(); form.$setPristine();form.$setUntouched();">
                        <span data-translate="CANCEL"></span>
                    </a>
                </div>
            </div>

            <!-- Parameter pro Gesuchsperiode -->
            <div ng-if="vm.gesuchsperiode">
                <h4 class="mainTitle">
                    <span data-translate="PARAMETER_PRO_GESUCHSPERIODE"></span>
                </h4>
                <!-- Parameter-Liste -->
                <div class="row col-md-12" ng-repeat="paramgp in vm.ebeguParameterListGesuchsperiode">
                    <div class="form-group top5">
                        <label data-translate="{{paramgp.name}}"  class="col-md-6" for="propertyName_{{paramgp.key}}"></label>

                        <input id="propertyName_{{paramgp.key}}" type="text" name="propertyName_{{paramgp.key}}" ng-model="paramgp.value"
                               dv-max-length class="col-md-2 input-element" required ng-disabled="vm.paramgp.timestampErstellt">

                        <dv-datepicker  class="col-md-2 input-element" ng-model="paramgp.gueltigkeit.gueltigAb" ng-disabled="true"></dv-datepicker>

                        <dv-datepicker class="col-md-2 input-element" ng-model="paramgp.gueltigkeit.gueltigBis" ng-disabled="true"></dv-datepicker>

                        <dv-error-messages for="form.propertyName_param.key.$error" class="error col-md-offset-2 col-md-2"></dv-error-messages>
                    </div>
                </div>
                <!-- Parameter pro Gesuchsperiode Buttons-->
                <div class="row col-md-12">
                    <div class="col-md-2" ng-if="vm.gesuchsperiode">
                        <button type="button" ng-click="vm.saveParameterByGesuchsperiode()" class="btn btn-primary"  data-translate="SAVE">
                        </button>
                    </div>
                </div>
            </div>

            <!-- Parameter pro Jahr -->
            <h4 class="mainTitle">
                <span data-translate="PARAMETER_PRO_JAHR"></span>
            </h4>
            <!-- Auswahl Jahr -->
            <label data-translate="PARAMETER_JAHR"  class="col-md-2" for="jahr"></label>
            <input id="jahr" type="text" name="jahr" ng-model="vm.jahr" class="col-md-2 input-element" required ng-change="vm.jahrChanged()">
            <!-- Parameter Liste -->
            <div class="row col-md-12" ng-repeat="param in vm.ebeguParameterListJahr">
                <div class="form-group top5">
                    <label data-translate="{{param.name}}"  class="col-md-6" for="propertyName_{{param.key}}"></label>

                    <input id="propertyName_{{param.key}}" type="text" name="propertyName_{{param.key}}" ng-model="param.value"
                           dv-max-length class="col-md-2 input-element" required ng-disabled="vm.param.timestampErstellt">

                    <dv-datepicker  class="col-md-2 input-element" ng-model="param.gueltigkeit.gueltigAb" ng-disabled="true"></dv-datepicker>

                    <dv-datepicker class="col-md-2 input-element" ng-model="param.gueltigkeit.gueltigBis" ng-disabled="true"></dv-datepicker>

                    <dv-error-messages for="form.propertyName_param.key.$error"
                                       class="error col-md-offset-2 col-md-2"></dv-error-messages>
                </div>
            </div>
            <!-- Buttons Parameter pro Jahr -->
            <div class="row col-md-12">
                <div class="col-md-2" ng-if="vm.jahr">
                    <button type="button" ng-click="vm.saveParameterByJahr()" class="btn btn-primary"  data-translate="SAVE">
                    </button>
                </div>
            </div>

            <div class="row"></div>
            <pre>{{ vm.ebeguParameterListJahr |json}}</pre>

        </form>

    </div>

</div>
