<div class="institutionView row">
    <div class="col-md-8 col-md-offset-2">
        <h1 data-translate="INSTITUTION"></h1>

        <form role="form" name="form" class="" unsaved-warning-form novalidate>

            <div class="row">


                <!--Tabelle zum anzeigen aller Institutionen-->
                <div class="col-md-12 table-responsive">
                    <table st-table="displayedCollection" st-safe-src="vm.getInstitutionenList()"
                           class="table table-striped table-hover" st-delay="20">
                        <thead>
                        <tr>
                            <th st-sort="name" class="sortable" data-translate="INSTITUTION"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th><input st-search="name" class="form-control"
                                       placeholder="Suche nach Institutionen"
                                       type="text"/></th>
                            <th></th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr ng-repeat="row in displayedCollection" st-select-row="row" st-select-mode="single"
                            ng-click="vm.setSelectedInstitution(row)">
                            <td ng-bind="row.name"></td>

                            <td ng-click="$event.stopPropagation()">
                                <dv-loading-button type="button" ng-click="vm.removeInstitution(row)" button-class="btn btn-sm">
                                    <i class="fa fa-minus">
                                    </i>
                                </dv-loading-button>
                            </td>
                        </tr>
                        <tr ng-if="vm.getInstitutionenList().length === 0">
                            <td colspan="4" class="empty-table" data-translate="INSTITUTIONEN_NOCH_KEINE"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!--Knöpfe unterhalb der Tabelle zum anzeigen aller Institutionen-->
                <div class="row">
                    <div class="col-md-6">
                        <dv-input-container class="form-group">
                            <!--Knopf zum hinzufügen neuer Institutionen-->
                            <dv-loading-button type="button" ng-click="vm.createInstitution(); form.$setPristine(); form.$setUntouched()"
                                               button-class="btn btn-sm btn-success">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span data-translate="INSTITUTION_HINZUFUEGEN"></span>
                            </dv-loading-button>
                        </dv-input-container>
                    </div>
                    <div class="col-md-6">
                        <dv-input-container class="form-group secondColumn">
                            <!--todo disable handeln-->
                            <!--Knopf zum speichern der ausgewählen oder neuer Institution-->
                            <dv-loading-button type="submit" button-click="vm.saveInstitution(form)" button-class="btn btn-sm btn-success"
                                    button-disabled="!vm.isSelectedInstitution()">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span data-translate="INSTITUTION_SPEICHERN"></span>
                            </dv-loading-button>
                        </dv-input-container>
                    </div>
                </div>

                <!--hier wird die ausgewählte Institution angezeigt. (neue oder ausgewählte)
                Nur sichtbar wenn eine Institution gewählt ist oder eine neue angelegt werden soll-->
                <div class="row">
                    <div class="col-md-11 col-md-offset-1" ng-if="vm.isSelectedInstitution()">
                        <div class="form-group">

                            <div class="row">
                                <!--Name der Institution-->
                                <dv-input-container class="form-group col-md-6">
                                    <label data-translate="NAME" for="name_ID"></label>
                                    <input id="name_ID" type="text" name="name"
                                           ng-model="vm.getSelectedInstitution().name"
                                           dv-max-length class="form-control" required>
                                    <dv-error-messages for="form.name_ID.$error"
                                                       class="error"></dv-error-messages>
                                </dv-input-container>
                            </div>

                            <!--Auswahl der Trägerschaft-->
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label data-translate="TRAEGERSCHAFT" for="traegerschaft_ID"></label>
                                    <select name="traegerschaft_ID" id="traegerschaft_ID" class="form-control"
                                            ng-model="vm.getSelectedInstitution().traegerschaft"
                                            ng-options="traegerschaft as traegerschaft.name for traegerschaft in vm.getTreagerschaftList() track by traegerschaft.id"
                                            ng-required="false">
                                    </select>
                                    <dv-error-messages for="form.traegerschaft_ID.$error"
                                                       class="error"></dv-error-messages>
                                </div>
                            </div>

                            <!--Wird nur Angegeigt, wenn neue Institution erstellt wird:-->
                            <div ng-if="!vm.isCreateInstitutionsMode()" class="row">
                                <div class="col-md-12">

                                    <!--Tabelle zum Anzeigen aller Institutions-Stammdaten-->
                                    <table st-table="displayedCollection"
                                           st-safe-src="vm.getSelectedInstitutionStammdatenList()"
                                           class="table table-striped table-hover" st-delay="20"
                                           disabled="vm.isCreateInstitutionsMode()">
                                        <thead>
                                        <tr>
                                            <th st-sort="betreuungsangebotTyp" class="sortable"
                                                data-translate="INSTITUTION_STAMMDATEN"></th>
                                            <th></th>
                                        </tr>
                                        <!--suche brauchen wir hier wohl nicht-->
                                        <!--<tr>-->
                                        <!--<th><input st-search="institutionenStammdaten" class="form-control"-->
                                        <!--placeholder="Suche nach Institution Stammdaten"-->
                                        <!--type="text"/></th>-->
                                        <!--<th></th>-->
                                        <!--</tr>-->

                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row in displayedCollection" st-select-row="row"
                                            st-select-mode="single"
                                            ng-click="vm.setSelectedInstitutionStammdaten(row)">
                                            <td ng-bind="vm.getBetreuungsangebotFromInstitutionList( row.betreuungsangebotTyp).value"></td>

                                            <td ng-click="$event.stopPropagation()">
                                                <dv-loading-button type="button" ng-click="vm.removeInstitutionStammdaten(row)"
                                                        button-class="btn btn-sm">
                                                    <i class="fa fa-minus">
                                                    </i>
                                                </dv-loading-button>
                                            </td>
                                        </tr>
                                        <tr ng-if="vm.getSelectedInstitutionStammdatenList().length === 0">
                                            <td colspan="4" class="empty-table"
                                                data-translate="INSTITUTION_STAMMDATEN_NOCH_KEINE"></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!--Knöpfe unterhalb der Tabelle zum Anzeigen aller Institutions-Stammdaten-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <!--Knopf zum hinzufügen einer InstitutionStammdaten zur Institution-->
                                                <dv-loading-button type="button" ng-click="vm.createInstitutionStammdaten(); form.$setPristine(); form.$setUntouched()"
                                                        button-class="btn btn-sm btn-success">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                    <span data-translate="INSTITUTION_STAMMDATEN_HINZUFUEGEN"></span>
                                                </dv-loading-button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group secondColumn">
                                                <!--Knopf zum speichern der ausgewählen oder neuer InstitutionStammdaten-->
                                                <dv-loading-button type="submit"
                                                                   button-click="vm.saveInstitutionStammdaten(form)"
                                                        button-class="btn btn-sm btn-success"
                                                        button-disabled="!vm.isSelectedInstitutionStammdaten()">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                    <span data-translate="INSTITUTION_STAMMDATEN_SPEICHERN"></span>
                                                </dv-loading-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Anzeigen der gewählten InstitutionStammdaten -->
                            <div class="row">
                                <div class="col-md-11 col-md-offset-1" ng-if="vm.isSelectedInstitutionStammdaten()">
                                    <div class="form-group row">

                                        <!--Betreuungsangebot auswählen-->
                                        <div class="form-group col-md-6">
                                            <label data-translate="BETREUUNGSANGEBOT_WAEHLEN" for="betreuungsangebot">
                                            </label>
                                            <select name="betreuungsangebot" id="betreuungsangebot" class="form-control"
                                                    ng-model="vm.selectedInstitutionStammdatenBetreuungsangebot"
                                                    ng-options="betreuungsangebot as betreuungsangebot.value for betreuungsangebot in vm.betreuungsangebotValues | orderBy: 'value' track by betreuungsangebot.key"
                                                    ng-required="true"
                                                    ng-disabled="!vm.isCreateStammdatenMode()">
                                            </select>
                                            <dv-error-messages for="form.betreuungsangebot.$error"
                                                               class="error"></dv-error-messages>
                                        </div>
                                    </div>

                                    <!--Dieser Teil wird nur angezeigt, wenn das Betreuungsangebot eine Kita ist-->
                                    <div ng-if="vm.isKita()">

                                        <!--IBAN-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <dv-input-container class="form-group">
                                                    <label data-translate="IBAN" for="iban"></label>
                                                    <input id="iban" type="text" name="iban"
                                                           ng-model="vm.getSelectedInstitutionStammdaten().iban"
                                                           dv-max-length class="form-control" required>
                                                    <dv-error-messages for="form.iban.$error"
                                                                       class="error"></dv-error-messages>
                                                </dv-input-container>
                                            </div>
                                        </div>

                                        <!--Ab Wann / Bis-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <dv-input-container class="form-group">
                                                    <label data-translate="AB" for="angebotAbID">
                                                    </label>
                                                    <dv-datepicker input-id="angebotAbID" name="angebotAb"
                                                                   ng-model="vm.getSelectedInstitutionStammdaten().gueltigkeit.gueltigAb"
                                                                   ng-required="true" class="input-element"
                                                                   placeholder="">
                                                    </dv-datepicker>
                                                    <div class="hint" data-translate="DATE_PLACEHOLDER"></div>
                                                    <dv-error-messages for="form.angebotAb.$error"
                                                                       class="error hint"></dv-error-messages>
                                                </dv-input-container>
                                            </div>
                                            <div class="col-md-6">
                                                <dv-input-container class="form-group">
                                                    <label data-translate="BIS" for="angebotBisID">
                                                    </label>
                                                    <dv-datepicker input-id="angebotBisID" name="angebotBis"
                                                                   placeholder=""
                                                                   ng-model="vm.getSelectedInstitutionStammdaten().gueltigkeit.gueltigBis"
                                                                   ng-required="false" class="input-element">
                                                    </dv-datepicker>
                                                    <div class="hint" data-translate="DATE_PLACEHOLDER"></div>
                                                    <dv-error-messages for="form.angebotBis.$error"
                                                                       class="error hint"></dv-error-messages>
                                                </dv-input-container>
                                            </div>
                                        </div>

                                        <!--Oeffnungtage und Oeffnungsstunden-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <dv-input-container class="form-group">
                                                    <label data-translate="OEFFNUNGSTAGE"
                                                           for="oeffnungstage"></label>
                                                    <input id="oeffnungstage" type="number" name="oeffnungstage"
                                                           ng-model="vm.getSelectedInstitutionStammdaten().oeffnungstage"
                                                           class="form-control" required max="365" min="0"
                                                           ng-disabled="!vm.isCreateStammdatenMode()">
                                                    <dv-error-messages for="form.oeffnungstage.$error"
                                                                       class="error"></dv-error-messages>
                                                </dv-input-container>
                                            </div>
                                            <div class="col-md-6">
                                                <dv-input-container class="form-group secondColumn">
                                                    <label data-translate="OEFFNUNGSSTUNDEN"
                                                           for="oeffnungsstunden"></label>
                                                    <input id="oeffnungsstunden" type="number" name="oeffnungsstunden"
                                                           ng-model="vm.getSelectedInstitutionStammdaten().oeffnungsstunden"
                                                           class="form-control" required max="24" min="0"
                                                           ng-disabled="!vm.isCreateStammdatenMode()">
                                                    <dv-error-messages for="form.oeffnungsstunden.$error"
                                                                       class="error"></dv-error-messages>
                                                </dv-input-container>

                                            </div>
                                        </div>
                                    </div>


                                    <!--Adresse-->
                                    <dv-adresse adresse="vm.getSelectedInstitutionStammdaten().adresse"></dv-adresse>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
