<div class="dvb-error-messages-panel" uib-collapse="vm.errors.length === 0" ng-class="vm.messageStyle()">
    <div class="container">
        <i ng-show="vm.errors.length > 0" class="alarm-icon fa fa-exclamation-circle"></i>
        <div>
            <div ng-repeat="error in vm.errors | orderBy:'severity'">
                <!--maybe we should think a bit harder when to display what but it seems to work for now-->
                <div data-translate="{{error.msgKey}}"></div>
            </div>
        </div>
        <a ng-show="vm.errors.length > 0" ng-click="vm.clear()"><i class="close-icon fa fa-times"></i></a>
    </div>
</div>
