<div class="dvb-error-messages-panel" uib-collapse="vm.errors.length === 0">
    <div class="container floating-text">
        <i ng-show="vm.errors.length > 0" class="alarm-icon fa fa-exclamation-circle"></i>
        <div>
            <div ng-repeat="error in vm.errors | orderBy:'severity'">
                <!--maybe we should think a bit harder when to display what but it seems to work for now-->
                <div ng-if="!error.isInternal() || !error.args || error.args.length === 0"
                     data-translate="{{error.msgKey}}" data-translate-values="{{error.args}}"></div>
                <div ng-if="error.isInternal()">
                    <div ng-repeat="arg in error.args" ng-bind="arg"></div>
                </div>
            </div>
        </div>
        <a ng-show="vm.errors.length > 0" ng-click="vm.clear()"><i class="close-icon fa fa-times"></i></a>
    </div>
</div>
