<div class="pendenzenInstitutionListView">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <dv-antrag-list
                    table-title="FAELLE_LIST"
                    table-id="alleFaelle"
                    on-filter-change="vm.passFilterToServer(tableState)"
                    on-edit="vm.editFall(antrag, event)"
                    add-button-visible="false"
                    total-result-count="vm.totalResultCount"
                    action-visible="false">
                </dv-antrag-list>
            </div>
        </div>
    </div>
</div>
