<!--suppress ALL -->
<div class="finanzielleSituation row">
    <div class="col-md-12">

        <h4 class="mainTitle">
            <span data-translate="EKVI_EINKOMMENSVERSCHLECHTERUNG_FUER_BASISJAHR"
                  translate-values="{basisjahr: vm.gesuchModelManager.getBasisjahrToWorkWith()}"></span>
        </h4>
        <hr class="header"/>
        <form ng-submit="vm.submit(form)" role="form" name="form" class="" unsaved-warning-form="" novalidate>

            <!--Steuerveranlagung -->
            <div class="row">
                <div class="col-md-6" ng-if="vm.showSteuerveranlagung()">
                    <div class="form-group">
                        <h4 class="mainQuestion" data-translate="FINANZIELLE_SITUATION_STEUERVERANLAGUNG"
                            translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrToWorkWith()}}}"></h4>
                        <dv-radio-container name="steuerveranlagung"
                                            ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().steuerveranlagungErhalten"
                                            ng-required="true" class="radio input-element" ng-change="vm.steuerveranlagungClicked()">
                        </dv-radio-container>
                        <dv-error-messages  for="form.steuerveranlagung.$error" class="error"></dv-error-messages>
                    </div>
                </div>
            </div>

            <!--Steuererklärung -->
            <div class="row">
                <div class="col-md-6" ng-if="vm.showSteuerveranlagung() && vm.showSteuererklaerung()">
                    <div class="form-group">
                        <h4 class="mainQuestion" data-translate="FINANZIELLE_SITUATION_STEUERERKLAERUNG"
                            translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrToWorkWith()}}}"></h4>
                        <dv-radio-container name="steuererklaerung"
                                            ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().steuererklaerungAusgefuellt"
                                            ng-required="true" class="radio input-element">
                        </dv-radio-container>
                        <dv-error-messages  for="form.steuererklaerung.$error" class="error"></dv-error-messages>
                    </div>
                </div>
            </div>

            <!-- Infotext -->
            <p class="inlineHint" data-translate="EKVI__HINT_STEUERERKLAERUNG" translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrToWorkWith()}}}" ng-if="vm.showHintSteuererklaerung()"></p>
            <p class="inlineHint" data-translate="EKVI__HINT_VERANLAGUNGSVERFUEGUNG" translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrToWorkWith()}}}"  ng-if="vm.showHintSteuerveranlagung()"></p>

            <!-- Gesuchsteller -->
            <h5 class="subTitle">
                <span>{{vm.gesuchModelManager.getStammdatenToWorkWith().getFullName()}}</span>
            </h5>

            <!-- Nettolohn Jan-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="EKVI_NETTOLOHN_JANUARY" for="nettolohn_Jan"></label>
                        <input id="nettolohn_Jan" type="text" name="nettolohn_Jan" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnJan"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.nettolohn_Jan.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().nettolohnJan"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnJan"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Nettolohn Feb-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="EKVI_NETTOLOHN_FEBRUARY" for="nettolohn_Feb"></label>
                        <input id="nettolohn_Feb" type="text" name="nettolohn_Feb" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnFeb"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.nettolohn_Feb.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().nettolohnFeb"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnFeb"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Nettolohn Mrz-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="EKVI_NETTOLOHN_MARCH" for="nettolohn_Mrz"></label>
                        <input id="nettolohn_Mrz" type="text" name="nettolohn_Mrz" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnMrz"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.nettolohn_Mrz.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().nettolohnMrz"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnMrz"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Nettolohn Apr-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="EKVI_NETTOLOHN_APRIL" for="nettolohn_Apr"></label>
                        <input id="nettolohn_Apr" type="text" name="nettolohn_Apr" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnApr"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.nettolohn_Apr.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().nettolohnApr"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnApr"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Nettolohn Mai-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="EKVI_NETTOLOHN_MAY" for="nettolohn_Mai"></label>
                        <input id="nettolohn_Mai" type="text" name="nettolohn_Mai" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnMai"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.nettolohn_Mai.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().nettolohnMai"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnMai"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Nettolohn Jun-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="EKVI_NETTOLOHN_JUNE" for="nettolohn_Jun"></label>
                        <input id="nettolohn_Jun" type="text" name="nettolohn_Jun" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnJun"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.nettolohn_Jun.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().nettolohnJun"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnJun"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Nettolohn Jul-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="EKVI_NETTOLOHN_JULY" for="nettolohn_Jul"></label>
                        <input id="nettolohn_Jul" type="text" name="nettolohn_Jul" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnJul"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.nettolohn_Jul.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().nettolohnJul"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnJul"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Nettolohn Aug-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="EKVI_NETTOLOHN_AUGUST" for="nettolohn_Aug"></label>
                        <input id="nettolohn_Aug" type="text" name="nettolohn_Aug" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnAug"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.nettolohn_Aug.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().nettolohnAug"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnAug"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Nettolohn Sep-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="EKVI_NETTOLOHN_SEPTEMBER" for="nettolohn_Sep"></label>
                        <input id="nettolohn_Sep" type="text" name="nettolohn_Sep" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnSep"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.nettolohn_Sep.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().nettolohnSep"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnSep"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Nettolohn Okt-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="EKVI_NETTOLOHN_OCTOBER" for="nettolohn_Okt"></label>
                        <input id="nettolohn_Okt" type="text" name="nettolohn_Okt" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnOkt"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.nettolohn_Okt.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().nettolohnOkt"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnOkt"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Nettolohn Nov-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="EKVI_NETTOLOHN_NOVEMBER" for="nettolohn_Nov"></label>
                        <input id="nettolohn_Nov" type="text" name="nettolohn_Nov" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnNov"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.nettolohn_Nov.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().nettolohnNov"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnNov"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Nettolohn Dez-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="EKVI_NETTOLOHN_DECEMBER" for="nettolohn_Dez"></label>
                        <input id="nettolohn_Dez" type="text" name="nettolohn_Dez" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnDez"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.nettolohn_Dez.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().nettolohnDez"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnDez"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Nettolohn Zus-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="EKVI_NETTOLOHN_ZUS" for="nettolohn_Zus"></label>
                        <input id="nettolohn_Zus" type="text" name="nettolohn_Zus" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnZus"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.nettolohn_Zus.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().nettolohnZus"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohnZus"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Familienzulage -->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="FINANZIELLE_SITUATION_FAMILIENZULAGE" for="familienzulage"></label>
                        <input id="familienzulage" type="text" name="familienzulage" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().familienzulage"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.familienzulage.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().familienzulage"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().familienzulage"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Ersatzeinkommen -->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="FINANZIELLE_SITUATION_ERSATZEINKOMMEN" for="ersatzeinkommen"></label>
                        <input id="ersatzeinkommen" type="text" name="ersatzeinkommen" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().ersatzeinkommen"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.ersatzeinkommen.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().ersatzeinkommen"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().ersatzeinkommen"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Erhaltene Alimente -->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="FINANZIELLE_SITUATION_ERHALTENEALIMENTE" for="erhalteneAlimente"></label>
                        <input id="erhalteneAlimente" type="text" name="erhalteneAlimente" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().erhalteneAlimente"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.erhalteneAlimente.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().erhalteneAlimente"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().erhalteneAlimente"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <hr/>

            <!--Checkbox Selbstaendigkeit -->
            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <md-checkbox ng-model="vm.showSelbstaendig" name="showSelbstaendig" aria-label="{{FINANZIELLE_SITUATION_SELBSTAENDIGKEIT | translate}}"
                                     ng-change="vm.showSelbstaendigClicked()"
                                     ng-disabled="vm.gesuchModelManager.getStammdatenToWorkWith().finanzielleSituationContainer.finanzielleSituationJA.isSelbstaendig()">
                            <span data-translate="FINANZIELLE_SITUATION_SELBSTAENDIGKEIT"></span>
                        </md-checkbox>
                    </div>
                </div>
            </div>

            <!-- Geschaeftsgewinn Basisjahr -->
            <div ng-if="vm.showSelbstaendig">
                <div class="row">
                    <div class="col-md-6">
                        <dv-input-container class="form-group">
                            <label data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_BASISJAHR" for="geschaeftsgewinnBasisjahr"
                                   translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrToWorkWith()}}}"></label>
                            <input id="geschaeftsgewinnBasisjahr" type="text" name="geschaeftsgewinnBasisjahr" ui-number-mask="0"
                                   ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().geschaeftsgewinnBasisjahr" ng-blur="vm.calculate()"
                                   dv-max-length max="999999999999" class="form-control" ui-negative-number>
                            <dv-error-messages  for="form.geschaeftsgewinnBasisjahr.$error" class="error"></dv-error-messages>
                            <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().geschaeftsgewinnBasisjahr"
                                       ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().geschaeftsgewinnBasisjahr"></dv-bisher>
                        </dv-input-container>
                    </div>
                </div>

                <!-- Geschäftsgewinn Basisjahr-1 -->
                <div class="row">
                    <div class="col-md-6">
                        <dv-input-container class="form-group">
                            <label data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_BASISJAHRMINUS1" for="geschaeftsgewinnBasisjahrMinus1"
                                   translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrToWorkWith() - 1}}}"></label>
                            <input id="geschaeftsgewinnBasisjahrMinus1" type="text" name="geschaeftsgewinnBasisjahrMinus1" ui-number-mask="0"
                                   ng-model="vm.geschaeftsgewinnBasisjahrMinus1"
                                   dv-max-length max="999999999999" class="form-control" disabled ui-negative-number>
                            <dv-error-messages  for="form.geschaeftsgewinnBasisjahrMinus1.$error" class="error"></dv-error-messages>
                        </dv-input-container>
                    </div>
                </div>

                <!-- Geschäftsgewinn Basisjahr-2 -->
                <div class="row">
                    <div class="col-md-6">
                        <dv-input-container class="form-group">
                            <label data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_BASISJAHRMINUS2" for="geschaeftsgewinnBasisjahrMinus2"
                                   translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrToWorkWith()-2}}}"></label>
                            <input id="geschaeftsgewinnBasisjahrMinus2" type="text" name="geschaeftsgewinnBasisjahrMinus2" ui-number-mask="0"
                                   ng-model="vm.geschaeftsgewinnBasisjahrMinus2"
                                   dv-max-length max="999999999999" class="form-control" disabled ui-negative-number>
                            <dv-error-messages  for="form.geschaeftsgewinnBasisjahrMinus2.$error" class="error"></dv-error-messages>
                        </dv-input-container>
                    </div>
                </div>

                <!-- Durchschnitt Geschäftsgewinn -->
                <div class="row">
                    <div class="col-md-6">
                        <dv-input-container class="form-group" ng-if="vm.gesuchModelManager.gesuchstellerNumber === 1">
                            <label data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_DURCHSCHNITT" for="geschaeftsgewinnDurchschnittGS1"></label>
                            <input id="geschaeftsgewinnDurchschnittGS1" type="text" name="geschaeftsgewinnDurchschnittGS1" ui-number-mask="0"
                                   ng-model="vm.getResultate().geschaeftsgewinnDurchschnittGesuchsteller1"
                                   dv-max-length max="999999999999" class="form-control" disabled>
                        </dv-input-container>
                        <dv-input-container class="form-group" ng-if="vm.gesuchModelManager.gesuchstellerNumber === 2">
                            <label data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_DURCHSCHNITT" for="geschaeftsgewinnDurchschnittGS2"></label>
                            <input id="geschaeftsgewinnDurchschnittGS2" type="text" name="geschaeftsgewinnDurchschnittGS2" ui-number-mask="0"
                                   ng-model="vm.getResultate().geschaeftsgewinnDurchschnittGesuchsteller2"
                                   dv-max-length max="999999999999" class="form-control" disabled>
                        </dv-input-container>
                    </div>
                </div>
            </div>

            <hr/>

            <!-- Geleistete Alimente -->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="FINANZIELLE_SITUATION_GELEISTETEALIMENTE" for="geleisteteAlimente"></label>
                        <input id="geleisteteAlimente" type="text" name="geleisteteAlimente" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().geleisteteAlimente"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.geleisteteAlimente.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith_GS().geleisteteAlimente"
                                   ja="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().geleisteteAlimente"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- -------------------------------------------Navigation--------------------------------------------  -->
            <div class="row">
                <div class="col-md-4 ">
                    <dv-loading-button button-click="vm.previousStep()" button-class="btn btn-link previous">
                        <span class="fa fa-chevron-left"></span>
                        <span data-translate="ZURUECK_UPPER"></span>
                    </dv-loading-button>
                </div>
                <div class="col-md-2">
                    <a href="#" id="cancelLink" data-translate="CANCEL"
                       ng-click="vm.resetForm(); form.$setPristine();form.$setUntouched();"></a>
                </div>
                <div class="col-md-4 text-right">
                    <dv-loading-button type="submit" button-class="btn btn-link next">
                        <span data-translate="SPEICHERN_UPPER"></span>
                        <span class="fa fa-chevron-right"></span>
                    </dv-loading-button>
                </div>
            </div>

        </form>

    </div>

</div>
