<div class="finanzielleSituation row">
    <div class="col-md-12">

        <h4 class="mainTitle">
            <span data-translate="FINANZIELLE_SITUATION" translate-values="{basisjahr: vm.gesuchModelManager.getBasisjahr()}"></span>
        </h4>
        <hr class="header"/>
        <form ng-submit="vm.submit(form)" role="form" name="form" class="" unsaved-warning-form="" novalidate>

            <!--Steuerveranlagung -->
            <div class="row">
                <div class="col-md-6" ng-if="vm.showSteuerveranlagung()">
                    <div class="form-group">
                        <h4 class="mainQuestion" data-translate="FINANZIELLE_SITUATION_STEUERVERANLAGUNG"
                            translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahr()}}}"></h4>
                        <dv-radio-container name="steuerveranlagung"    class="input-element"
                                            ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().steuerveranlagungErhalten"
                                            ng-required="true" class="radio" ng-change="vm.steuerveranlagungClicked()">
                        </dv-radio-container>
                        <dv-error-messages  for="form.steuerveranlagung.$error" class="error"></dv-error-messages>
                    </div>
                </div>
            </div>

            <!--Steuererklärung -->
            <div class="row">
                <div class="col-md-6" ng-if="vm.showSteuerveranlagung() && vm.showSteuererklaerung()">
                    <div class="form-group">
                        <h4 class="mainQuestion" data-translate="FINANZIELLE_SITUATION_STEUERERKLAERUNG"
                            translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahr()}}}"></h4>
                        <dv-radio-container name="steuererklaerung"   class="input-element"
                                            ng-model="vm.this.gesuchModelManager.getEinkommensverschlechterungToWorkWith().steuererklaerungAusgefuellt"
                                            ng-required="true" class="radio">
                        </dv-radio-container>
                        <dv-error-messages  for="form.steuererklaerung.$error" class="error"></dv-error-messages>
                    </div>
                </div>
            </div>

            <!-- Infotext -->
            <p class="inlineHint" data-translate="FINANZIELLE_SITUATION_HINT1" translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahr()}}}"></p>
            <p class="inlineHint" data-translate="FINANZIELLE_SITUATION_HINT2" translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahr()}}}"></p>

            <!-- Gesuchsteller -->
            <h5 class="subTitle">
                <span>{{vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().getFullName()}}</span><!--{{vm.gesuchModelManager.gesuchstellerNumber}}-->
            </h5>

            <!-- Nettolohn -->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="FINANZIELLE_SITUATION_NETTOLOHN" for="nettolohn"></label>
                        <input id="nettolohn" type="text" name="nettolohn" ui-number-mask="0"
                               ng-model="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohn"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.nettolohn.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.gesuchModelManager.getEinkommensverschlechterungToWorkWith().nettolohn"
                                   ja="vm.getModel().finanzielleSituationJA.nettolohn"
                                   sv="vm.getModel().finanzielleSituationSV.nettolohn"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Familienzulage -->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="FINANZIELLE_SITUATION_FAMILIENZULAGE" for="familienzulage"></label>
                        <input id="familienzulage" type="text" name="familienzulage" ui-number-mask="0"
                               ng-model="vm.getModel().finanzielleSituationSV.familienzulage"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.familienzulage.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.getModel().finanzielleSituationGS.familienzulage"
                                   ja="vm.getModel().finanzielleSituationJA.familienzulage"
                                   sv="vm.getModel().finanzielleSituationSV.familienzulage"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Ersatzeinkommen -->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="FINANZIELLE_SITUATION_ERSATZEINKOMMEN" for="ersatzeinkommen"></label>
                        <input id="ersatzeinkommen" type="text" name="ersatzeinkommen" ui-number-mask="0"
                               ng-model="vm.getModel().finanzielleSituationSV.ersatzeinkommen"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.ersatzeinkommen.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.getModel().finanzielleSituationGS.ersatzeinkommen"
                                   ja="vm.getModel().finanzielleSituationJA.ersatzeinkommen"
                                   sv="vm.getModel().finanzielleSituationSV.ersatzeinkommen"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Erhaltene Alimente -->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="FINANZIELLE_SITUATION_ERHALTENEALIMENTE" for="erhalteneAlimente"></label>
                        <input id="erhalteneAlimente" type="text" name="erhalteneAlimente" ui-number-mask="0"
                               ng-model="vm.getModel().finanzielleSituationSV.erhalteneAlimente"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.erhalteneAlimente.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.getModel().finanzielleSituationGS.erhalteneAlimente"
                                   ja="vm.getModel().finanzielleSituationJA.erhalteneAlimente"
                                   sv="vm.getModel().finanzielleSituationSV.erhalteneAlimente"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <hr/>

            <!--Checkbox Selbstaendigkeit -->
            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <md-checkbox ng-model="vm.getModel().finanzielleSituationSV.selbstaendig" name="selbstaendig" aria-label="{{FINANZIELLE_SITUATION_SELBSTAENDIGKEIT|translate}}">
                            <span data-translate="FINANZIELLE_SITUATION_SELBSTAENDIGKEIT"></span>
                        </md-checkbox>
                        <dv-error-messages  for="form.selbstaendig.$error" class="error"></dv-error-messages>
                    </div>
                </div>
            </div>

            <!-- Geschaeftsgewinn Basisjahr -->
            <div class="row">
                <div class="col-md-6" ng-if="vm.showSelbstaendig()">
                    <dv-input-container class="form-group">
                        <label data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_BASISJAHR" for="geschaeftsgewinnBasisjahr"
                               translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahr()}}}"></label>
                        <input id="geschaeftsgewinnBasisjahr" type="text" name="geschaeftsgewinnBasisjahr" ui-number-mask="0"
                               ng-model="vm.getModel().finanzielleSituationSV.geschaeftsgewinnBasisjahr" ng-blur="vm.calculate()"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.geschaeftsgewinnBasisjahr.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.getModel().finanzielleSituationGS.geschaeftsgewinnBasisjahr"
                                   ja="vm.getModel().finanzielleSituationJA.geschaeftsgewinnBasisjahr"
                                   sv="vm.getModel().finanzielleSituationSV.geschaeftsgewinnBasisjahr"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Geschäftsgewinn Basisjahr-1 -->
            <div class="row">
                <div class="col-md-6" ng-if="vm.showSelbstaendig()">
                    <dv-input-container class="form-group">
                        <label data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_BASISJAHRMINUS1" for="geschaeftsgewinnBasisjahrMinus1"
                               translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahr()-1}}}"></label>
                        <input id="geschaeftsgewinnBasisjahrMinus1" type="text" name="geschaeftsgewinnBasisjahrMinus1" ui-number-mask="0"
                               ng-model="vm.getModel().finanzielleSituationSV.geschaeftsgewinnBasisjahrMinus1" ng-blur="vm.calculate()"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.geschaeftsgewinnBasisjahrMinus1.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.getModel().finanzielleSituationGS.geschaeftsgewinnBasisjahrMinus1"
                                   ja="vm.getModel().finanzielleSituationJA.geschaeftsgewinnBasisjahrMinus1"
                                   sv="vm.getModel().finanzielleSituationSV.geschaeftsgewinnBasisjahrMinus1"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Geschäftsgewinn Basisjahr-2 -->
            <div class="row">
                <div class="col-md-6" ng-if="vm.showSelbstaendig()">
                    <dv-input-container class="form-group">
                        <label data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_BASISJAHRMINUS2" for="geschaeftsgewinnBasisjahrMinus2"
                               translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahr()-2}}}"></label>
                        <input id="geschaeftsgewinnBasisjahrMinus2" type="text" name="geschaeftsgewinnBasisjahrMinus2" ui-number-mask="0"
                               ng-model="vm.getModel().finanzielleSituationSV.geschaeftsgewinnBasisjahrMinus2" ng-blur="vm.calculate()"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.geschaeftsgewinnBasisjahrMinus2.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.getModel().finanzielleSituationGS.geschaeftsgewinnBasisjahrMinus2"
                                   ja="vm.getModel().finanzielleSituationJA.geschaeftsgewinnBasisjahrMinus2"
                                   sv="vm.getModel().finanzielleSituationSV.geschaeftsgewinnBasisjahrMinus2"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!-- Durchschnitt Geschäftsgewinn -->
            <div class="row">
                <div class="col-md-6" ng-if="vm.showSelbstaendig()">
                    <dv-input-container class="form-group" ng-if="vm.gesuchModelManager.gesuchstellerNumber === 1">
                        <label data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_DURCHSCHNITT" for="geschaeftsgewinnDurchschnittGS1"></label>
                        <input id="geschaeftsgewinnDurchschnittGS1" type="text" name="geschaeftsgewinnDurchschnittGS1" ui-number-mask="0"
                               ng-model="vm.getResultate().geschaeftsgewinnDurchschnittGesuchsteller1"
                               dv-max-length max="999999999999" class="form-control" disabled>
                    </dv-input-container>
                    <dv-input-container class="form-group" ng-if="vm.gesuchModelManager.gesuchstellerNumber === 2">
                        <label data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_DURCHSCHNITT" for="geschaeftsgewinnDurchschnittGS2"></label>
                        <input id="geschaeftsgewinnDurchschnittGS2" type="text" name="geschaeftsgewinnDurchschnittGS2" ui-number-mask="0"
                               ng-model="vm.getResultate().geschaeftsgewinnDurchschnittGesuchsteller2"
                               dv-max-length max="999999999999" class="form-control" disabled>
                    </dv-input-container>
                </div>
            </div>

            <hr/>

            <!-- Geleistete Alimente -->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="FINANZIELLE_SITUATION_GELEISTETEALIMENTE" for="geleisteteAlimente"></label>
                        <input id="geleisteteAlimente" type="text" name="geleisteteAlimente" ui-number-mask="0"
                               ng-model="vm.getModel().finanzielleSituationSV.geleisteteAlimente"
                               dv-max-length max="999999999999" class="form-control">
                        <dv-error-messages  for="form.geleisteteAlimente.$error" class="error"></dv-error-messages>
                        <dv-bisher gs="vm.getModel().finanzielleSituationGS.geleisteteAlimente"
                                   ja="vm.getModel().finanzielleSituationJA.geleisteteAlimente"
                                   sv="vm.getModel().finanzielleSituationSV.geleisteteAlimente"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!--Buttons-->
            <div class="row">
                <div class="col-md-4 ">
                    <button ng-click="vm.previousStep()" class="btn btn-link previous">
                        <span class="fa fa-chevron-left"></span>
                        <span data-translate="ZURUECK_UPPER"></span>
                    </button>
                </div>
                <div class="col-md-2">
                    <a href="#" id="cancelLink" data-translate="CANCEL"
                       ng-click="vm.resetForm(); form.$setPristine();form.$setUntouched();"></a>
                </div>
                <div class="col-md-4 text-right">
                    <button type="submit" class="btn btn-link next">
                        <span data-translate="SPEICHERN_UPPER"></span>
                        <span class="fa fa-chevron-right"></span>
                    </button>
                </div>
            </div>

        </form>

        <!--<pre>{{ vm.getModel() |json}}</pre>-->

        <!--<pre>{{ vm.getResultate() |json}}</pre>-->

    </div>

</div>
