<!--suppress ALL -->
<div class="finanzielleSituation gesuchModul">
    <div class="row viewTitle">
        <div class="col-md-12">

            <h1>
            <span data-translate="EKVI_EINKOMMENSVERSCHLECHTERUNG_FUER_BASISJAHR"
                  translate-values="{basisjahr: vm.gesuchModelManager.getBasisjahrToWorkWith(), gesuchsteller:vm.gesuchModelManager.getStammdatenToWorkWith().extractFullName()}"></span>
            </h1>
            <hr class="header"/>
            <!-- Infotext -->
            <p class="inlineHint" data-translate="EKVI__HINT_STEUERERKLAERUNG"
               translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrToWorkWith()}}}"
               ng-if="vm.showHintSteuererklaerung()"></p>
            <p class="inlineHint" data-translate="EKVI__HINT_VERANLAGUNGSVERFUEGUNG"
               translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrToWorkWith()}}}"
               ng-if="vm.showHintSteuerveranlagung()"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" name="vm.form" class="" unsaved-warning-form="" novalidate>
                <fieldset ng-disabled="vm.isGesuchReadonly()">

                    <!--Steuerveranlagung -->
                    <div class="row">
                        <div class="col-xs-12 dv-input-container-question" ng-if="vm.showSteuerveranlagung()">
                            <div class="form-group">
                                <h1 class="required" data-translate="FINANZIELLE_SITUATION_STEUERVERANLAGUNG"
                                    translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrToWorkWith()}}}"></h1>
                                <dv-radio-container name="steuerveranlagung"
                                                    ng-model="vm.model.getEkvToWorkWith().steuerveranlagungErhalten"
                                                    ng-required="true" class="radio input-element"
                                                    ng-change="vm.steuerveranlagungClicked()"
                                                    dv-enable-element
                                                    dv-enable-allowed-roles="vm.allowedRoles"
                                                    dv-enable-expression="!vm.isGesuchReadonly() && !vm.isKorrekturModusJugendamt()">
                                </dv-radio-container>
                                <dv-error-messages for="vm.form.steuerveranlagung.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>

                    <!--Steuererklärung -->
                    <div class="row">
                        <div class="col-xs-12 dv-input-container-question"
                             ng-if="vm.showSteuerveranlagung() && vm.showSteuererklaerung()">
                            <div class="form-group">
                                <h1 class="required" data-translate="FINANZIELLE_SITUATION_STEUERERKLAERUNG"
                                    translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrToWorkWith()}}}"></h1>
                                <dv-radio-container name="steuererklaerung"
                                                    ng-model="vm.model.getEkvToWorkWith().steuererklaerungAusgefuellt"
                                                    ng-required="true" class="radio input-element"
                                                    dv-enable-element
                                                    dv-enable-allowed-roles="vm.allowedRoles"
                                                    dv-enable-expression="!vm.isGesuchReadonly() && !vm.isKorrekturModusJugendamt()">
                                </dv-radio-container>
                                <dv-error-messages for="vm.form.steuererklaerung.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>


                    <!-- Nettolohn Jan-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EKVI_NETTOLOHN_JANUARY"
                                       for="nettolohn_Jan"></label>
                                <dv-valueinput input-id="nettolohn_Jan"
                                               name="nettolohn_Jan"
                                               ng-model="vm.model.getEkvToWorkWith().nettolohnJan"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().nettolohnJan"
                                    ja="vm.model.getEkvToWorkWith().nettolohnJan"></dv-bisher>
                                <dv-error-messages for="vm.form.nettolohn_Jan.$error" class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Nettolohn Feb-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EKVI_NETTOLOHN_FEBRUARY"
                                       for="nettolohn_Feb"></label>
                                <dv-valueinput input-id="nettolohn_Feb"
                                               name="nettolohn_Feb"
                                               ng-model="vm.model.getEkvToWorkWith().nettolohnFeb"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().nettolohnFeb"
                                    ja="vm.model.getEkvToWorkWith().nettolohnFeb"></dv-bisher>
                                <dv-error-messages for="vm.form.nettolohn_Feb.$error" class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Nettolohn Mrz-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EKVI_NETTOLOHN_MARCH"
                                       for="nettolohn_Mrz"></label>
                                <dv-valueinput input-id="nettolohn_Mrz"
                                               name="nettolohn_Mrz"
                                               ng-model="vm.model.getEkvToWorkWith().nettolohnMrz"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().nettolohnMrz"
                                    ja="vm.model.getEkvToWorkWith().nettolohnMrz"></dv-bisher>
                                <dv-error-messages for="vm.form.nettolohn_Mrz.$error" class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Nettolohn Apr-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EKVI_NETTOLOHN_APRIL"
                                       for="nettolohn_Apr"></label>
                                <dv-valueinput input-id="nettolohn_Apr"
                                               name="nettolohn_Apr"
                                               ng-model="vm.model.getEkvToWorkWith().nettolohnApr"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().nettolohnApr"
                                    ja="vm.model.getEkvToWorkWith().nettolohnApr"></dv-bisher>
                                <dv-error-messages for="vm.form.nettolohn_Apr.$error" class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Nettolohn Mai-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EKVI_NETTOLOHN_MAY"
                                       for="nettolohn_Mai"></label>
                                <dv-valueinput input-id="nettolohn_Mai"
                                               name="nettolohn_Mai"
                                               ng-model="vm.model.getEkvToWorkWith().nettolohnMai"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().nettolohnMai"
                                    ja="vm.model.getEkvToWorkWith().nettolohnMai"></dv-bisher>
                                <dv-error-messages for="vm.form.nettolohn_Mai.$error" class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Nettolohn Jun-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EKVI_NETTOLOHN_JUNE"
                                       for="nettolohn_Jun"></label>
                                <dv-valueinput input-id="nettolohn_Jun"
                                               name="nettolohn_Jun"
                                               ng-model="vm.model.getEkvToWorkWith().nettolohnJun"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().nettolohnJun"
                                    ja="vm.model.getEkvToWorkWith().nettolohnJun"></dv-bisher>
                                <dv-error-messages for="vm.form.nettolohn_Jun.$error" class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Nettolohn Jul-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EKVI_NETTOLOHN_JULY"
                                       for="nettolohn_Jul"></label>
                                <dv-valueinput input-id="nettolohn_Jul"
                                               name="nettolohn_Jul"
                                               ng-model="vm.model.getEkvToWorkWith().nettolohnJul"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().nettolohnJul"
                                    ja="vm.model.getEkvToWorkWith().nettolohnJul"></dv-bisher>
                                <dv-error-messages for="vm.form.nettolohn_Jul.$error" class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Nettolohn Aug-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EKVI_NETTOLOHN_AUGUST"
                                       for="nettolohn_Aug"></label>
                                <dv-valueinput input-id="nettolohn_Aug"
                                               name="nettolohn_Aug"
                                               ng-model="vm.model.getEkvToWorkWith().nettolohnAug"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().nettolohnAug"
                                    ja="vm.model.getEkvToWorkWith().nettolohnAug"></dv-bisher>
                                <dv-error-messages for="vm.form.nettolohn_Aug.$error" class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Nettolohn Sep-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EKVI_NETTOLOHN_SEPTEMBER"
                                       for="nettolohn_Sep"></label>
                                <dv-valueinput input-id="nettolohn_Sep"
                                               name="nettolohn_Sep"
                                               ng-model="vm.model.getEkvToWorkWith().nettolohnSep"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().nettolohnSep"
                                    ja="vm.model.getEkvToWorkWith().nettolohnSep"></dv-bisher>
                                <dv-error-messages for="vm.form.nettolohn_Sep.$error" class="error"></dv-error-messages>

                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Nettolohn Okt-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EKVI_NETTOLOHN_OCTOBER"
                                       for="nettolohn_Okt"></label>
                                <dv-valueinput input-id="nettolohn_Okt"
                                               name="nettolohn_Okt"
                                               ng-model="vm.model.getEkvToWorkWith().nettolohnOkt"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().nettolohnOkt"
                                    ja="vm.model.getEkvToWorkWith().nettolohnOkt"></dv-bisher>
                                <dv-error-messages for="vm.form.nettolohn_Okt.$error" class="error"></dv-error-messages>

                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Nettolohn Nov-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EKVI_NETTOLOHN_NOVEMBER"
                                       for="nettolohn_Nov"></label>
                                <dv-valueinput input-id="nettolohn_Nov"
                                               name="nettolohn_Nov"
                                               ng-model="vm.model.getEkvToWorkWith().nettolohnNov"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().nettolohnNov"
                                    ja="vm.model.getEkvToWorkWith().nettolohnNov"></dv-bisher>
                                <dv-error-messages for="vm.form.nettolohn_Nov.$error" class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Nettolohn Dez-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EKVI_NETTOLOHN_DECEMBER"
                                       for="nettolohn_Dez"></label>
                                <dv-valueinput input-id="nettolohn_Dez"
                                               name="nettolohn_Dez"
                                               ng-model="vm.model.getEkvToWorkWith().nettolohnDez"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().nettolohnDez"
                                    ja="vm.model.getEkvToWorkWith().nettolohnDez"></dv-bisher>
                                <dv-error-messages for="vm.form.nettolohn_Dez.$error" class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Nettolohn Zus-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EKVI_NETTOLOHN_ZUS"
                                       for="nettolohn_Zus"></label>
                                <dv-valueinput input-id="nettolohn_Zus"
                                               name="nettolohn_Zus"
                                               ng-model="vm.model.getEkvToWorkWith().nettolohnZus"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().nettolohnZus"
                                    ja="vm.model.getEkvToWorkWith().nettolohnZus"></dv-bisher>
                                <dv-error-messages for="vm.form.nettolohn_Zus.$error" class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Familienzulage -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" for="familienzulage">
                                    <span data-translate="FINANZIELLE_SITUATION_FAMILIENZULAGE"></span>
                                    <dv-tooltip
                                        text="'EINKOMMENSVERSCHLECHTERUNG_FAMILIENZULAGE_HELP' | translate"></dv-tooltip>
                                </label>
                                <dv-valueinput input-id="familienzulage"
                                               name="familienzulage"
                                               ng-model="vm.model.getEkvToWorkWith().familienzulage"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().familienzulage"
                                    ja="vm.model.getEkvToWorkWith().familienzulage"></dv-bisher>
                                <dv-error-messages for="vm.form.familienzulage.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Ersatzeinkommen -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" for="ersatzeinkommen">
                                    <span data-translate="FINANZIELLE_SITUATION_ERSATZEINKOMMEN"></span>
                                    <dv-tooltip
                                        text="'EINKOMMENSVERSCHLECHTERUNG_ERSATZEINKOMMEN_HELP' | translate"></dv-tooltip>
                                </label>
                                <dv-valueinput input-id="ersatzeinkommen"
                                               name="ersatzeinkommen"
                                               ng-model="vm.model.getEkvToWorkWith().ersatzeinkommen"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().ersatzeinkommen"
                                    ja="vm.model.getEkvToWorkWith().ersatzeinkommen"></dv-bisher>
                                <dv-error-messages for="vm.form.ersatzeinkommen.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Erhaltene Alimente -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" for="erhalteneAlimente">
                                    <span data-translate="FINANZIELLE_SITUATION_ERHALTENEALIMENTE"></span>
                                    <dv-tooltip
                                        text="'EINKOMMENSVERSCHLECHTERUNG_ERHALTENEALIMENTE_HELP' | translate"></dv-tooltip>
                                </label>
                                <dv-valueinput input-id="erhalteneAlimente"
                                               name="erhalteneAlimente"
                                               ng-model="vm.model.getEkvToWorkWith().erhalteneAlimente"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().erhalteneAlimente"
                                    ja="vm.model.getEkvToWorkWith().erhalteneAlimente"></dv-bisher>
                                <dv-error-messages for="vm.form.erhalteneAlimente.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>


                    <!--Checkbox Selbstaendigkeit -->
                    <div class="row">
                        <div class="col-xs-12 dv-input-container-question">
                            <div class="checkbox">
                                <md-checkbox ng-model="vm.showSelbstaendig" name="showSelbstaendig"
                                             aria-label="{{FINANZIELLE_SITUATION_SELBSTAENDIGKEIT | translate}}"
                                             ng-change="vm.showSelbstaendigClicked()"
                                             ng-disabled="evm.gesuchModelManager.getStammdatenToWorkWith().finanzielleSituationContainer.finanzielleSituationJA.isSelbstaendig() || vm.isGesuchReadonly()">
                                    <span data-translate="FINANZIELLE_SITUATION_SELBSTAENDIGKEIT"></span>
                                </md-checkbox>
                                <dv-tooltip
                                    text="'EINKOMMENSVERSCHLECHTERUNG_SELBSTAENDIGKEIT_HELP' | translate"></dv-tooltip>
                                <dv-bisher gs="vm.showSelbstaendigGS" class="dv-bisher-break"
                                           ja="vm.showSelbstaendig"
                                           specific-bisher-text="vm.getTextSelbstaendigKorrektur()"></dv-bisher>
                                <div class="dv-error-messages"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Geschaeftsgewinn Basisjahr -->
                    <div ng-if="vm.showSelbstaendig">
                        <div class="row">
                            <div class="col-sm-12 dv-input-container-small">
                                <dv-input-container class="form-group">
                                    <label class="md-no-float"
                                           data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_BASISJAHR"
                                           for="geschaeftsgewinnBasisjahr"
                                           translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrToWorkWith()}}}"></label>
                                    <dv-valueinput input-id="geschaeftsgewinnBasisjahr"
                                                   name="geschaeftsgewinnBasisjahr"
                                                   ng-model="vm.model.getEkvToWorkWith().geschaeftsgewinnBasisjahr"
                                                   allow-negative=true
                                                   dv-on-blur="vm.calculate()"
                                                   class="input-element">
                                    </dv-valueinput>

                                    <dv-bisher
                                        gs="vm.model.getEkvToWorkWith_GS().geschaeftsgewinnBasisjahr"
                                        ja="vm.model.getEkvToWorkWith().geschaeftsgewinnBasisjahr"
                                        show-if-bisher-none="false"
                                        block-existed="vm.showSelbstaendigGS === true"></dv-bisher>
                                    <dv-error-messages for="vm.form.geschaeftsgewinnBasisjahr.$error"
                                                       class="error"></dv-error-messages>
                                </dv-input-container>
                            </div>
                        </div>

                        <!-- Geschäftsgewinn Basisjahr-1 - disabled only show value vor bj-1-->
                        <div class="row" ng-if="!vm.enableGeschaeftsgewinnBasisjahrMinus1()">
                            <div class="col-sm-12 dv-input-container-small">
                                <dv-input-container class="form-group">
                                    <label class="md-no-float"
                                           data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_BASISJAHRMINUS1"
                                           for="geschaeftsgewinnBasisjahrMinus1"
                                           translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrToWorkWith() - 1}}}"></label>
                                    <dv-valueinput input-id="geschaeftsgewinnBasisjahrMinus1"
                                                   name="geschaeftsgewinnBasisjahrMinus1"
                                                   ng-model="vm.geschaeftsgewinnBasisjahrMinus1"
                                                   allow-negative=true
                                                   class="input-element"
                                                   ng-disabled=true>
                                    </dv-valueinput>
                                    <div class="dv-error-messages"></div>
                                </dv-input-container>
                            </div>
                        </div>

                        <!-- Geschäftsgewinn Basisjahr-1  - geschaeftsgewinnBasisjahrMinus1 -->
                        <div class="row" ng-if="vm.enableGeschaeftsgewinnBasisjahrMinus1()">
                            <div class="col-sm-12 dv-input-container-small">
                                <dv-input-container class="form-group">
                                    <label class="md-no-float"
                                           data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_BASISJAHRMINUS1"
                                           for="geschaeftsgewinnBasisjahrMinus1"
                                           translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrToWorkWith() - 1}}}"></label>
                                    <dv-valueinput input-id="geschaeftsgewinnBasisjahrMinus1"
                                                   name="geschaeftsgewinnBasisjahrMinus1"
                                                   ng-model="vm.model.getEkvToWorkWith().geschaeftsgewinnBasisjahrMinus1"
                                                   allow-negative=true
                                                   class="input-element"
                                                   dv-on-blur="vm.calculate()">
                                    </dv-valueinput>
                                    <dv-bisher
                                        gs="vm.geschaeftsgewinnBasisjahrMinus1GS"
                                        ja="vm.geschaeftsgewinnBasisjahrMinus1"
                                        show-if-bisher-none="false"
                                        block-existed="vm.showSelbstaendigGS === true"></dv-bisher>
                                    <dv-error-messages for="vm.form.geschaeftsgewinnBasisjahrMinus1.$error"
                                                       class="error"></dv-error-messages>
                                </dv-input-container>
                            </div>
                        </div>

                        <!-- Geschäftsgewinn Basisjahr-2 -->
                        <div class="row">
                            <div class="col-sm-12 dv-input-container-small">
                                <dv-input-container class="form-group">
                                    <label class="md-no-float"
                                           data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_BASISJAHRMINUS2"
                                           for="geschaeftsgewinnBasisjahrMinus2"
                                           translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrToWorkWith()-2}}}"></label>
                                    <dv-valueinput input-id="geschaeftsgewinnBasisjahrMinus2"
                                                   name="geschaeftsgewinnBasisjahrMinus2"
                                                   ng-model="vm.geschaeftsgewinnBasisjahrMinus2"
                                                   allow-negative=true
                                                   class="input-element"
                                                   ng-disabled=true>
                                    </dv-valueinput>
                                    <div class="dv-error-messages"></div>
                                </dv-input-container>
                            </div>
                        </div>

                        <!-- Durchschnitt Geschäftsgewinn -->
                        <div class="row">
                            <div class="col-sm-12 dv-input-container-small">
                                <dv-input-container class="form-group"
                                                    ng-if="vm.gesuchModelManager.gesuchstellerNumber === 1">
                                    <label class="md-no-float"
                                           data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_DURCHSCHNITT"
                                           for="geschaeftsgewinnDurchschnittGS1"></label>
                                    <dv-valueinput input-id="geschaeftsgewinnDurchschnittGS1"
                                                   name="geschaeftsgewinnDurchschnittGS1"
                                                   ng-model="vm.getResultate().geschaeftsgewinnDurchschnittGesuchsteller1"
                                                   class="input-element"
                                                   ng-disabled=true>
                                    </dv-valueinput>
                                    <div class="dv-error-messages"></div>
                                </dv-input-container>
                                <dv-input-container class="form-group"
                                                    ng-if="vm.gesuchModelManager.gesuchstellerNumber === 2">
                                    <label class="md-no-float"
                                           data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_DURCHSCHNITT"
                                           for="geschaeftsgewinnDurchschnittGS2"></label>
                                    <dv-valueinput input-id="geschaeftsgewinnDurchschnittGS2"
                                                   name="geschaeftsgewinnDurchschnittGS2"
                                                   ng-model="vm.getResultate().geschaeftsgewinnDurchschnittGesuchsteller2"
                                                   class="input-element"
                                                   ng-disabled=true>
                                    </dv-valueinput>
                                    <div class="dv-error-messages"></div>
                                </dv-input-container>
                            </div>
                        </div>
                    </div>


                    <!-- Geleistete Alimente -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" for="geleisteteAlimente">
                                    <span data-translate="FINANZIELLE_SITUATION_GELEISTETEALIMENTE"></span>
                                    <dv-tooltip
                                        text="'FINANZIELLE_SITUATION_GELEISTETEALIMENTE_HELP' | translate"></dv-tooltip>
                                </label>
                                <dv-valueinput input-id="geleisteteAlimente"
                                               name="geleisteteAlimente"
                                               ng-model="vm.model.getEkvToWorkWith().geleisteteAlimente"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher
                                    gs="vm.model.getEkvToWorkWith_GS().geleisteteAlimente"
                                    ja="vm.model.getEkvToWorkWith().geleisteteAlimente"></dv-bisher>
                                <dv-error-messages for="vm.form.geleisteteAlimente.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                </fieldset>
                <!-- -------------------------------------------Navigation--------------------------------------------  -->
                <dv-navigation dv-previous="true" dv-next="true" dv-save="vm.save()" dv-sub-step="3">
                </dv-navigation>
            </form>
        </div>
    </div>
</div>
