<div class="statistikView">
    <div class="row marginTop50">
        <div class="col-md-10 col-md-offset-1">
            <!-- TODO: Remove Show-Off Inputs and replace with real ones-->
            <dv-accordion onlyone="true">
                <dv-accordion-tab title="GESUCHE" tabid="1">
                    <div class="row">
                        <div class="col-xs-3">
                            <dv-input-container class="form-group secondColumn">
                                <label class="md-no-float">von</label>
                                <input type="text" class="form-control"  >
                            </dv-input-container>
                        </div>
                        <div class="col-xs-3">
                            <dv-input-container class="form-group secondColumn">
                                <label class="md-no-float">bis</label>
                                <input type="text" class="form-control"  >
                            </dv-input-container>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="md-no-float">
                                    Periode
                                </label>
                                <div class="dv-select-style">
                                    <select ng-model=""
                                            ng-options=""
                                            class="form-control"
                                             >
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3" style="margin-top:3rem;">
                            <dv-loading-button style="margin-left:auto;margin-right:auto;width:13rem;">
                                <span>  GENERIEREN</span>
                            </dv-loading-button>
                        </div>
                    </div>
                </dv-accordion-tab>
                <dv-accordion-tab title="KINDER" tabid="2">
                    <div class="row">
                        <div class="col-xs-3">
                            <dv-input-container class="form-group secondColumn">
                                <label class="md-no-float">von</label>
                                <input type="text" class="form-control"  >
                            </dv-input-container>
                        </div>
                        <div class="col-xs-3">
                            <dv-input-container class="form-group secondColumn">
                                <label class="md-no-float">bis</label>
                                <input type="text" class="form-control"  >
                            </dv-input-container>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="md-no-float">
                                    Periode
                                </label>
                                <div class="dv-select-style">
                                    <select ng-model=""
                                            ng-options=""
                                            class="form-control"
                                             >
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3" style="margin-top:3rem;">
                            <dv-loading-button style="margin-left:auto;margin-right:auto;width:13rem;">
                                <span>  GENERIEREN</span>
                            </dv-loading-button>
                        </div>
                    </div>
                </dv-accordion-tab>
                <dv-accordion-tab title="GESUCHSTELLER" tabid="3">
                    <div class="row">
                        <div class="col-xs-3">
                            <dv-input-container class="form-group secondColumn">
                                <label class="md-no-float">von</label>
                                <input type="text" class="form-control"  >
                            </dv-input-container>
                        </div>
                        <div class="col-xs-3">
                            <dv-input-container class="form-group secondColumn">
                                <label class="md-no-float">bis</label>
                                <input type="text" class="form-control"  >
                            </dv-input-container>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="md-no-float">
                                    Periode
                                </label>
                                <div class="dv-select-style">
                                    <select ng-model=""
                                            ng-options=""
                                            class="form-control"
                                             >
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3" style="margin-top:3rem;">
                            <dv-loading-button style="margin-left:auto;margin-right:auto;width:13rem;">
                                <span>  GENERIEREN</span>
                            </dv-loading-button>
                        </div>
                    </div>
                </dv-accordion-tab>
                <dv-accordion-tab title="KANTON" tabid="4">
                    <div class="row">
                        <div class="col-xs-3">
                            <dv-input-container class="form-group secondColumn">
                                <label class="md-no-float">von</label>
                                <input type="text" class="form-control"  >
                            </dv-input-container>
                        </div>
                        <div class="col-xs-3">
                            <dv-input-container class="form-group secondColumn">
                                <label class="md-no-float">bis</label>
                                <input type="text" class="form-control"  >
                            </dv-input-container>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="md-no-float">
                                    Periode
                                </label>
                                <div class="dv-select-style">
                                    <select ng-model=""
                                            ng-options=""
                                            class="form-control"
                                             >
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3" style="margin-top:3rem;">
                            <dv-loading-button style="margin-left:auto;margin-right:auto;width:13rem;">
                                <span>  GENERIEREN</span>
                            </dv-loading-button>
                        </div>
                    </div>
                </dv-accordion-tab>
                <dv-accordion-tab title="GESUCHSTELLER-KINDER-BETREUUNG" tabid="5">
                    <div class="row">
                        <div class="col-xs-3">
                            <dv-input-container class="form-group secondColumn">
                                <label class="md-no-float">von</label>
                                <input type="text" class="form-control"  >
                            </dv-input-container>
                        </div>
                        <div class="col-xs-3">
                            <dv-input-container class="form-group secondColumn">
                                <label class="md-no-float">bis</label>
                                <input type="text" class="form-control"  >
                            </dv-input-container>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="md-no-float">
                                    Periode
                                </label>
                                <div class="dv-select-style">
                                    <select ng-model=""
                                            ng-options=""
                                            class="form-control"
                                             >
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3" style="margin-top:3rem;">
                            <dv-loading-button style="margin-left:auto;margin-right:auto;width:13rem;">
                                <span>  GENERIEREN</span>
                            </dv-loading-button>
                        </div>
                    </div>
                </dv-accordion-tab>
            </dv-accordion>
        </div>
    </div>
</div>
