<?xml version="1.0" encoding="UTF-8"?>
<!--suppress WebProperties -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">

	<display-name>ebegu-rest</display-name>

	<security-constraint>
		<display-name>SecurityConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>ebegu-web-protected-resources</web-resource-name>
			<url-pattern>/api/*</url-pattern>

		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<!--Achtung diese 2. Security constraint erlaubt wieder einige url-patterns die in der ersten geschuetzt wurden-->
	<security-constraint>
		<display-name>SecurityConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>ebegu-web-allowed-pattern</web-resource-name>
			<url-pattern>/api/v1/swagger.json</url-pattern>
			<url-pattern>/api/v1/login</url-pattern>
			<url-pattern>/api/v1/auth/login</url-pattern>
			<url-pattern>/api/v1/auth/logout</url-pattern>
			<url-pattern>/api/v1/auth/singleSignOn</url-pattern>
			<url-pattern>/api/v1/auth/singleLogout</url-pattern>
			<url-pattern>/api/v1/application-properties/public/*</url-pattern>
			<url-pattern>/api/v1/testfaelle/schulung/public/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<security-role>
		<description>pseude token for any role</description>
		<role-name>*</role-name>
	</security-role>
	<security-role>
		<role-name>SUPER_ADMIN</role-name>
	</security-role>
	<security-role>
		<role-name>ADMIN</role-name>
	</security-role>
	<security-role>
		<role-name>SACHBEARBEITER_JA</role-name>
	</security-role>
	<security-role>
		<role-name>SACHBEARBEITER_INSTITUTION</role-name>
	</security-role>
	<security-role>
		<role-name>SACHBEARBEITER_TRAEGERSCHAFT</role-name>
	</security-role>
	<security-role>
		<role-name>GESUCHSTELLER</role-name>
	</security-role>
	<security-role>
		<role-name>JURIST</role-name>
	</security-role>
	<security-role>
		<role-name>REVISOR</role-name>
	</security-role>
	<security-role>
		<role-name>STEUERAMT</role-name>
	</security-role>
	<security-role>
		<role-name>SCHULAMT</role-name>
	</security-role>


	<filter>
		<filter-name>javamelody</filter-name>
		<!-- Der Filter stellt aktuelle Monitoring-Infos unter /monitoring zur Verfuegung -->
		<!--<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>-->
		<!-- Wir benutzen unseren eigenen Filter in dem wir die IDs aus REST-Resourcen durch Platzhalter entfernen -->
		<filter-class>ch.dvbern.ebegu.api.util.EbeguMonitoringFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>javamelody</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>

	<!--servlets for iam-->
	<!-- Add one servlet entry like this per module -->
	<!--<servlet>-->
	<!--<servlet-name>fedletapplication</servlet-name>-->
	<!--<jsp-file>/fedletSampleApp.jsp</jsp-file>-->
	<!--</servlet>-->


	<!--Die hier definierten Servlets dienen Mehrheitlich dem SAML login-->
	<servlet>
		<servlet-name>fedletSloInit</servlet-name>
		<jsp-file>/saml2/jsp/spSingleLogoutInit.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>fedletSloSoap</servlet-name>
		<servlet-class>com.sun.identity.saml2.servlet.SPSingleLogoutServiceSOAP</servlet-class>
	</servlet>
	<servlet>
		<description>Dies ist das Servlet welche die SAML2 Antwort der IDP entegegennimmt</description>
		<servlet-name>fedletapplication</servlet-name>
		<servlet-class>ch.dvbern.ebegu.api.resource.authentication.FedletSamlServlet</servlet-class>
		<!--<jsp-file>/fedletSampleApp.jsp</jsp-file>-->
	</servlet>
	<servlet>
		<servlet-name>fedletlogout</servlet-name>
		<jsp-file>/logout.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>fedletSloRedirect</servlet-name>
		<jsp-file>/saml2/jsp/spSingleLogoutRedirect.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>fedletSloPOST</servlet-name>
		<jsp-file>/saml2/jsp/spSingleLogoutPOST.jsp</jsp-file>
	</servlet>

	<!-- Add one servlet mapping entry like this per module -->
	<servlet-mapping>
		<servlet-name>fedletapplication</servlet-name>
		<url-pattern>/fedletapplication</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fedletSloInit</servlet-name>
		<url-pattern>/fedletSloInit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fedletSloSoap</servlet-name>
		<url-pattern>/fedletSloSoap</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fedletlogout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fedletSloPOST</servlet-name>
		<url-pattern>/fedletSloPOST</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fedletSloRedirect</servlet-name>
		<url-pattern>/fedletSloRedirect</url-pattern>
	</servlet-mapping>


</web-app>
