<div class="betreuungView gesuchModul">
    <div class="row viewTitle">
        <div class="col-md-12">
            <h1>
                <!--eventuell nummer noch anders lesen per methode-->
                    <span data-translate="BETREUUNGSANGEBOT_NUMBER"
                          data-translate-value-kindname="{{vm.getKindModel().kindJA.getFullName()}}"
                          data-translate-value-betreuungnumber="{{vm.model.betreuungNummer}}"></span>
            </h1>
            <hr class="header"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form role="form" name="vm.form" class="" novalidate
                  unsaved-warning-form>

                    <!-- Nur fuer Institutionen/Traegerschaften eingeblendet-->
                    <div dv-show-element dv-show-allowed-roles="vm.TSRoleUtil.getTraegerschaftInstitutionRoles()">
                        <!--Geschlecht-->
                        <div class="row">
                            <div class="col-sm-12 dv-input-container-small form-group">
                                <label class="md-no-float" data-translate="GESCHLECHT"></label>
                                <input id="geschlecht_ID" type="text" name="geschlecht" ng-disabled="true"
                                       ng-value="vm.getKindModel().kindJA.geschlecht | translate" class="form-control">
                                <div class="dv-error-messages"></div>
                            </div>
                        </div>
                        <!--Geburtsdatum-->
                        <div class="row">
                            <div class="col-sm-12 dv-input-container-small form-group">
                                <label class="md-no-float" data-translate="GEBURTSDATUM"></label>
                                <input id="geburtsdatum_ID" type="text" name="geburtsdatum" ng-disabled="true"
                                       ng-value="vm.getKindModel().kindJA.geburtsdatum | amDateFormat : 'DD.MM.YYYY'"
                                       class="form-control">
                                <div class="dv-error-messages"></div>
                            </div>
                        </div>
                        <!--Fachstelle-->
                        <div ng-if="vm.getKindModel().hasPensumFachstelle()">
                            <div class="row">
                                <div class="col-sm-12 dv-input-container-medium form-group">
                                    <label class="md-no-float" data-translate="FACHSTELLE"></label>
                                    <input id="fachstelle_ID" type="text" name="fachstelle" ng-disabled="true"
                                           ng-value="vm.getKindModel().extractFachstelle().name"
                                           class="form-control">
                                    <div class="dv-error-messages"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 dv-input-container-small form-group">
                                    <label class="md-no-float" data-translate="BETREUUNGSPENSUM_FACHSTELLE"></label>
                                    <input id="pensumFachstelle_ID" type="text" name="pensumFachstelle" ng-disabled="true"
                                           ng-value="vm.getKindModel().extractPensumFachstelle().pensum"
                                           class="form-control">
                                    <div class="dv-error-messages"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 dv-input-container-small form-group">
                                    <label class="md-no-float" data-translate="VON"></label>
                                    <input id="pensumFachstelleGueltigAb_ID" type="text" name="pensumFachstelleGueltigAb" ng-disabled="true"
                                           ng-value="vm.getKindModel().extractPensumFachstelle().gueltigkeit.gueltigAb | amDateFormat : 'DD.MM.YYYY'"
                                           class="form-control">
                                    <div class="dv-error-messages"></div>
                                </div>
                                <div class="col-sm-6 dv-input-container-small form-group">
                                    <label class="md-no-float" data-translate="BIS"></label>
                                    <input id="pensumFachstelleGueltigBis_ID" type="text" name="pensumFachstelleGueltigBis" ng-disabled="true"
                                           ng-value="vm.getKindModel().extractPensumFachstelle().gueltigkeit.gueltigBis | amDateFormat : 'DD.MM.YYYY'"
                                           class="form-control">
                                    <div class="dv-error-messages"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                <fieldset ng-disabled="vm.isGesuchReadonly()">

                    <!--Betreuungsangebot (Mit diesem Wert filtern wir die Institutionen)-->
                    <div class="row marginTop20" ng-disabled="!vm.isEnabled()">
                        <div class="col-sm-12 dv-input-container-medium">
                            <div class="form-group">
                                <label class="md-no-float"
                                       for="betreuungsangebot">
                                    <span data-translate="BETREUUNGSANGEBOT_WAEHLEN" class="required"></span>
                                    <dv-tooltip text="'BETREUUNGSANGEBOT_WAEHLEN_HELP' | translate"></dv-tooltip>
                                </label>
                                <div class="dv-select-style">
                                    <select name="betreuungsangebot" id="betreuungsangebot"
                                            ng-model="vm.betreuungsangebot"
                                            class="form-control"
                                            ng-options="betreuungsangebot as betreuungsangebot.value for betreuungsangebot in vm.betreuungsangebotValues"
                                            ng-required="true" ng-disabled="!vm.isEnabled()"
                                            ng-change="vm.changedAngebot()">
                                    </select>
                                    <dv-error-messages for="vm.form.betreuungsangebot.$error"></dv-error-messages>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Institutionen-->
                    <div class="row" ng-if="vm.isEnabled() && !vm.isTagesschule()"
                         ng-disabled="!vm.isEnabled()">
                        <div class="col-sm-12 dv-input-container-medium form-group">
                            <label class="md-no-float required" data-translate="INSTITUTION" for="institution">
                            </label>
                            <div class="dv-select-style">
                                <select name="institution" id="institution" ng-model="vm.instStammId"
                                        class="form-control"
                                        ng-options="institutionSD.id as institutionSD.institution.name for institutionSD in vm.getInstitutionenSDList() | orderBy: 'institution.name'"
                                        ng-required="true" ng-change="vm.setSelectedInstitutionStammdaten()"
                                        ng-disabled="!vm.isEnabled()">
                                </select>
                                <dv-error-messages for="vm.form.institution.$error"></dv-error-messages>
                            </div>
                        </div>
                    </div>
                    <!-- Institiutionen wenn readonly als Textfeld anzeigen-->
                    <div class="row" ng-if="!vm.isEnabled() && !vm.isTagesschule()">
                        <div class="col-sm-12 dv-input-container-medium form-group">
                            <label class="md-no-float" data-translate="INSTITUTION" for="institution">
                            </label>
                            <input name="institution" id="institutioninput" type="text"
                                   ng-model="vm.getInstitutionSD().institution.name"
                                   class="form-control"
                                   ng-required="true"
                                   ng-disabled="!vm.isEnabled()">
                            <dv-error-messages for="vm.form.institutioninput.$error"
                                               class="error"></dv-error-messages>
                        </div>
                    </div>


                    <!--vertrag-->
                    <div class="row marginBottom50 marginTop20" dv-show-element
                         dv-show-allowed-roles="vm.TSRoleUtil.getAllRolesButTraegerschaftInstitution()"
                         dv-show-expression="!vm.isTagesschule()">
                        <div class="col-xs-12 dv-input-container-question">
                            <div class="checkbox">
                                <md-checkbox ng-model="vm.getBetreuungModel().vertrag" name="vertrag"
                                             required
                                             aria-label="{{'VERTRAG'|translate}}" ng-disabled="!vm.isEnabled()"
                                             ng-class="{true:'checkbox-error', false:''}[vm.flagErrorVertrag]">
                                    <span data-translate="VERTRAG"></span>
                                </md-checkbox>
                                <div class="dv-error-messages" ng-if="vm.flagErrorVertrag === true">
                                    <span data-translate="ERROR_VERTRAG_REQUIRED"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>

                <fieldset ng-disabled="vm.isGesuchReadonly() && !vm.isMutationsmeldungStatus">
                    <!--Diese Felder werden fuer Betreuungsangebottyp TAGESSCHULE ausgeblendet. Fuer alle anderen eingeblendet-->
                    <!--Nur Institutionen duerfen neue Pensen eintragen. Bei anderen Rollen werden nur die existierenden Pensen angezeigt-->
                    <div ng-if="!vm.isTagesschule()">
                        <fieldset dv-enable-element
                                  dv-enable-expression="(vm.isBetreuungsstatusWarten() && !vm.isSavingData) || vm.isMutationsmeldungStatus"
                                  dv-enable-allowed-roles="vm.TSRoleUtil.getTraegerschaftInstitutionRoles()">
                            <!--Betreuungspensen-->
                            <div ng-repeat="betpen in vm.getBetreuungspensen()">
                                <!--Betreuungspensum-->
                                <div class="row">
                                    <div class="col-sm-12 dv-input-container-small">
                                        <dv-input-container class="form-group">
                                            <label class="md-no-float" data-translate="BETREUUNGSPENSUM"
                                                   data-translate-value-betreuungspensumnumber="{{$index + 1}}"
                                                   for="betreuungspensum-{{$index}}"></label>
                                            <input id="betreuungspensum-{{$index}}" type="number"
                                                   name="betreuungspensum-{{$index}}"
                                                   ng-model="vm.getBetreuungspensum($index).betreuungspensumJA.pensum"
                                                   dv-max-length class="form-control"
                                                   ng-pattern="vm.CONSTANTS.PATTERN_PERCENTAGE"
                                                   ng-required="true"
                                                   ng-attr-placeholder="{{'PERCENTAGE_PLACEHOLDER' | translate}}">
                                            <!--<dv-bisher gs="vm.getBetreuungspensum($index).betreuungspensumGS.pensum"-->
                                                       <!--ja="vm.getBetreuungspensum($index).betreuungspensumJA.pensum"></dv-bisher>-->
                                            <dv-error-messages
                                                for="vm.form['betreuungspensum-' + $index].$error"></dv-error-messages>


                                        </dv-input-container>
                                    </div>
                                </div>

                                <!-- gueltig ab / gueltig bis -->
                                <div class="row">
                                    <div class="col-sm-12 dv-input-container-small">
                                        <dv-input-container class="form-group">
                                            <label class="md-no-float" data-translate="VON" for="datumAb-{{$index}}">
                                            </label>
                                            <dv-datepicker input-id="datumAb-{{$index}}" name="datumAb-{{$index}}"
                                                           class="input-element"
                                                           ng-model="vm.getBetreuungspensum($index).betreuungspensumJA.gueltigkeit.gueltigAb"
                                                           ng-required="true"
                                                           ng-attr-placeholder="{{'DATE_PLACEHOLDER' | translate}}">
                                            </dv-datepicker>
                                            <!--<dv-bisher-->
                                                <!--gs="vm.getBetreuungspensum($index).betreuungspensumGS.gueltigkeit.gueltigAb"-->
                                                <!--ja="vm.getBetreuungspensum($index).betreuungspensumJA.gueltigkeit.gueltigAb"></dv-bisher>-->
                                            <dv-error-messages
                                                for="vm.form['datumAb-' + $index].$error"></dv-error-messages>
                                        </dv-input-container>
                                    </div>

                                    <div class="col-sm-12 dv-input-container-small">
                                        <dv-input-container class="form-group">
                                            <label class="md-no-float" data-translate="BIS" for="datumBis-{{$index}}">
                                            </label>
                                            <dv-datepicker input-id="datumBis-{{$index}}" name="datumBis-{{$index}}"
                                                           class="input-element"
                                                           ng-model="vm.getBetreuungspensum($index).betreuungspensumJA.gueltigkeit.gueltigBis"
                                                           ng-required="false"
                                                           ng-attr-placeholder="{{'DATE_PLACEHOLDER' | translate}}">
                                            </dv-datepicker>
                                            <!--<dv-bisher-->
                                                <!--gs="vm.getBetreuungspensum($index).betreuungspensumGS.gueltigkeit.gueltigBis"-->
                                                <!--ja="vm.getBetreuungspensum($index).betreuungspensumJA.gueltigkeit.gueltigBis"></dv-bisher>-->
                                            <dv-error-messages
                                                for="vm.form['datumBis-' + $index].$error"></dv-error-messages>
                                        </dv-input-container>
                                    </div>
                                </div>

                                <!--Betreuungspensum entfernen. Wird nur angezeigt wenn status=AUSSTEHEND und es mehrere Betreuungspensen gibt und role=institution-->
                                <div class="row marginBottom60 dv-input-container-medium" dv-show-element
                                     dv-show-allowed-roles="vm.TSRoleUtil.getTraegerschaftInstitutionRoles()"
                                     dv-show-expression="($index > 0) || (vm.getBetreuungspensen().length > 1)">
                                    <div class="col-md-12">
                                        <dv-loading-button type="button"
                                                           button-click="vm.removeBetreuungspensum(betpen)"
                                                           button-class="dv-btn-operation"
                                                           button-disabled="!((vm.isBetreuungsstatusWarten() && !vm.isSavingData) || vm.isMutationsmeldungStatus)">
                                            <i class="fa fa-lg fa-trash-o"></i>
                                            <span data-translate="BETREUUNGSPENSUM_ENTFERNEN_INDEX"
                                                  data-translate-value-betreuungspensumnumber="{{$index + 1}}"></span>
                                        </dv-loading-button>
                                        <hr class="header"/>
                                    </div>
                                </div>
                            </div>

                            <!--Neues Betreuungspensum hinzufuegen-->
                            <div class="row" dv-show-element
                                 dv-show-allowed-roles="vm.TSRoleUtil.getTraegerschaftInstitutionRoles()"
                                 dv-show-expression="(vm.isBetreuungsstatusWarten() && !vm.isSavingData) || vm.isMutationsmeldungStatus">
                                <div class="col-md-12">
                                    <dv-loading-button type="button" button-click="vm.createBetreuungspensum()"
                                                       dv-enable-element
                                                       dv-enable-allowed-roles="vm.TSRoleUtil.getTraegerschaftInstitutionRoles()"
                                                       dv-enable-expression="vm.isEnabled()"
                                                       button-class="dv-btn-operation">
                                        <i class="fa fa-lg fa-plus-circle"></i>
                                        <span data-translate="BETREUUNGSPENSUM_ERFASSEN"></span>
                                    </dv-loading-button>
                                </div>
                            </div>

                            <!--grund Ablehnung-->
                            <div class="row marginTop20" dv-show-element
                                 dv-show-allowed-roles="vm.TSRoleUtil.getTraegerschaftInstitutionRoles()">
                                <div class="col-md-12 dv-input-container-medium">
                                    <dv-input-container class="form-group">
                                        <label class="md-no-float inlineHint" for="grundAblehnung"
                                               data-translate="GRUND_ABLEHNUNG"></label>
                                        <textarea md-no-autogrow class="form-control" rows="6" id="grundAblehnung"
                                                  ng-model="vm.getBetreuungModel().grundAblehnung"
                                                  ng-disabled="!vm.isBetreuungsstatusWarten() || vm.isSavingData">
                            </textarea>
                                    </dv-input-container>
                                </div>
                            </div>

                            <!--erweiterte Beduerfnisse-->
                            <div class="row marginTop40 marginBottom40" ng-if="vm.showErweiterteBeduerfnisse()">
                                <div class="col-xs-12 dv-input-container-question">
                                    <div class="checkbox">
                                        <md-checkbox ng-model="vm.getBetreuungModel().erweiterteBeduerfnisse"
                                                     name="erweiterteBeduerfnisse"
                                                     aria-label="{{'ERWEITERTE_BEDUERFNISSE'|translate}}" dv-enable-element
                                                     dv-enable-allowed-roles="vm.TSRoleUtil.getTraegerschaftInstitutionRoles()"
                                                     dv-enable-expression="(vm.isBetreuungsstatusWarten() && !vm.isSavingData) || vm.isMutationsmeldungStatus">
                                            <span data-translate="ERWEITERTE_BEDUERFNISSE"></span>
                                        </md-checkbox>
                                        <dv-error-messages
                                            for="vm.form.erweiterteBeduerfnisse.$error"></dv-error-messages>
                                    </div>
                                </div>
                            </div>
                        </fieldset>


                        <!-- Status texts -->
                        <div class="row">
                            <div class="col-md-12"
                                 ng-if="vm.isBetreuungsstatusWarten() && !vm.isSavingData">
                                <div class="well well-status-warten">
                                    <i class="fa fa-hourglass" aria-hidden="true"></i>
                                    <span data-translate="BETREUUNG_WARTEN_TEXT"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12"
                                 ng-if="vm.isBetreuungsstatusAbgewiesen() && !vm.isSavingData">
                                <div class=" well well-status-abgewiesen">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    <span data-translate="BETREUUNG_ABGEWIESEN_TEXT"
                                          data-translate-value-grund="{{vm.getBetreuungModel().grundAblehnung}}"
                                          data-translate-value-date="{{vm.getBetreuungModel().datumAblehnung  | amDateFormat : 'DD.MM.YYYY'}}">
                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"
                                 ng-if="vm.isBetreuungsstatusBestaetigt() && !vm.isSavingData">
                                <div class=" well well-status-bestaetigt">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span data-translate="BETREUUNG_BESTAETIGT_TEXT"
                                          data-translate-value-date="{{vm.getBetreuungModel().datumBestaetigung  | amDateFormat : 'DD.MM.YYYY'}}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"
                                 ng-if="vm.isBetreuungsstatusNichtEingetreten() && !vm.isSavingData">
                                <div class="well well-status-bestaetigt">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span data-translate="BETREUUNG_NICHT_EINGETRETEN_TEXT"
                                          data-translate-value-date="{{vm.getBetreuungModel().datumBestaetigung  | amDateFormat : 'DD.MM.YYYY'}}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"
                                 ng-if="vm.isGekuendigtVorAntritt() && !vm.isSavingData">
                                <div class="well well-status-bestaetigt">
                                    <i class="fa fa-exclamation " aria-hidden="true"></i>
                                    <span data-translate="BETREUUNG_GEKUENDINGT_VOR_ANTRITT_TEXT"></span>
                                </div>
                            </div>
                        </div>


                        <!--falsche Angaben-->
                        <div class="row" dv-show-element
                             dv-show-allowed-roles="vm.TSRoleUtil.getGesuchstellerJugendamtRoles()"
                             dv-show-expression="vm.showFalscheAngaben()">
                            <div class="col-md-12">
                                <a href="" ng-click="vm.platzAnfordern()"
                                   data-translate="FALSCHE_ANGABEN"></a>
                            </div>
                        </div>

                        <!--Angabe korrigieren-->
                        <div class="row" dv-show-element
                             dv-show-allowed-roles="vm.TSRoleUtil.getGesuchstellerJugendamtRoles()"
                             dv-show-expression="vm.showAngabeKorrigieren()">
                            <div class="col-md-12">
                                <a href="" ng-click="vm.platzAnfordern()"
                                   data-translate="ANGABEN_KORRIGIEREN"></a>
                            </div>
                        </div>


                        <!--Hint-->
                        <p class="inlineHint marginTop20" data-translate="BETREUUNGSPENSUM_HINT1"
                           dv-show-element dv-show-allowed-roles="vm.TSRoleUtil.getGesuchstellerRoles()"></p>

                    </div>
                </fieldset>

                <!--Buttons-->
                <!--Hier wird die Direktive dv-navigation nicht benutzt. Grund dafuer ist, dass die Logik in diesem Fall sehr kompliziert ist.
                    wenn wir die Direktive benutzen wollen muessen wir viel anpassen, daher lohnt es sich die Buttons direkt zu erstellen-->
                <div class="nav-row-betreuung">
                    <!--Die Order der Knoepfe soll im HTML so sein, dass der weiter Knopf als erster im Form ist, dies wird dann fuer die darstelltung
                    mit Flexlayout wieder korrigiert. Grund ist, dass beim druecken von Enter in einem input Feld automaitisch der erste submit button triggered wird-->
                    <div dv-show-element
                         dv-show-allowed-roles="vm.TSRoleUtil.getGesuchstellerJugendamtRoles()"
                         dv-show-expression="vm.isBetreuungsstatusSchulamt()">
                        <dv-loading-button button-click="vm.saveSchulamt()" type="submit"
                                           button-class="save">
                            <span data-translate="SPEICHERN_UPPER"></span>
                        </dv-loading-button>
                    </div>


                    <!--Institution Buttons-->
                    <div dv-show-element
                         dv-show-allowed-roles="vm.TSRoleUtil.getTraegerschaftInstitutionRoles()"
                         dv-show-expression="vm.isMutationsmeldungAllowed()">

                        <dv-loading-button button-click="vm.mutationsmeldungErstellen()"
                                           ng-if="!vm.isMutationsmeldungStatus"
                                           aria-label="{{MUTATIONSMELDUNG_ERSTELLEN_UPPER | translate}}">
                            <span data-translate="MUTATIONSMELDUNG_ERSTELLEN_UPPER"></span>
                        </dv-loading-button>
                        <dv-loading-button button-click="vm.mutationsmeldungSenden()"
                                           ng-if="vm.isMutationsmeldungStatus"
                                           aria-label="{{MUTATIONSMELDUNG_SENDEN_UPPER | translate}}">
                            <span data-translate="MUTATIONSMELDUNG_SENDEN_UPPER"></span>
                        </dv-loading-button>
                    </div>

                    <div dv-show-element
                         dv-show-allowed-roles="vm.TSRoleUtil.getTraegerschaftInstitutionRoles()"
                         dv-show-expression="vm.isBetreuungsstatusWarten()">

                        <div ng-if="vm.isFromMutation()">
                            <dv-loading-button button-click="vm.gekuendigtVorEintritt()"
                                               aria-label="{{'GEKUENDIGT_VOR_EINTRITT_UPPER' | translate}}">
                                <span data-translate="GEKUENDIGT_VOR_EINTRITT_UPPER"></span>
                            </dv-loading-button>
                        </div>

                        <div>
                            <dv-loading-button button-click="vm.platzBestaetigen()" type="submit"
                                               aria-label="{{'BESTAETIGEN_UPPER' | translate}}">
                                <span data-translate="BESTAETIGEN_UPPER"></span>
                            </dv-loading-button>
                        </div>

                        <div ng-if="!vm.isFromMutation()">
                            <dv-loading-button button-click="vm.platzAbweisen()"
                                               aria-label="{{'ABWEISEN_UPPER' | translate}}">
                                <span data-translate="ABWEISEN_UPPER"></span>
                            </dv-loading-button>
                        </div>

                    </div>


                    <!--Platz anfordern-->
                    <div dv-show-element
                         dv-show-allowed-roles="vm.TSRoleUtil.getGesuchstellerJugendamtRoles()"
                         dv-show-expression="vm.isBetreuungsstatusAusstehend()">
                        <dv-loading-button button-click="vm.platzAnfordern()">
                            <span data-translate="PLATZBESTAETIGUNG_ANFORDERN"></span>
                        </dv-loading-button>
                    </div>
                    <dv-loading-button button-click="vm.cancel()" button-class="cancel"
                                       type="reset">
                        <span data-translate="ABBRECHEN_UPPER"></span>
                    </dv-loading-button>
                </div>
            </form>
        </div>
    </div>
</div>
