<div class="pendenzenInstitutionListView">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-11">
                <h3 data-translate="PENDENZEN_LIST"></h3>
            </div>
            <div class="col-md-1 text-right">
                <h3 ng-bind="vm.getPendenzenList() ? vm.getPendenzenList().length : 0"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 table-responsive">

                <table st-table="displayedCollection" st-set-filter="pendenzInstitutionFilter"  st-safe-src="vm.getPendenzenList()"  st-delay="20"
                       class="table table-striped fixedtable">
                    <thead>
                    <tr>
                        <th st-sort="betreuungsNummer" class="sortable" data-translate="ID_UPPER"></th>
                        <th st-sort="name" class="sortable" data-translate="NAME_UPPER"></th>
                        <th st-sort="vorname" class="sortable" data-translate="VORNAME_UPPER"></th>
                        <th st-sort="geburtsdatum" class="sortable" data-translate="GEBURTSDATUM_UPPER"></th>
                        <th st-sort="typ" class="sortable" data-translate="TYP_UPPER"></th>
                        <th st-sort="gesuchsperiode" class="sortable" data-translate="PERIODE_UPPER"></th>
                        <th st-sort="eingangsdatum" st-sort-default="reverse" class="sortable" data-translate="EINGANG_UPPER"></th>
                        <th st-sort="betreuungsangebotTyp" class="sortable" data-translate="ANGEBOT_UPPER"></th>
                        <th st-sort="institution" class="sortable" data-translate="INSTITUTION_UPPER"></th>
                    </tr>
                    <tr>
                        <th><input st-search="betreuungsNummer" class="form-control" type="text"/></th>
                        <th><input st-search="name" class="form-control" type="text"/></th>
                        <th><input st-search="vorname" class="form-control" type="text"/></th>
                        <th><input st-search="geburtsdatum" class="form-control" type="text"/></th>
                        <th><input st-search="typ" class="form-control" type="text"/></th>
                        <th>
                            <select st-input-event="change" name="gesuchsperiode" id="gesuchsperiode" st-search="gesuchsperiode" class="form-control"
                                    ng-options="periode for periode in vm.activeGesuchsperiodenList track by periode"
                                    ng-model="vm.selectedGesuchsperiode">
                                <option value="">{{"ALLE" | translate}}</option>
                            </select>
                        </th>
                        <th><input st-search="eingangsdatum" class="form-control" type="text"/></th>
                        <th>
                            <select st-input-event="change" name="betreuungsangebotTyp" id="betreuungsangebotTyp" st-search="betreuungsangebotTyp" class="form-control"
                                    ng-options="typ | translate for typ in vm.betreuungsangebotTypList track by typ"
                                    ng-model="vm.selectedBetreuungsangebotTyp">
                                <option value="">{{"ALLE" | translate}}</option>
                            </select>
                        </th>
                        <th>
                            <select st-input-event="change" name="institution" id="institution" st-search="institution" class="form-control"
                                    ng-options="institution.name for institution in vm.institutionenList track by institution.name"
                                    ng-model="vm.selectedInstitution">
                                <option value="">{{"ALLE" | translate}}</option>
                            </select>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in displayedCollection" st-select-row="row" st-select-mode="single"
                        ng-click="vm.editPendenzInstitution(row)">

                        <td ng-bind="row.betreuungsNummer"></td>
                        <td ng-bind="row.name"></td>
                        <td ng-bind="row.vorname"></td>
                        <td ng-bind="row.geburtsdatum | amDateFormat : 'DD.MM.YYYY'"></td>
                        <td ng-bind="row.typ | translate"></td>
                        <td ng-bind="vm.getGesuchsperiodeAsString(row.gesuchsperiode)"></td>
                        <td ng-bind="row.eingangsdatum | amDateFormat : 'DD.MM.YYYY'"></td>
                        <td ng-bind="row.betreuungsangebotTyp | translate"></td>
                        <td ng-bind="row.institution.name"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">
                            <div st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>

        </div>
    </div>
</div>
