<div class="kommentar">
    <form role="form" name="form" class="" novalidate>
        <!--bemerkungen intern-->
        <div class="row kommentarTop">
            <div class="col-md-12">
                <dv-input-container class="form-group kommentar-feld">
                    <label class="inlineHint" for="kommentarIntern" data-translate="BEMERKUNGEN_INTERN"></label>
                    <textarea md-no-autogrow class="form-control" rows="4" id="kommentarIntern"
                              ng-blur="vm.saveStepBemerkung()" ng-disabled="vm.isStepCommentDisabled()"
                              ng-model="vm.getCurrentWizardStep().bemerkungen" maxlength="1000">
                        </textarea>
                </dv-input-container>
            </div>
        </div>
        <!--bemerkungen Verfügung-->
        <div class="row kommentarBottom">
            <div class="col-md-12">
                <dv-input-container class="form-group kommentar-feld">
                    <label class="inlineHint" for="kommentarVerfuegung"
                           data-translate="BEMERKUNGEN_VERFUEGUNG"></label>
                    <textarea md-no-autogrow class="form-control" rows="4" id="kommentarVerfuegung"
                              ng-blur="vm.saveBemerkungZurVerfuegung()"
                              ng-disabled="vm.isGesuchStatusVerfuegenVerfuegt()"
                              ng-model="vm.getGesuch().bemerkungen" maxlength="1000">
                        </textarea>
                </dv-input-container>
            </div>
        </div>
        <div class="row kommentarButton">

            <div class="col-md-12" ng-if="!vm.isGesuchUnsaved()">
                <div ng-if="vm.hasPapiergesuch()" ng-click="vm.download()" class="btn kommentar-button">
                    <span data-translate="PAPIERGESUCH_OEFFNEN"></span>
                </div>

                <div ng-if="!vm.hasPapiergesuch() && !vm.isGesuchStatusVerfuegenVerfuegt()"
                     ngf-select="vm.upload($files)" ngf-multiple="false"
                     ngf-max-size="'10MB'" ngf-max-total-size="100MB"
                     ngf-drop="vm.upload($files)"
                     ngf-drag-over-class="'dragover'"
                     class="btn kommentar-button">
                    <span data-translate="PAPIERGESUCH_LADEN"></span>
                </div>
            </div>
        </div>
    </form>
</div>
