.kommentar-feld textarea.md-input{
    border-width: 1px 1px 1px 1px;
    border-color: #4990E2;
    background-color: white;
}

.kommentar-feld  md-input-container label:not(.md-no-float):not(._md-container-ignore), md-input-container ._md-placeholder {
    padding-left: 10px;
    color: #4990E2;
}

.kommentar-button.btn{
    display: block;
    width: 100%;
    background-color: #4990E2;
    color: white;
    font-weight: bold;
}

.kommentar .bottom-align {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
}

.kommentar .kommentar-verfuegung-align {
    position: absolute;
    bottom: 20px;
    right: 0;
}
