<div class="dummyAuthenticationView row">
    <h3 class="col-md-5 col-md-offset-3">
        Wählen Sie bitte einen Benutzer aus.
    </h3>
    <div class="col-md-5 col-md-offset-3">
        <div class="first-row panel panel-default" ng-repeat="user in vm.usersList">
            <div class="mark-hover panel-body" ng-click="vm.logIn(user)"
                 ng-bind="user.vorname + ' ' + user.nachname + ', ' + user.email + ', ' + 'Rolle ' + (user.getRoleKey() | translate) + ' '
                          + user.institution.name + user.traegerschaft.name"></div>
        </div>
    </div>

    <div class="col-md-9 col-md-offset-3">
        <h3>
            Testfälle einfügen
        </h3>
        <ul>
            <li><a href="/ebegu/api/v1/testfaelle/testfall/1" target="_blank">Testfall Dagmar Wälti einfügen</a></li>
            <li><a href="/ebegu/api/v1/testfaelle/testfall/2" target="_blank">Testfall Yvonne Feutz einfügen</a></li>
        </ul>
    </div>

</div>
