@import '../variables.less';
@import '../mixins.less';

.checkbox {
    margin: 0 0;
    height: auto;
    dv-error-messages {
        display: block;
    }

}
md-checkbox {
    //  position: absolute;
    position: relative;
    min-height: unset;
    min-width: unset;
    height: 2rem;
    width: auto;
    &[disabled] {
        color: @contrast;
        .md-label {
            span {
                color: @contrast;
            }
        }
        &.md-checked, &:not(.md-checked) {
            .md-icon {
                border: 0.1rem solid @contrast;
            }
        }
        &.md-checked {
            .md-icon {
                background: @contrast;
            }
        }
    }
    &.md-focused {
        //TODO Focus  border:red 20px solid;
    }
    .md-container {
        width: 2rem;
        height: 2rem;
        &:before {
            content: none !important;
        }
    }
    margin-top: 0;
    margin-bottom: 2rem;
    .md-label {
        display: block;
        margin-left: 3rem;
        line-height: 2rem;
        height: 2rem;
        span {
            .h3();
            line-height: 2rem;
            margin: 0;
            display: inline-block;
            height: 2rem;
        }
    }
    .md-icon {
        border: 0.1rem solid @contrast-darkest;
        border-radius: 0.2rem;
        width: auto;
        height: auto;
        line-height: 2rem;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
    &.md-checked {
        .md-icon {
            background-color: @contrast-darkest;
            &:after {
                position: absolute;
                font-size: 1rem;
                font-family: 'FontAwesome';
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: auto;
                height: auto;
                transform: none;
                border-width: 0;
                border-radius: 0.2rem;
                content: "\f00c";
                text-align: center;
                color: @contrast-lightest;
                display: block !important;
            }
        }
    }
}

