<div class="dv-radio-container">
    <md-radio-group class="radio" ng-model="vm.modelToPassOn" ng-blur="vm.onBlur()" ng-change="vm.onChange()"
                    ng-required="vm.ngRequired">
        <md-radio-button ng-if="vm.items" ng-repeat="current in vm.items" ng-value="current"
                         aria-label="{{current | translate}}" class="element-{{$index}}"
                         ng-attr-dv-enable-element="{{vm.dvEnableAllowedRoles ? '' : undefined}}"
                         ng-attr-dv-enable-allowed-roles="{{vm.dvEnableAllowedRoles ? vm.dvEnableAllowedRoles : vm.allRoles}}"
                         ng-attr-dv-enable-expression="{{vm.dvEnableExpression === false ? false : true}}">
            <span data-translate="{{current}}"></span>
        </md-radio-button>
        <md-radio-button ng-if="!vm.items" ng-value="true" aria-label="{{LABEL_JA | translate}}" class="element-ja"
                         ng-attr-dv-enable-element="{{vm.dvEnableAllowedRoles ? '' : undefined}}"
                         ng-attr-dv-enable-allowed-roles="{{vm.dvEnableAllowedRoles ? vm.dvEnableAllowedRoles : vm.allRoles}}"
                         ng-attr-dv-enable-expression="{{vm.dvEnableExpression === false ? false : true}}">
            <span data-translate="LABEL_JA"></span>
        </md-radio-button>
        <md-radio-button ng-if="!vm.items" ng-value="false" aria-label="{{LABEL_NEIN | translate}}" class="element-nein"
                         ng-attr-dv-enable-element="{{vm.dvEnableAllowedRoles ? '' : undefined}}"
                         ng-attr-dv-enable-allowed-roles="{{vm.dvEnableAllowedRoles ? vm.dvEnableAllowedRoles : vm.allRoles}}"
                         ng-attr-dv-enable-expression="{{vm.dvEnableExpression === false ? false : true}}">
            <span data-translate="LABEL_NEIN"></span>
        </md-radio-button>
    </md-radio-group>
</div>
