.betreuung-status {
    font-style: italic;
}

.AUSSTEHEND {
}

.WARTEN{
}

.SCHULAMT{
}

.ABGEWIESEN{
}

.BESTAETIGT{
}

.sidenav{
    .fa-check.green {
        color: #16cc77;
    }
    .fa-close.red {
        color: #d50025;
    }
    .fa-hourglass.orange{
        color: #f5a623;
    }
    .link-disabled {
        cursor: not-allowed;
        pointer-events: none;
        color: grey;
    }
}
