@import '../variables.less';

.betreuung-status {
    font-style: italic;
}

.AUSSTEHEND {
}

.WARTEN {
}

.SCHULAMT {
}

.ABGEWIESEN {
}

.BESTAETIGT {
}
.sidenav {
    li {
        height: 20px;
        margin-top: 12px;
        margin-right: 40px;
        margin-left: 10px;
        list-style: none;
        border-bottom: 1px solid lightgray;

        button {
            text-align: left;
            padding: 0 0 0 15px;
        }
        button:focus, button:active {
            outline: none !important;
        }
        button[disabled]{
            color: #777777;
        }

        span {
            padding-right: 3px;
            text-align: right;
        }

    }
    li.active-element {
        border-bottom: 2px solid black;
        border-left: 4px solid @color-guide;;
    }

    .fa-check.green {
        color: #16cc77;
    }
    .fa-close.red {
        color: #d50025;
    }
    .fa-hourglass.orange{
        color: #f5a623;
    }

}

.right-side {
    background-color: #ECF1F4;
}

.gesuch-status {
    color: rgb(73, 143, 224);
    margin-left: 70px;

    .status {
        font-weight: bold;
    }
    .zuletzt {
        font-style: italic;
    }
}

.gesuchbody.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.gesuchbody.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.disabled-row {
    tr&{
        cursor:text;
    }
}
