@import '../style/variables.less';
@import '../style/mixins.less';
@import '../style/organisms/sidenav.less';
.mainTitle {
    margin-top: 0;
}
#gesuchContainer {
    background: @contrast-light;
    overflow-y: scroll;
    flex: 1 1 auto;
    .nav-row {
        position: absolute !important;
        bottom: 4rem;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 -2rem 0;
        .col-xs-12 {
            padding: 0 2rem 0;
        }
    }
    & > div {
        height: 100%;
        & > * {
            height: 100%;
            .gesuchModul {
                min-height: 100%;
                & div {

                }
            }
        }
    }
}

#kommentarContainer {
    flex: 0 0 auto;
    background: @contrast-lightest;
    width: 32rem;
    padding: 0;
    right: 0;
    bottom: 0;
}

.fixedToolbar {
    position: fixed;
    width: 100%;
    top: 10rem;
    z-index: @z-index-toolbar;
}

.gesuchModul {
    padding: 5rem 2.5rem 10rem 5rem;
    position: relative;

    & div {
        position: static;
    }
}

.betreuung-status {
    font-style: italic;
}

.AUSSTEHEND {
}

.WARTEN {
}

.SCHULAMT {
}

.ABGEWIESEN {
}

.BESTAETIGT {
}

.right-side {
    background-color: #ECF1F4;
}

.gesuch-status {
    margin: 5rem 2.5rem 2.5rem 2.5rem;
    color: @contrast-darkest;

    .status {
        .bold();
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
    }
    .zuletzt {
        .italic();
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }
}

.gesuchbody.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.gesuchbody.row > [class*='col-'] {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.disabled-row {
    tr&{
        cursor:text;
    }
}

