<div class="pendenzenInstitutionListView">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-11">
                <h3 data-translate="SEARCH_LIST"></h3>
            </div>
            <div class="col-md-1 text-right">
                <h3 ng-bind="vm.totalResultCount"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <dv-antrag-list
                    antraege="vm.getAntragList()"
                                on-filter-change="vm.passFilterToServer(tableState)"
                                on-edit="vm.editFall(antrag, event)"
                                add-button-visible="false"
                                action-visible="false">

                </dv-antrag-list>
            </div>
        </div>
    </div>
</div>
