<div class="pendenzenInstitutionListView">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-11">
                <h3 data-translate="SEARCH_LIST"></h3>
            </div>
            <div class="col-md-1 text-right">
                <h3 ng-bind="vm.getSearchList() ? vm.getSearchList().length : 0"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <dv-pendenzen-list antraege="vm.getSearchList()" items-by-page="20" initial-all="true"></dv-pendenzen-list>
            </div>
        </div>
    </div>
</div>
