<div class="umzugView gesuchModul">

    <div class="row viewTitle">
        <div class="col-md-12">
            <h1>
                <span data-translate="UMZUG_TITLE"></span>
            </h1>
            <hr class="header"/>
            <p ng-if="!vm.isGesuchReadonly()" class="inlineHint" data-translate="UMZUG_HINT"></p>
        </div>
    </div>

    <div dv-show-element
         dv-show-allowed-roles = "vm.TSRoleUtil.getAllRolesButTraegerschaftInstitution()"
         dv-show-expression = "vm.gesuchModelManager.getGesuch().isMutation()"
         class="alert alert-warning" data-translate="UMZUG_LIST_HINT">
    </div>

    <div class="row">
        <div class="col-md-12">

            <form role="form" name="vm.form" class="" novalidate unsaved-warning-form>
                <fieldset dv-enable-element
                          dv-enable-allowed-roles="vm.TSRoleUtil.getAllRolesButTraegerschaftInstitution()"
                          dv-enable-expression="!vm.isGesuchReadonly()">

                    <div ng-repeat="umzugAdresse in vm.getUmzugAdressenList()">

                        <!--Gesuchsteller-->
                        <div class="col-sm-12 dv-input-container-small">
                            <div class="form-group">
                                <label data-translate="BETROFFENE_WAEHLEN" for="betroffene">
                                </label>
                                <div class="dv-select-style">
                                    <select name="betroffene" id="betroffene"
                                            ng-model="umzugAdresse.betroffene"
                                            class="form-control"
                                            ng-options="(vm.getNameFromBetroffene(betroffene)) for betroffene in vm.getBetroffenenList()"
                                            ng-required="true">
                                    </select>
                                </div>
                                <dv-error-messages for="vm.form.betroffene.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>

                        <!-- Umzugadresse-->
                        <div class="col-md-12 marginTop20">
                            <dv-adresse adresse="umzugAdresse.adresse" show-nicht-in-gemeinde="true"
                                        prefix="umzug"></dv-adresse>
                        </div>

                        <!-- Umzug loeschen-->
                        <div class="col-md-12" style="margin-bottom: 2rem"
                             dv-show-element
                             dv-show-allowed-roles = "vm.TSRoleUtil.getAllRolesButTraegerschaftInstitution()"
                             dv-show-expression = "!vm.isGesuchReadonly()">
                            <dv-loading-button type="button" button-click="vm.removeUmzugAdresse(umzugAdresse)"
                                               button-class="dv-btn-operation"
                                               button-disabled="vm.isKorrekturModusJugendamt()">
                                <i class="fa fa-lg fa-trash-o"></i>
                                <span data-translate="UMZUG_ENTFERNEN"></span>
                            </dv-loading-button>
                        </div>

                    </div>

                    <!-- Umzug hinzufuegen -->
                    <div class="col-md-12" style="margin-bottom: 2rem" dv-show-element
                         dv-show-allowed-roles = "vm.TSRoleUtil.getAllRolesButTraegerschaftInstitution()"
                         dv-show-expression = "!vm.isGesuchReadonly()">
                        <dv-loading-button type="button" button-click="vm.createUmzugAdresse()"
                                           button-class="dv-btn-operation"
                                           button-disabled="vm.isKorrekturModusJugendamt()">
                            <i class="fa fa-lg fa-plus-circle"></i>
                            <span data-translate="UMZUG_HINZUFUEGEN"></span>
                        </dv-loading-button>
                    </div>

                </fieldset>

                <dv-navigation dv-show-element
                               dv-show-allowed-roles="vm.TSRoleUtil.getAllRolesButTraegerschaftInstitution()"
                               dv-previous="true" dv-next="true" dv-save="vm.save()">
                </dv-navigation>
                <dv-navigation dv-show-element dv-show-allowed-roles="vm.TSRoleUtil.getTraegerschaftInstitutionOnlyRoles()"
                               dv-previous="true" dv-next="true">
                </dv-navigation>

            </form>
        </div>
    </div>
</div>
