<div class="verfuegenListView row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h3 data-translate="VERFUEGUNGEN_UPPER"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 table-responsive">

                <table st-table="displayedCollection" st-safe-src="vm.getBetreuungenList()"
                       class="table table-striped table-hover" st-delay="20">
                    <thead>
                    <tr>
                        <th data-translate="KIND_UPPER" ></th>
                        <th data-translate="BETREUUNG_UPPER" ></th>
                        <th data-translate="ID_UPPER"></th>
                        <th data-translate="STATUS_UPPER"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in displayedCollection" st-select-row="row" st-select-mode="single"
                        ng-click="vm.openVerfuegung(row)">
                        <td ng-bind="row.kindJA.vorname"></td>
                        <td ng-bind="row.kindJA.nachname"></td>
                        <td ng-bind="row.kindJA.geburtsdatum"></td>
                        <td ng-bind="row.kindJA.geburtsdatum"></td>
                    </tr>
                    <tr ng-if="vm.getBetreuungenList().length === 0">
                        <td colspan="4" class="empty-table" data-translate="VERFUEGUNGEN_NOCH_KEINE"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 text-right">
                <md-button class="md-raised md-primary">
                    <span data-translate="DOKUMENTE_VOLLSTAENDIG_UPPER"></span>
                </md-button>
            </div>
            <div class="col-md-6">
                <md-button class="md-raised md-warn md-hue-2">
                    <span data-translate="ERSTE_MAHNUNG_UPPER"></span>
                </md-button>
            </div>
        </div>
    </div>

</div>
