<div class="dv-vorlage-list">
    <div class="row">
        <div class="col-md-12">
            <table st-table="table" st-safe-src="vm.ebeguVorlageList"
                   class="table table-striped" width="100%">

                <tbody>
                <tr ng-repeat="row in table">

                    <td ng-click="$event.stopPropagation()" width="50%">
                        <a ng-bind="row.name | translate"
                           ngf-select="vm.uploadAnhaenge($files, row)"
                           ngf-multiple="false"
                           ngf-max-size="'10MB'" ngf-max-total-size="100MB"
                           ngf-drop="vm.uploadAnhaenge($files, row)"
                           ngf-drag-over-class="'dragover'"
                           ng-if="!vm.isListReadonly()"
                           aria-hidden="true" style="color: black"></a>
                        <span ng-if="vm.isListReadonly()">{{row.name | translate}}</span>
                    </td>

                    <td ng-bind="row.vorlage.filename" width="22%"></td>
                    <td ng-bind="row.vorlage.timestampMutiert | amDateFormat : 'DD.MM.YYYY'"
                        width="10%"></td>
                    <td ng-bind="row.vorlage.filesize" width="10%"></td>
                    <td width="2%">
                                    <span ng-click="vm.download(row,true)" class="fa fa-download" aria-hidden="true"
                                          style="color: black" ng-if="vm.hasVorlage(row)"></span>
                        <span class="fa fa-download" aria-hidden="true"
                              style="color: lightgray"
                              ng-if="!vm.hasVorlage(row)"></span>
                    </td>
                    <td width="2%">
                                    <span ng-click="vm.download(row,false)" class="fa fa-eye" aria-hidden="true"
                                          style="color: black" ng-if="vm.hasVorlage(row)"></span>
                        <span class="fa fa-eye" aria-hidden="true"
                              style="color: lightgray"
                              ng-if="!vm.hasVorlage(row)"></span>
                    </td>
                    <td width="2%">
                                    <span ng-click="vm.remove(row, dokument)" class="fa fa-trash" aria-hidden="true"
                                          style="color: black" ng-if="vm.hasVorlage(row) && !vm.isListReadonly()"></span>
                        <span class="fa fa-trash" aria-hidden="true"
                              style="color: lightgray"
                              ng-if="!vm.hasVorlage(row) || vm.isListReadonly()"></span>
                    </td>

                    <td width="2%">
                        <i ng-if="!vm.hasVorlage(row)" class="fa fa-circle"
                           aria-hidden="true"
                           style="color: red"></i>
                        <i ng-if="vm.hasVorlage(row)" class="fa fa-check"
                           aria-hidden="true"
                           style="color: green"></i>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>
