<div class="kindView gesuchModul">
    <div class="row viewTitle">
        <div class="col-md-12">
            <h1>
                <span data-translate="KIND"></span> {{vm.kindNumber}}
            </h1>
            <hr class="header"/>
            <p class="inlineHint" data-translate="PFLICHTFELDER_HINT"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" name="vm.form" class="" novalidate unsaved-warning-form>
                <fieldset ng-disabled="vm.isGesuchReadonly()">


                    <!--Geschlecht-->
                    <div class="row">
                        <div class="col-xs-12 dv-input-container-small">
                            <div class="form-group">
                                <label class="md-no-float required" data-translate="GESCHLECHT"></label>
                                <dv-radio-container name="geschlecht" class="input-element"
                                                    dv-enable-element
                                                    dv-enable-allowed-roles="vm.allowedRoles"
                                                    dv-enable-expression="!vm.isGesuchReadonly()"
                                                    ng-required="true" items="vm.geschlechter"
                                                    ng-model="vm.getModel().geschlecht">
                                </dv-radio-container>
                                <dv-bisher gs="vm.getContainer().kindGS.geschlecht"
                                           ja="vm.getContainer().kindJA.geschlecht"></dv-bisher>
                                <dv-error-messages for="vm.form.geschlecht.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>
                    <!--Vorname/Name-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="VORNAME" for="vorname_ID"></label>
                                <input id="vorname_ID" type="text" name="vorname" ng-model="vm.getModel().vorname"
                                       dv-max-length class="form-control" required>
                                <dv-bisher gs="vm.getContainer().kindGS.vorname"
                                           ja="vm.getContainer().kindJA.vorname"></dv-bisher>
                                <dv-error-messages for="vm.form.vorname.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group secondColumn">
                                <label class="md-no-float" data-translate="NAME" for="name_ID"></label>
                                <input id="name_ID" type="text" name="name" ng-model="vm.getModel().nachname"
                                       dv-max-length class="form-control" required>
                                <dv-bisher gs="vm.getContainer().kindGS.nachname"
                                           ja="vm.getContainer().kindJA.nachname"></dv-bisher>
                                <dv-error-messages for="vm.form.name.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!--Geburtsdatum-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="GEBURTSDATUM" for="geburtsdatum_ID">
                                </label>
                                <dv-datepicker input-id="geburtsdatum_ID" name="geburtsdatum"
                                               ng-model="vm.getModel().geburtsdatum" ng-required="true"
                                               class="input-element"
                                               ng-attr-placeholder="{{'DATE_PLACEHOLDER' | translate}}">
                                </dv-datepicker>

                                <dv-bisher gs="vm.getContainer().kindGS.geburtsdatum"
                                           ja="vm.getContainer().kindJA.geburtsdatum"></dv-bisher>
                                <dv-error-messages for="vm.form.geburtsdatum.$error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Kinderabzug -->
                    <div class="row">
                        <div class="col-xs-12 dv-input-container-question">
                            <dv-input-container class="form-group">
                                <h1 class="required">
                                    <span data-translate="KINDERABZUG"></span>
                                </h1>
                                <dv-radio-container name="kinderabzug" ng-model="vm.getModel().kinderabzug"
                                                    ng-required="true"
                                                    dv-enable-element
                                                    dv-enable-allowed-roles="vm.allowedRoles"
                                                    dv-enable-expression="!vm.isGesuchReadonly()"
                                                    class="input-element" items="vm.kinderabzugValues">
                                </dv-radio-container>
                                <dv-bisher gs="vm.getContainer().kindGS.kinderabzug"
                                           ja="vm.getContainer().kindJA.kinderabzug"></dv-bisher>
                                <dv-error-messages for="vm.form.kinderabzug.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!--familienErgaenzendeBetreuung-->
                    <div class="row">
                        <div class="col-xs-12 dv-input-container-question">
                            <div class="form-group">
                                <h1 class="required">
                                    <span data-translate="FAM_ERGAENZENDE_BETREUUNG"></span>
                                    <dv-tooltip text="'FAM_ERGAENZENDE_BETREUUNG_HELP' | translate"></dv-tooltip>
                                </h1>

                                <dv-radio-container name="familienErgaenzendeBetreuung" class="input-element"
                                                    dv-enable-element
                                                    dv-enable-allowed-roles="vm.allowedRoles"
                                                    dv-enable-expression="!vm.isGesuchReadonly() && !vm.isKorrekturModusJugendamt()"
                                                    ng-required="true"
                                                    ng-model="vm.getModel().familienErgaenzendeBetreuung"
                                                    ng-change="vm.familienErgaenzendeBetreuungClicked()">
                                </dv-radio-container>
                                <dv-bisher gs="vm.getContainer().kindGS.familienErgaenzendeBetreuung"
                                           ja="vm.getContainer().kindJA.familienErgaenzendeBetreuung"></dv-bisher>
                                <dv-error-messages for="vm.form.familienErgaenzendeBetreuung.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>

                    <!--mutterspracheDeutsch-->
                    <div class="row">
                        <div class="col-xs-12 dv-input-container-question">
                            <div class="form-group" ng-show="vm.getModel().familienErgaenzendeBetreuung">
                                <h1 class="required"><span data-translate="MUTTERSPRACHE_DEUTSCH"></span>
                                    <dv-tooltip
                                        text="'MUTTERSPRACHE_DEUTSCH_HELP' | translate"></dv-tooltip>
                                </h1>

                                <dv-radio-container name="mutterspracheDeutsch" class="input-element"
                                                    dv-enable-element
                                                    dv-enable-allowed-roles="vm.allowedRoles"
                                                    dv-enable-expression="!vm.isGesuchReadonly()"
                                                    ng-required="vm.getModel().familienErgaenzendeBetreuung"
                                                    ng-model="vm.getModel().mutterspracheDeutsch">
                                </dv-radio-container>
                                <dv-bisher gs="vm.getContainer().kindGS.mutterspracheDeutsch"
                                           ja="vm.getContainer().kindJA.mutterspracheDeutsch"></dv-bisher>
                                <dv-error-messages for="vm.form.mutterspracheDeutsch.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>

                    <!--Das Kind ist per 1.8.XX eingeschult (auch Kindergarten)-->
                    <div class="row">
                        <div class="col-xs-12 dv-input-container-question">
                            <div class="form-group" ng-show="vm.getModel().familienErgaenzendeBetreuung">
                                <h1 class="required">
                                    <span data-translate="EINSCHULUNG"
                                          data-translate-value-date="{{vm.getDatumEinschulung() | amDateFormat : 'DD.MM.YYYY'}}"> </span>
                                    <dv-tooltip text="'EINSCHULUNG_HELP' | translate"></dv-tooltip>
                                </h1>
                                <dv-radio-container name="einschulung" class="input-element"
                                                    dv-enable-element
                                                    dv-enable-allowed-roles="vm.allowedRoles"
                                                    dv-enable-expression="!vm.isGesuchReadonly()"
                                                    ng-required="vm.getModel().familienErgaenzendeBetreuung"
                                                    ng-model="vm.getModel().einschulung">
                                </dv-radio-container>
                                <dv-bisher gs="vm.getContainer().kindGS.einschulung"
                                           ja="vm.getContainer().kindJA.einschulung"></dv-bisher>
                                <dv-error-messages for="vm.form.einschulung.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>

                    <!--Wohnhaft im gleichen Haushalt-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-question">
                            <div class="form-group" ng-show="vm.getModel().familienErgaenzendeBetreuung">
                                <dv-input-container class="form-group">
                                    <label class="md-no-float"
                                           for="gleichemHaushalt">
                                        <span data-translate="WOHNHAFT_IM_GLEICHEN_HAUSHALT" class="ebeguH1"> </span>
                                    </label>
                                    <div class="dv-input-container-small" style="padding-right:32px;">
                                        <input id="gleichemHaushalt" type="number" name="gleichemHaushalt"
                                               ng-model="vm.getModel().wohnhaftImGleichenHaushalt" max="100"
                                               dv-max-length class="form-control"
                                               ng-pattern="vm.CONSTANTS.PATTERN_PERCENTAGE"
                                               ng-required="vm.getModel().familienErgaenzendeBetreuung"
                                               ng-attr-placeholder="{{'PERCENTAGE_PLACEHOLDER' | translate}}">
                                        <dv-bisher gs="vm.getContainer().kindGS.wohnhaftImGleichenHaushalt"
                                                   ja="vm.getContainer().kindJA.wohnhaftImGleichenHaushalt"></dv-bisher>
                                        <dv-error-messages for="vm.form.gleichemHaushalt.$error"
                                                           class="error"></dv-error-messages>
                                    </div>
                                </dv-input-container>
                            </div>
                        </div>
                    </div>

                    <!--Show Fachstelle?-->
                    <div class="row">
                        <div class="col-xs-12 dv-input-container-question">
                            <div class=" checkbox" ng-show="vm.getModel().familienErgaenzendeBetreuung">
                                <md-checkbox ng-model="vm.showFachstelle" name="showFachstelle"
                                             aria-label="showFachstelle"
                                             ng-disabled="vm.isGesuchReadonly()"
                                             ng-change="vm.showFachstelleClicked()">
                                    <span data-translate="INVOLVIERTE_FACHSTELLE"></span>
                                    <dv-tooltip text="'INVOLVIERTE_FACHSTELLE_HELP' | translate"></dv-tooltip>
                                </md-checkbox>
                                <dv-bisher gs="vm.showFachstelleGS"
                                           ja="vm.showFachstelle"
                                           specific-bisher-text="vm.getTextFachstelleKorrekturJA()"></dv-bisher>
                                <dv-error-messages for="vm.form.korrespondenzAdr.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>
                    <!--fachstelle-->
                    <div ng-if="vm.isFachstelleRequired()">
                        <div class="row">
                            <div class="col-sm-12 dv-input-container-medium">
                                <div class="form-group">
                                    <label class="md-no-float required" data-translate="FACHSTELLE" for="fachstelle">
                                    </label>
                                    <div class="dv-select-style">
                                        <select name="fachstelle" id="fachstelle" ng-model="vm.fachstelleId"
                                                class="form-control"
                                                ng-options="fachstelle.id as fachstelle.name for fachstelle in vm.getFachstellenList() | orderBy: 'name'"
                                                ng-required="vm.isFachstelleRequired()"
                                                ng-change="vm.setSelectedFachsstelle()">
                                        </select>

                                    <dv-bisher gs="vm.getContainer().kindGS.pensumFachstelle.fachstelle.name"
                                               ja="vm.getContainer().kindJA.pensumFachstelle.fachstelle.name"
                                               show-if-bisher-none="false"
                                               block-existed="vm.showFachstelleGS === true"></dv-bisher>
                                    <dv-error-messages for="vm.form.fachstelle.$error"
                                                       class="error"></dv-error-messages>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--betreuungspensumFachstelle-->
                        <div class="row">
                            <div class="col-sm-12 dv-input-container-small">
                                <dv-input-container class="form-group">
                                    <label class="md-no-float" data-translate="BETREUUNGSPENSUM_FACHSTELLE"
                                           for="betreuungspensumFachstelle"></label>
                                    <input id="betreuungspensumFachstelle" type="text" name="betreuungspensumFachstelle"
                                           ng-model="vm.getPensumFachstelle().pensum" max="100"
                                           dv-max-length class="form-control"
                                           ng-pattern="vm.CONSTANTS.PATTERN_PERCENTAGE"
                                           ng-required="vm.isFachstelleRequired()"
                                           ng-attr-placeholder="{{'PERCENTAGE_PLACEHOLDER' | translate}}">
                                    <dv-bisher gs="vm.getContainer().kindGS.pensumFachstelle.pensum"
                                               ja="vm.getContainer().kindJA.pensumFachstelle.pensum"
                                               show-if-bisher-none="false"
                                               block-existed="vm.showFachstelleGS === true"></dv-bisher>
                                    <dv-error-messages for="vm.form.betreuungspensumFachstelle.$error"
                                                       class="error"></dv-error-messages>
                                </dv-input-container>
                            </div>
                        </div>

                        <!-- gueltig ab / gueltig bis -->
                        <div class="row">
                            <div class="col-sm-12 dv-input-container-small">
                                <dv-input-container class="form-group">
                                    <label class="md-no-float" data-translate="VON" for="datumAb">
                                    </label>
                                    <dv-datepicker input-id="datumAb" name="datumAb"
                                                   class="input-element"
                                                   ng-model="vm.getPensumFachstelle().gueltigkeit.gueltigAb"
                                                   ng-required="vm.isFachstelleRequired()"
                                                   ng-attr-placeholder="{{'DATE_PLACEHOLDER' | translate}}">
                                    </dv-datepicker>
                                    <dv-bisher gs="vm.getContainer().kindGS.pensumFachstelle.gueltigkeit.gueltigAb"
                                               ja="vm.getContainer().kindJA.pensumFachstelle.gueltigkeit.gueltigAb"
                                               show-if-bisher-none="false"
                                               block-existed="vm.showFachstelleGS === true"></dv-bisher>
                                    <dv-error-messages for="vm.form.datumAb.$error"
                                                       class="error"></dv-error-messages>
                                </dv-input-container>
                            </div>

                            <div class="col-sm-12 dv-input-container-small">
                                <dv-input-container class="form-group">
                                    <label class="md-no-float" data-translate="BIS" for="datumBis">
                                    </label>
                                    <dv-datepicker input-id="datumBis" name="datumBis"
                                                   class="input-element"
                                                   ng-model="vm.getPensumFachstelle().gueltigkeit.gueltigBis"
                                                   ng-required="false"
                                                   ng-attr-placeholder="{{'DATE_PLACEHOLDER' | translate}}">
                                    </dv-datepicker>
                                    <dv-bisher gs="vm.getContainer().kindGS.pensumFachstelle.gueltigkeit.gueltigBis"
                                               ja="vm.getContainer().kindJA.pensumFachstelle.gueltigkeit.gueltigBis"
                                               show-if-bisher-none="false"
                                               block-existed="vm.showFachstelleGS === true"></dv-bisher>
                                    <dv-error-messages for="vm.form.datumBis.$error"
                                                       class="error"></dv-error-messages>
                                </dv-input-container>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <!--Buttons-->
                <dv-navigation dv-cancel="vm.cancel()" dv-next="true" dv-save="vm.save()" dv-sub-step="2"
                               dv-translate-next="{{'SPEICHERN_UPPER'}}">
                </dv-navigation>
            </form>
        </div>
    </div>
</div>
