<div class="kindView row">
    <div class="col-md-12">
        <h4 class="mainTitle">
            <span data-translate="KIND"></span> {{vm.gesuchModelManager.kindNumber}}
        </h4>
        <hr class="header"/>
        <form ng-submit="form.$valid && vm.submit(form)" role="form" name="form" class="" novalidate unsaved-warning-form>
            <p class="inlineHint" data-translate="PFLICHTFELDER_HINT"></p>
            <br />

            <!--Geschlecht-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-translate="GESCHLECHT"></label>
                        <dv-radio-container name="geschlecht" class="input-element"
                                            ng-required="true" items="vm.geschlechter" ng-model="vm.getModel().geschlecht">
                        </dv-radio-container>
                        <dv-error-messages for="form.geschlecht.$error"
                                           class="error"></dv-error-messages>
                    </div>
                </div>
            </div>
            <!--Vorname/Name-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="VORNAME" for="vorname_ID"></label>
                        <input id="vorname_ID" type="text" name="vorname" ng-model="vm.getModel().vorname"
                               dv-max-length class="form-control" required>
                        <dv-error-messages  for="form.vorname.$error"
                                            class="error"></dv-error-messages>
                        <dv-bisher gs="vm.getContainer().kindGS.vorname"
                                   ja="vm.getContainer().kindJA.vorname"
                                   sv="vm.getContainer().kindJA.vorname"></dv-bisher>
                    </dv-input-container>
                </div>
                <div class="col-md-6">
                    <dv-input-container class="form-group secondColumn">
                        <label data-translate="NAME" for="name_ID"></label>
                        <input id="name_ID" type="text" name="name" ng-model="vm.getModel().nachname"
                               dv-max-length class="form-control" required>
                        <dv-error-messages  for="form.name.$error"
                                            class="error"></dv-error-messages>
                        <dv-bisher gs="vm.getContainer().kindGS.nachname"
                                   ja="vm.getContainer().kindJA.nachname"
                                   sv="vm.getContainer().kindJA.nachname"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!--Geburtsdatum-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="GEBURTSDATUM" for="geburtsdatum_ID">
                        </label>
                        <dv-datepicker id="geburtsdatum_ID"  name="geburtsdatum" placeholder=""
                                       ng-model="vm.getModel().geburtsdatum" ng-required="true" class="input-element">
                        </dv-datepicker>
                        <div class="hint" data-translate="DATE_PLACEHOLDER"></div>
                        <dv-error-messages  for="form.geburtsdatum.$error"
                                            class="error hint"></dv-error-messages>
                        <dv-bisher gs="vm.getContainer().kindGS.geburtsdatum"
                                   ja="vm.getContainer().kindJA.geburtsdatum"
                                   sv="vm.getContainer().kindJA.geburtsdatum"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!--wohnhaftImGleichenHaushalt-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="KINDER_GLEICHEM_HAUSHALT" for="wohnhaftImGleichenHaushalt"></label>
                        <input id="wohnhaftImGleichenHaushalt" type="text" name="wohnhaftImGleichenHaushalt"
                               ng-model="vm.getModel().wohnhaftImGleichenHaushalt" aria-label="wohnhaftImGleichenHaushalt"
                               dv-max-length class="form-control" ng-pattern="vm.CONSTANTS.PATTERN_PERCENTAGE" ng-required="true">
                        <div class="hint" data-translate="PERCENTAGE_PLACEHOLDER"></div>
                        <dv-error-messages  for="form.wohnhaftImGleichenHaushalt.$error" class="error hint"></dv-error-messages>
                        <dv-bisher gs="vm.getContainer().kindGS.wohnhaftImGleichenHaushalt"
                                   ja="vm.getContainer().kindJA.wohnhaftImGleichenHaushalt"
                                   sv="vm.getContainer().kindJA.wohnhaftImGleichenHaushalt"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!--unterstuetzungspflicht-->
            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <md-checkbox ng-model="vm.getModel().unterstuetzungspflicht" name="unterstuetzungspflicht" aria-label="unterstuetzungspflicht">
                            <span data-translate="UNTERSTUETZUNGSPFLICHT"></span>
                        </md-checkbox>
                        <dv-error-messages  for="form.unterstuetzungspflicht.$error"
                                            class="error"></dv-error-messages>
                    </div>
                </div>
            </div>

            <!--familienErgaenzendeBetreuung-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label data-translate="FAM_ERGAENZENDE_BETREUUNG"></label>
                        <dv-tooltip text="'FAM_ERGAENZENDE_BETREUUNG_HELP' | translate"></dv-tooltip>
                        <dv-radio-container name="familienErgaenzendeBetreuung" class="input-element"
                                            ng-required="true" ng-model="vm.getModel().familienErgaenzendeBetreuung"
                                            ng-change="vm.familienErgaenzendeBetreuungClicked()">
                        </dv-radio-container>
                        <dv-error-messages for="form.familienErgaenzendeBetreuung.$error"
                                           class="error"></dv-error-messages>
                    </div>
                </div>
            </div>

            <!--mutterspracheDeutsch-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-show="vm.getModel().familienErgaenzendeBetreuung">
                        <label><span data-translate="MUTTERSPRACHE_DEUTSCH"> <dv-tooltip text="'MUTTERSPRACHE_DEUTSCH_HELP' | translate"></dv-tooltip></span></label>

                        <dv-radio-container name="mutterspracheDeutsch" class="input-element"
                                            ng-required="vm.getModel().familienErgaenzendeBetreuung" ng-model="vm.getModel().mutterspracheDeutsch">
                        </dv-radio-container>
                        <dv-error-messages for="form.mutterspracheDeutsch.$error"
                                           class="error"></dv-error-messages>
                    </div>
                </div>
            </div>

            <!--Show Fachstelle?-->
            <div class="row">
                <div class="col-md-6">
                    <div class=" checkbox" ng-show="vm.getModel().familienErgaenzendeBetreuung">
                        <md-checkbox ng-model="vm.showFachstelle" name="showFachstelle" aria-label="showFachstelle"
                                     ng-change="vm.showFachstelleClicked()">
                            <span data-translate="INVOLVIERTE_FACHSTELLE"></span>
                            <dv-tooltip text="'INVOLVIERTE_FACHSTELLE_HELP' | translate"></dv-tooltip>
                        </md-checkbox>
                        <dv-error-messages  for="form.korrespondenzAdr.$error"
                                            class="error"></dv-error-messages>
                    </div>
                </div>
            </div>
            <!--fachstelle-->
            <div ng-if="vm.isFachstelleRequired()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label data-translate="FACHSTELLE" for="fachstelle">
                            </label>
                            <select name="fachstelle" id="fachstelle" ng-model="vm.fachstelleId" class="form-control"
                                    ng-options="fachstelle.id as fachstelle.name for fachstelle in vm.getFachstellenList() | orderBy: 'name'"
                                    ng-required="vm.isFachstelleRequired()"
                                    ng-change="vm.setSelectedFachsstelle()">
                            </select>
                            <dv-error-messages  for="form.fachstelle.$error"
                                                class="error"></dv-error-messages>
                        </div>
                    </div>
                </div>

                <!--betreuungspensumFachstelle-->
                <div class="row">
                    <div class="col-md-12">
                        <dv-input-container class="form-group">
                            <label data-translate="BETREUUNGSPENSUM_FACHSTELLE" for="betreuungspensumFachstelle"></label>
                            <input id="betreuungspensumFachstelle" type="text" name="betreuungspensumFachstelle"
                                   ng-model="vm.getPensumFachstelle().pensum" max="100"
                                   dv-max-length class="form-control" ng-pattern="vm.CONSTANTS.PATTERN_PERCENTAGE"
                                   ng-required="vm.isFachstelleRequired()">
                            <div class="hint" data-translate="PERCENTAGE_PLACEHOLDER"></div>
                            <dv-error-messages  for="form.betreuungspensumFachstelle.$error" class="error hint"></dv-error-messages>
                            <dv-bisher gs="vm.getContainer().kindGS.pensum" ja="vm.getContainer().kindJA.pensum" sv="vm.getContainer().kindJA.pensum"></dv-bisher>
                        </dv-input-container>
                    </div>
                </div>

                <!-- gueltig ab / gueltig bis -->
                <div class="row">
                    <div class="col-md-6">
                        <dv-input-container class="form-group">
                            <label data-translate="VON" for="datumAb">
                            </label>
                            <dv-datepicker input-id="datumAb" name="datumAb" placeholder="" class="input-element"
                                           ng-model="vm.getPensumFachstelle().gueltigkeit.gueltigAb"
                                           ng-required="vm.isFachstelleRequired()">
                            </dv-datepicker>
                            <div class="hint" data-translate="DATE_PLACEHOLDER"></div>
                            <dv-error-messages  for="form.datumAb.$error"
                                                class="error hint"></dv-error-messages>
                            <dv-bisher gs="vm.getContainer().kindGS.pensumFachstelle.gueltigkeit.gueltigAb"
                                       ja="vm.getContainer().kindJA.pensumFachstelle.gueltigkeit.gueltigAb"
                                       sv="vm.getContainer().kindJA.pensumFachstelle.gueltigkeit.gueltigAb"></dv-bisher>
                        </dv-input-container>
                    </div>

                    <div class="col-md-6">
                        <dv-input-container class="form-group">
                            <label data-translate="BIS" for="datumBis">
                            </label>
                            <dv-datepicker input-id="datumBis" name="datumBis" placeholder="" class="input-element"
                                           ng-model="vm.getPensumFachstelle().gueltigkeit.gueltigBis"
                                           ng-required="false">
                            </dv-datepicker>
                            <div class="hint" data-translate="DATE_PLACEHOLDER"></div>
                            <dv-error-messages  for="form.datumBis.$error"
                                                class="error hint"></dv-error-messages>
                            <dv-bisher gs="vm.getContainer().kindGS.pensumFachstelle.gueltigkeit.gueltigBis"
                                       ja="vm.getContainer().kindJA.pensumFachstelle.gueltigkeit.gueltigBis"
                                       sv="vm.getContainer().kindJA.pensumFachstelle.gueltigkeit.gueltigBis"></dv-bisher>
                        </dv-input-container>
                    </div>
                </div>
            </div>


            <!--bemerkungen-->
            <div class="row">
                <div class="col-md-12" ng-show="vm.isAdminRole()">
                    <dv-input-container class="form-group">
                        <label class="inlineHint" for="notes" data-translate="BEMERKUNGEN"></label>
                        <textarea md-no-autogrow class="form-control" rows="6" id="notes" ng-model="vm.getModel().bemerkungen"
                                  placeholder="{{'BEMERKUNGEN_PLACEHOLDER' | translate}}"></textarea>
                    </dv-input-container>
                </div>
            </div>


            <!--Buttons-->
            <div class="row">
                <div class="col-md-6">
                    <button ng-click="vm.cancel()" class="btn btn-link previous">
                        <span data-translate="ABBRECHEN_UPPER"></span>
                    </button>
                </div>
                <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-link next">
                        <span data-translate="SPEICHERN_UPPER"></span>
                        <span class="fa fa-chevron-right"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
