<div class="finanzielleSituation gesuchModul">
    <div class="row viewTitle">
        <div class="col-md-12">
            <h1>
            <span data-translate="FINANZIELLE_SITUATION_RESULTATE"
                  translate-values="{basisjahr: vm.gesuchModelManager.getBasisjahr()}"></span>
            </h1>
            <hr class="header"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" name="vm.form" class="" unsaved-warning-form="" novalidate>
                <fieldset ng-disabled="vm.isGesuchReadonly()">

                    <!-- Total Einkuenfte -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-medium">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="FINANZIELLE_SITUATION_EINKOMMEN_ZWEI_GS"
                                       for="einkommenBeiderGesuchsteller"
                                       ng-if="vm.model.isGesuchsteller2Required()"></label>
                                <label class="md-no-float" data-translate="FINANZIELLE_SITUATION_EINKOMMEN_EIN_GS"
                                       for="einkommenBeiderGesuchsteller"
                                       ng-if="!vm.model.isGesuchsteller2Required()"></label>
                                <div class="dv-input-container-medium-label">
                                    <input id="einkommenBeiderGesuchsteller" type="text"
                                           name="einkommenBeiderGesuchsteller"
                                           ui-number-mask="0"
                                           aria-label="{{FINANZIELLE_SITUATION_EINKOMMEN_ZWEI_GS|translate}}"
                                           ng-model="vm.getResultate().einkommenBeiderGesuchsteller"
                                           dv-max-length max="999999999999" class="form-control" disabled>
                                    <div class="dv-error-messages"></div>
                                </div>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Vermoegen GS 1 -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-medium">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" for="bruttovermoegen1">
                                    <span data-translate="FINANZIELLE_SITUATION_VERMOEGEN_GS_1" translate-values="{namegs1: vm.extractFullNameGS1()}"></span>
                                    <dv-tooltip text="'FINANZIELLE_SITUATION_VERMOEGEN_HELP' | translate"></dv-tooltip>
                                </label>
                                <div class="dv-input-container-medium-label">
                                    <input id="bruttovermoegen1" type="text" name="bruttovermoegen1" ui-number-mask="0"
                                           aria-label="{{FINANZIELLE_SITUATION_VERMOEGEN_GS_1|translate}}"
                                           ng-model="vm.getFinanzielleSituationGS1().finanzielleSituationJA.bruttovermoegen"
                                           dv-max-length max="999999999999" class="form-control"
                                           ng-blur="vm.calculate()">
                                    <dv-bisher
                                        gs="vm.getFinanzielleSituationGS1().finanzielleSituationGS.bruttovermoegen"
                                        ja="vm.getFinanzielleSituationGS1().finanzielleSituationJA.bruttovermoegen"></dv-bisher>
                                    <dv-error-messages for="vm.form.bruttovermoegen.$error"
                                                       class="error"></dv-error-messages>
                                </div>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Vermoegen GS 2 -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-medium" ng-if="vm.showGS2()">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" for="bruttovermoegen2">
                                    <span data-translate="FINANZIELLE_SITUATION_VERMOEGEN_GS_2" translate-values="{namegs2: vm.extractFullNameGS2()}"></span>
                                    <dv-tooltip text="'FINANZIELLE_SITUATION_VERMOEGEN_HELP' | translate"></dv-tooltip>
                                </label>
                                <div class="dv-input-container-medium-label">
                                    <input id="bruttovermoegen2" type="text" name="bruttovermoegen2" ui-number-mask="0"
                                           aria-label="{{FINANZIELLE_SITUATION_VERMOEGEN_GS_2|translate}}"
                                           ng-model="vm.getFinanzielleSituationGS2().finanzielleSituationJA.bruttovermoegen"
                                           dv-max-length max="999999999999" class="form-control"
                                           ng-blur="vm.calculate()">
                                    <dv-bisher
                                        gs="vm.getFinanzielleSituationGS2().finanzielleSituationGS.bruttovermoegen"
                                        ja="vm.getFinanzielleSituationGS2().finanzielleSituationJA.bruttovermoegen"></dv-bisher>
                                    <dv-error-messages for="vm.form.bruttovermoegen.$error"
                                                       class="error"></dv-error-messages>
                                </div>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Schulden GS 1 -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-medium">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" for="schulden1">
                                    <span data-translate="FINANZIELLE_SITUATION_SCHULDEN_GS_1" translate-values="{namegs1: vm.extractFullNameGS1()}"></span>
                                    <dv-tooltip text="'FINANZIELLE_SITUATION_SCHULDEN_HELP' | translate"></dv-tooltip>
                                </label>
                                <div class="dv-input-container-medium-label">
                                    <input id="schulden1" type="text" name="schulden1" ui-number-mask="0"
                                           aria-label="{{FINANZIELLE_SITUATION_SCHULDEN_GS_1|translate}}"
                                           ng-model="vm.getFinanzielleSituationGS1().finanzielleSituationJA.schulden"
                                           dv-max-length max="999999999999" class="form-control"
                                           ng-blur="vm.calculate()">
                                    <dv-bisher gs="vm.getFinanzielleSituationGS1().finanzielleSituationGS.schulden"
                                               ja="vm.getFinanzielleSituationGS1().finanzielleSituationJA.schulden"></dv-bisher>
                                    <dv-error-messages for="vm.form.schulden.$error" class="error"></dv-error-messages>
                                </div>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Schulden GS 2 -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-medium" ng-if="vm.showGS2()">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" for="schulden2">
                                    <span data-translate="FINANZIELLE_SITUATION_SCHULDEN_GS_2" translate-values="{namegs2: vm.extractFullNameGS2()}"></span>
                                    <dv-tooltip text="'FINANZIELLE_SITUATION_SCHULDEN_HELP' | translate"></dv-tooltip>
                                </label>
                                <div class="dv-input-container-medium-label">
                                    <input id="schulden2" type="text" name="schulden2" ui-number-mask="0"
                                           aria-label="{{FINANZIELLE_SITUATION_SCHULDEN_GS_2|translate}}"
                                           ng-model="vm.getFinanzielleSituationGS2().finanzielleSituationJA.schulden"
                                           dv-max-length max="999999999999" class="form-control"
                                           ng-blur="vm.calculate()">
                                    <dv-bisher gs="vm.getFinanzielleSituationGS2().finanzielleSituationGS.schulden"
                                               ja="vm.getFinanzielleSituationGS2().finanzielleSituationJA.schulden"></dv-bisher>
                                    <dv-error-messages for="vm.form.schulden.$error" class="error"></dv-error-messages>
                                </div>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Nettovermoegen -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-medium">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="FINANZIELLE_SITUATION_NETTOVERMOEGEN"
                                       for="nettovermoegenFuenfProzent"></label>
                                <div class="dv-input-container-medium-label">
                                    <input id="nettovermoegenFuenfProzent" type="text" name="nettovermoegenFuenfProzent"
                                           ui-number-mask="0"
                                           ng-model="vm.getResultate().nettovermoegenFuenfProzent"
                                           dv-max-length max="999999999999" class="form-control" disabled>
                                    <div class="dv-error-messages"></div>
                                </div>
                            </dv-input-container>
                        </div>
                    </div>


                    <!-- Anrechenbares Einkommen -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-medium">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" for="anrechenbaresEinkommen">
                                    <span data-translate="FINANZIELLE_SITUATION_ANRECHENBARES_EINKOMMEN"></span>
                                    <dv-tooltip text="'FINANZIELLE_SITUATION_ANRECHENBARES_EINKOMMEN_HELP' | translate"></dv-tooltip>
                                </label>
                                <div class="dv-input-container-medium-label">
                                    <input id="anrechenbaresEinkommen" type="text" name="anrechenbaresEinkommen"
                                           ui-number-mask="0"
                                           ng-model="vm.getResultate().anrechenbaresEinkommen"
                                           dv-max-length max="999999999999" class="form-control" disabled>
                                    <div class="dv-error-messages"></div>
                                </div>
                            </dv-input-container>
                        </div>
                    </div>


                    <!-- Abzuege beider Gesuchsteller aufgrund Alimente-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-medium">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="FINANZIELLE_SITUATION_ABZUEGE_ALIMENTE"
                                       for="abzuegeBeiderGesuchsteller"></label>
                                <div class="dv-input-container-medium-label">
                                    <input id="abzuegeBeiderGesuchsteller" type="text" name="abzuegeBeiderGesuchsteller"
                                           ui-number-mask="0"
                                           aria-label="{{FINANZIELLE_SITUATION_ABZUEGE_ALIMENTE|translate}}"
                                           ng-model="vm.getResultate().abzuegeBeiderGesuchsteller"
                                           dv-max-length max="999999999999" class="form-control" disabled>
                                    <div class="dv-error-messages"></div>
                                </div>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Massgebendes Einkommen vor Abzug Fam Grösse-->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-medium">
                            <dv-input-container class="form-group">
                                <label class="md-no-float"
                                       data-translate="FINANZIELLE_SITUATION_MASSGEBENDES_EINKOMMEN_VOR_ABZUG_FAM"
                                       for="massgebendesEinkVorAbzFamGr"></label>
                                <div class="dv-input-container-medium-label">
                                    <input id="massgebendesEinkVorAbzFamGr" type="text"
                                           name="massgebendesEinkVorAbzFamGr"
                                           ui-number-mask="0"
                                           ng-model="vm.getResultate().massgebendesEinkVorAbzFamGr"
                                           dv-max-length max="999999999999" class="form-control" disabled>
                                    <div class="dv-error-messages"></div>
                                </div>
                            </dv-input-container>
                        </div>
                    </div>

                </fieldset>

                <!--Buttons-->
                <dv-navigation dv-previous="true" dv-next="true" dv-save="vm.save()" dv-sub-step="3">
                </dv-navigation>
            </form>
        </div>
    </div>
</div>
