<div class="einkommensverschlechterungSteuern gesuchModul">
    <div class="row">
        <div class="col-md-12">

            <form role="form" name="vm.form" class="" unsaved-warning-form novalidate>
                <fieldset ng-disabled="vm.isGesuchReadonly()">

                    <!-- -----------------------------------------BasisJahr+1----------------------------------------------- -->

                    <div class="row viewTitle">
                        <div class="col-md-12">
                            <h1>
                    <span data-translate="EKVI_ZUSAETZLICHE_FRAGEN"
                          translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrPlus(1)}}}"></span>
                            </h1>
                            <hr class="header"/>
                        </div>
                    </div>
                    <!-- Gemeinsame Steuererklaerung -->
                    <div class="row">
                        <div class="col-xs-12 dv-input-container-medium">
                            <div class="form-group">
                                <h1 class="required" data-translate="FINANZIELLE_SITUATION_STEK_GEMEINSAM"
                                    translate-values="{basisjahr: vm.gesuchModelManager.getBasisjahrPlus(1), namegs2: vm.extractFullNameGS2()}"></h1>
                                <dv-radio-container name="gemeinsameSteuererklaerung_BjP1"
                                                    ng-model="vm.getEinkommensverschlechterungsInfo().gemeinsameSteuererklaerung_BjP1"
                                                    ng-required="true" class="radio input-element"
                                                    ng-change="vm.gemeinsameStekClicked_BjP1()"
                                                    dv-enable-element
                                                    dv-enable-allowed-roles="vm.allowedRoles"
                                                    dv-enable-expression="!vm.isGesuchReadonly() && !vm.isKorrekturModusJugendamt()">
                                </dv-radio-container>
                                <dv-error-messages for="vm.form.gemeinsameSteuererklaerung_BjP1.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>

                    <!-- Steuerveranlagung -->
                    <div class="row">
                        <div class="col-xs-12 dv-input-container-medium" ng-if="vm.showSteuerveranlagung_BjP1()">
                            <div class="form-group">
                                <h1 class="required" data-translate="FINANZIELLE_SITUATION_STEUERVERANLAGUNG"
                                    translate-values="{basisjahr: vm.gesuchModelManager.getBasisjahrPlus(1)}"></h1>
                                <dv-radio-container name="steuerveranlagung_BjP1"
                                                    ng-model="vm.getEkv_GS1_Bjp1().steuerveranlagungErhalten"
                                                    ng-required="true" class="radio input-element"
                                                    ng-change="vm.steuerveranlagungClicked_BjP1()"
                                                    dv-enable-element
                                                    dv-enable-allowed-roles="vm.allowedRoles"
                                                    dv-enable-expression="!vm.isGesuchReadonly() && !vm.isKorrekturModusJugendamt()">
                                </dv-radio-container>
                                <dv-error-messages for="vm.form.steuerveranlagung_BjP1.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>

                    <!-- Steuererklärung -->
                    <div class="row">
                        <div class="col-xs-12 dv-input-container-medium"
                             ng-if="vm.showSteuerveranlagung_BjP1() && vm.showSteuererklaerung_BjP1()">
                            <div class="form-group">
                                <h1 class="required" data-translate="FINANZIELLE_SITUATION_STEUERERKLAERUNG"
                                    translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahrPlus(1)}}}"></h1>
                                <dv-radio-container name="steuererklaerung_BjP1"
                                                    ng-model="vm.getEkv_GS1_Bjp1().steuererklaerungAusgefuellt"
                                                    ng-required="true" class="radio input-element"
                                                    ng-change="vm.steuererklaerungClicked_BjP1()"
                                                    dv-enable-element
                                                    dv-enable-allowed-roles="vm.allowedRoles"
                                                    dv-enable-expression="!vm.isGesuchReadonly() && !vm.isKorrekturModusJugendamt()">
                                </dv-radio-container>
                                <dv-error-messages for="vm.form.steuererklaerung_BjP1.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>

                </fieldset>

                <!-- -------------------------------------------Navigation--------------------------------------------  -->
                <dv-navigation dv-previous="true" dv-next="true" dv-save="vm.save()" dv-sub-step="2">
                </dv-navigation>
            </form>

        </div>

    </div>
</div>
