<div class="familiensituationView row">

    <div class="col-md-12">
        <form ng-submit="vm.submit(form)" role="form" name="form" class="" novalidate>

            <!--familienstatus-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="mainQuestion" data-translate="FAMILIENSITUATION_FRAGE_1"></h4>
                        <div ng-repeat="current in vm.familienstatusValues" class="radio famStatus-{{$index}}">
                            <label><input type="radio" name="familienstatus" ng-model="vm.getFamiliensituation().familienstatus"
                                          ng-value="current" required><span data-translate="{{current}}"></span></label>
                        </div>
                        <dv-error-messages ng-if="form.$submitted" for="form.familienstatus.$error"
                                           class="error"></dv-error-messages>
                    </div>
                </div>
            </div>
            <br/>

            <!--gesuchstellerKardinalitaet-->
            <div class="row">
                <div class="col-md-12" ng-show="vm.showGesuchstellerKardinalitaet()">
                    <div class="form-group">
                        <h4 class="mainQuestion" data-translate="FAMILIENSITUATION_FRAGE_2"></h4>
                        <div ng-repeat="current in vm.gesuchstellerKardinalitaetValues" class="radio famStatus-{{$index}}">
                            <label><input type="radio" name="gesuchstellerKardinalitaet" ng-model="vm.getFamiliensituation().gesuchstellerKardinalitaet"
                                          ng-value="current" ng-required="vm.showGesuchstellerKardinalitaet()">
                                <span data-translate="{{current}}"></span></label>
                        </div>
                        <dv-error-messages ng-if="form.$submitted" for="form.gesuchstellerKardinalitaet.$error"
                                           class="error"></dv-error-messages>
                    </div>
                </div>
            </div>

            <!--bemerkungen-->
            <div class="row">
                <div class="col-md-12" ng-show="vm.isAdminRole()">
                    <div class="form-group">
                        <label class="inlineHint" for="notes" data-translate="BEMERKUNGEN"></label>
                    <textarea class="form-control" rows="6" id="notes" ng-model="vm.getFamiliensituation().bemerkungen"
                              placeholder="{{'BEMERKUNGEN_PLACEHOLDER' | translate}}"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <button type="submit" class="btn btn-link next">
                        <span data-translate="SPEICHERN_UPPER"></span>
                        <span class="fa fa-chevron-right"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
