<div class="familiensituationView row">

    <div class="col-md-3 sidenav">
        <ul class="sidenav">
            <li style="border-bottom: 1px solid #333333;">01 Familiensituation</li>
            <li>02 Stammdaten Gesuchstellerin</li>
            <li>03 Erwerbspensum</li>
            <li>04 FinanzielleSituation</li>
            <li>05 Einkommensverschlechterung</li>
            <li>06 Stammdaten der Kinder</li>
            <li>07 Platzbestätigung</li>
            <li>08 Anlageverzeichnis</li>
            <li>09 Freigabequittung</li>
        </ul>
    </div>

    <div class="col-md-5">
        <form ng-submit="vm.submit()" role="form" name="form" class="" novalidate>

            <!--familiensituation-->
            <div class="col-md-12">
                <div class="form-group">
                    <h4 class="mainQuestion" data-translate="FAMILIENSITUATION_FRAGE_1"></h4>
                    <div class="radio">
                        <label><input type="radio" name="familiensituation" ng-model="vm.gesuch"
                                      ng-value="ALLEINERZIEHEND">{{'ALLEINERZIEHEND' | translate}}</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="familiensituation" ng-model="vm.gesuch"
                                      ng-value="VERHEIRATET">{{'VERHEIRATET' | translate}}</label>
                    </div>
                    <br />
                    <div class="radio">
                        <label><input type="radio" name="familiensituation" ng-model="vm.gesuch"
                                      ng-value="KONKUBINAT">{{'KONKUBINAT' | translate}}</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="familiensituation" ng-model="vm.gesuch"
                                      ng-value="LAENGER_FUENF_JAHRE">{{'LAENGER_FUENF_JAHRE' | translate}}</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="familiensituation" ng-model="vm.gesuch"
                                      ng-value="WENIGER_FUENF_JAHRE">{{'WENIGER_FUENF_JAHRE' | translate}}</label>
                    </div>
                    <br />
                    <div class="radio">
                        <label><input type="radio" name="familiensituation" ng-model="vm.gesuch"
                                      ng-value="PARTNERSCHAFT">{{'PARTNERSCHAFT' | translate}}</label>
                    </div>

                </div>
            </div>

            <!--beantragen-->
            <div class="col-md-12">
                <div class="form-group">
                    <h4 class="mainQuestion" data-translate="FAMILIENSITUATION_FRAGE_2"></h4>
                    <div class="radio">
                        <label><input type="radio" name="familiensituation" ng-model="vm.gesuch"
                                      ng-value="ALLEINE">{{'ALLEINE' | translate}}</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="familiensituation" ng-model="vm.gesuch"
                                      ng-value="ZU_ZWEIT">{{'ZU_ZWEIT' | translate}}</label>
                    </div>
                </div>
            </div>

            <!--bemerkungen-->
            <div class="col-md-12">
                <div class="form-group">
                    <label class="inlineHint" for="notes" data-translate="BEMERKUNGEN"></label>
                    <textarea class="form-control" rows="6" id="notes"
                        placeholder="{{'BEMERKUNGEN_PLACEHOLDER' | translate}}"></textarea>
                </div>
            </div>

        </form>
    </div>

</div>
