<md-dialog md-theme="default" ng-class="vm.css" aria-label="Tooltip"
           class="md-default-theme md-transition-in dv-tooltip-dialog"
           role="dialog" tabindex="-1" aria-describedby="dialogContent">

    <div class="tooltip-close-button">
        <span flex></span>
        <button class="md-icon-button" ng-click="vm.cancel()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
    <md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent">
        <div class="row">
            <label data-translate="EWK_PERSON_ID"></label>
            <label ng-bind="vm.person.personID"></label>
        </div>
        <div class="row" ng-repeat="code in vm.person.einwohnercodes">
            <label data-translate="EWK_EINWOHNERCODE"></label>
            <label ng-bind="code.codeTxt"></label>
        </div>
        <div class="row">
            <label data-translate="EWK_NACHNAME"></label>
            <label ng-bind="vm.person.nachname"></label>
        </div>
        <div class="row">
            <label data-translate="EWK_VORNAME"></label>
            <label ng-bind="vm.person.vorname"></label>
        </div>
        <div class="row">
            <label data-translate="EWK_RUFNAME"></label>
            <label ng-bind="vm.person.rufname"></label>
        </div>
        <div class="row">
            <label data-translate="EWK_GEBURTSDATUM"></label>
            <label ng-bind="vm.person.geburtsdatum | amDateFormat: 'DD.MM.YYYY'"></label>
        </div>
        <div class="row">
            <label data-translate="EWK_ZUZUGSDATUM"></label>
            <label ng-bind="vm.person.zuzugsdatum | amDateFormat: 'DD.MM.YYYY'"></label>
        </div>
        <div class="row">
            <label data-translate="EWK_NATIONALITAET"></label>
            <label ng-bind="vm.person.nationalitaet"></label>
        </div>
        <div class="row">
            <label data-translate="EWK_ZIVILSTAND"></label>
            <label ng-bind="vm.person.zivilstandTxt"></label>
        </div>
        <div class="row">
            <label data-translate="EWK_ZIVILSTAND_DATUM"></label>
            <label ng-bind="vm.person.zivilstandsdatum | amDateFormat: 'DD.MM.YYYY'"></label>
        </div>
        <div class="row">
            <label data-translate="EWK_GESCHLECHT"></label>
            <label ng-bind="vm.person.geschlecht | translate"></label>
        </div>

        <div ng-repeat="adresse in vm.person.adressen">
            <div class="row">
                <label data-translate="EWK_ADRESSE_TYP"></label>
                <label ng-bind="adresse.adresstypTxt"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_GUELTIGAB"></label>
                <label ng-bind="adresse.gueltigVon | amDateFormat: 'DD.MM.YYYY'"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_GUELTIGBIS"></label>
                <label ng-bind="adresse.gueltigBis | amDateFormat: 'DD.MM.YYYY'"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_BFSGEMEINDE"></label>
                <label ng-bind="adresse.bfSGemeinde"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_STRASSE"></label>
                <label ng-bind="adresse.strasse"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_HAUSNUMMER"></label>
                <label ng-bind="adresse.hausnummer"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_PLZ"></label>
                <label ng-bind="adresse.postleitzahl"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_ORT"></label>
                <label ng-bind="adresse.ort"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_KANTON"></label>
                <label ng-bind="adresse.kanton"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_LAND"></label>
                <label ng-bind="adresse.land"></label>
            </div>
        </div>

        <div ng-repeat="beziehung in vm.person.beziehung">
            <div class="row">
                <label data-translate="EWK_BEZIEHUNG_TYP"></label>
                <label ng-bind="beziehung.beziehungstypTxt"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_PERSON_ID"></label>
                <label ng-bind="beziehung.personID"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_NACHNAME"></label>
                <label ng-bind="beziehung.nachname"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_VORNAME"></label>
                <label ng-bind="beziehung.vorname"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_RUFNAME"></label>
                <label ng-bind="beziehung.rufname"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_GEBURTSDATUM"></label>
                <label ng-bind="beziehung.geburtsdatum | amDateFormat: 'DD.MM.YYYY'"></label>
            </div>

            <div class="row">
                <label data-translate="EWK_ADRESSE_TYP"></label>
                <label ng-bind="beziehung.adresse.adresstypTxt"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_GUELTIGAB"></label>
                <label ng-bind="beziehung.adresse.gueltigVon | amDateFormat: 'DD.MM.YYYY'"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_GUELTIGBIS"></label>
                <label ng-bind="beziehung.adresse.gueltigBis | amDateFormat: 'DD.MM.YYYY'"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_BFSGEMEINDE"></label>
                <label ng-bind="beziehung.adresse.bfSGemeinde"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_STRASSE"></label>
                <label ng-bind="beziehung.adresse.strasse"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_HAUSNUMMER"></label>
                <label ng-bind="beziehung.adresse.hausnummer"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_PLZ"></label>
                <label ng-bind="beziehung.adresse.postleitzahl"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_ORT"></label>
                <label ng-bind="beziehung.adresse.ort"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_KANTON"></label>
                <label ng-bind="beziehung.adresse.kanton"></label>
            </div>
            <div class="row">
                <label data-translate="EWK_ADRESSE_LAND"></label>
                <label ng-bind="beziehung.adresse.land"></label>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout-align="center center" style="border:none!important;">
        <button class=" md-default-theme " type="button"
                ng-click="vm.cancel()" md-autofocus="dialog.$type==='alert'"
                aria-label="{{'ZURUECK_ONLY_UPPER' | translate}}">
            <span class="ng-binding ng-scope" data-translate="ZURUECK_ONLY_UPPER"></span>
        </button>
    </md-dialog-actions>

</md-dialog>
