<div class="dv-mitteilung-list">
    <div class="row">

        <div class="col-md-12">

            <div ng-if="vm.betreuung">
                <h1>{{vm.betreuung.kindFullname}} / {{vm.betreuung.institutionStammdaten.institution.name}}</h1>
                <hr class="header"/>
            </div>

            <!-- Entwurf / Neue Mitteilung -->
            <div ng-if="vm.getCurrentMitteilung()">

                <!--Subject-->
                <div class="row">
                    <div class="col-sm-12 dv-input-container-medium">
                        <dv-input-container class="form-group">
                            <label class="md-no-float" data-translate="MITTEILUNG_SUBJECT" for="subject_ID"></label>
                            <input id="subject_ID" type="text" name="subject"
                                   ng-model="vm.getCurrentMitteilung().subject"
                                   dv-max-length
                                   class="form-control input-dv"
                                   ng-blur="vm.saveEntwurf()">
                            <dv-error-messages for="vm.form.subject.$error"
                                               class="error"></dv-error-messages>
                        </dv-input-container>
                    </div>
                </div>

                <!--Message-->
                <div class="row">
                    <div class="col-sm-12 dv-input-container-medium">
                        <dv-input-container class="form-group kommentar-feld">
                            <label class="md-no-float" for="message"
                                   data-translate="MITTEILUNG_MESSAGE"></label>
                            <textarea md-no-autogrow class="form-control" rows="4" id="message"
                                      maxlength="4000"
                                      ng-model="vm.getCurrentMitteilung().message"
                                      ng-blur="vm.saveEntwurf()">
                            </textarea>
                        </dv-input-container>
                    </div>
                </div>

                <!--Send Buttons / Abbrechen -->
                <div class="row">
                    <dv-loading-button button-click="vm.sendMitteilung()" type="button"
                                       button-class="dv-btn-operation">
                        <i class="fa fa-lg fa-paper-plane"></i>
                        <span data-translate="MITTEILUNG_SENDEN"></span>
                    </dv-loading-button>
                    <dv-loading-button button-click="vm.cancel()" button-class="cancel"
                                       type="reset">
                        <span data-translate="ABBRECHEN_UPPER"></span>
                    </dv-loading-button>
                </div>

            </div>

            <!--Alle Mitteilungen-->
            <div class="row mitteilungenList marginTop50">
                <div ng-if="vm.allMitteilungen.length === 0">
                    <span data-translate="MITTEILUNGEN_NOCH_KEINE"></span>
                </div>
                <div ng-repeat="mitteilung in vm.allMitteilungen"
                     ng-class="{'row': true, 'marginTop10': true, 'mitteilungItem': true,
                        'marginLeft50': vm.isCurrentUserTypTheSenderTyp(mitteilung),
                        'marginLeft10': !vm.isCurrentUserTypTheSenderTyp(mitteilung),
                        'institution': vm.isSenderTypInstitution(mitteilung),
                        'jugendamt': vm.isSenderTypJugendamt(mitteilung),
                        'gesuchsteller': vm.isSenderTypGesuchsteller(mitteilung)}"
                     ng-value="mitteilung.username"
                     ng-click="showDetails = !showDetails">

                    <div class="row">
                        <div class="row">
                            <div class="col-md-12 dv-input-container-medium">
                                <span class="subject" ng-bind="mitteilung.subject"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 dv-input-container-medium">
                                <span ng-bind="mitteilung.senderAsString"></span>
                            </div>
                            <div class="col-md-4 dv-input-container-medium"
                                 dv-show-element
                                 dv-show-allowed-roles="vm.TSRoleUtil.getAdministratorJugendamtRole()"
                                 dv-show-expression="!vm.isCurrentUserTypTheSenderTyp(mitteilung) && vm.isStatusErledigtGelesen(mitteilung)">
                                <md-checkbox name="erledigt-{{$index}}" aria-label="erledigt"
                                             ng-checked="mitteilung.mitteilungStatus === 'ERLEDIGT'"
                                             ng-click="vm.setErledigt(mitteilung); $event.stopPropagation()">
                                    <span data-translate="MITTEILUNGEN_ERLEDIGT"></span>
                                </md-checkbox>
                            </div>
                            <div class="col-md-4 dv-input-container-medium">
                                <span ng-bind="mitteilung.sentDatum | amDateFormat : 'DD.MM.YYYY / HH:mm'"></span>
                            </div>
                        </div>
                    </div>
                    <hr class="marginTop05 marginBottom10">
                    <div class="row message" ng-show="showDetails">
                        <span class="betreuung" ng-bind="vm.betreuungAsString(mitteilung)" ng-click="vm.gotoBetreuung(mitteilung)" ng-show="mitteilung.betreuung"/></span>
                        <span ng-bind="mitteilung.message"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
