@import "../../style/variables.less";
@import "../../style/mixins.less";

@buttonWidth: 24rem;
@buttonHeight: 15rem;

.gesuchstellerDashboardView {
    h3 {
        color: @contrast-lightest;
    }
    overflow-y: auto;
    color: @contrast-lightest;
    background: url('../../assets/images/kitax_bg.jpg') no-repeat center center fixed; /* fallback */
    background: linear-gradient(rgba(40, 40, 40, 0.85), rgba(40, 40, 40, 0.85)),
    url('../../assets/images/kitax_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .dashboardHeader {
        margin-top: 6rem;
        z-index: @z-index-dashboard;
        & > *
        {
            margin:2rem;
        }
    }
    .dashboardButton {
        width: @buttonWidth;
        height: @buttonHeight;
        padding: 0;
        border: none;
        border-radius: 0;
        position: relative;
        &:focus {
            border: none;
            border-radius: 0;
            outline: none;
        }
        &:hover {
            .labelSmall {
                background: @primary-dark;
            }
        }
        h2 {
            font-family: "Open Sans", Arial, Helvetica, sans-serif;
            font-size: 2.2rem;
            letter-spacing: 0.15rem;
            color: @contrast-light;
            margin: 0;
        }
        .labelBig {
            top: 0;
            left: 0;
            background-color: @contrast;
            width: @buttonWidth;
            height: 11rem;
            min-width: 0;

            & h2 {
                .ebeguBold();
                margin: auto;
            }
            & h3 {
                .ebeguSemi-bold();
                font-size: 1.4rem;
                margin-top:0.5rem;
                margin-bottom:2rem;
                letter-spacing: 0.1rem;
            }
        }
        .labelSmall {
            text-transform: uppercase;
            bottom: 0;
            left: 0;
            background-color: @primary;
            width: @buttonWidth;
            height: 4rem;
            min-width: 0%;
            & h2 {
                line-height: 4rem;
                font-size: 1.4rem;
            }
        }
        .labelNotification {
            letter-spacing:normal;
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            border-radius: 4rem;
            background-color: @contrast-lightest;
            width: 2.4rem;
            height: 2.4rem;
            vertical-align: middle;
            line-height: 2.4rem;
            text-align: center;
            color: @primary;
            font-weight: bold;
        }
    }
    .dvb-loading-button {
        width: @buttonWidth;
        height: @buttonHeight;
        text-align: center;
    }
}
