<gesuch-toolbar-gesuchsteller flex="nogrow"
                              class="gesuch-toolbar-gesuchsteller"
                              fallid="{{vm.fallId}}"
                              is-dashboard-screen="{{true}}">
</gesuch-toolbar-gesuchsteller>

<div class="gesuchstellerDashboardView" flex="auto">
    <h1 class="access-for-all-title" data-translate="AFA_DASHBOARD"></h1>
    <div class="dashboardHeader" flex="100" layout="row" layout-align="center center" layout-margin
         layout-xs="column"
         layout-align-xs="space-between center">


        <div ng-repeat="periode in vm.getActiveGesuchsperiodenList() | orderBy: 'gueltigkeit.gueltigAb'">
            <dv-loading-button layout="column" flex="nogrow" type="button" button-click="vm.openAntrag(periode)"
                               button-class="dashboardButton">
                <div flex="none" class="labelBig" layout="column" layout-align="end center">
                    <div layout="column">
                        <span class="ebeguH2" flex="nogrow">
                            <span data-translate="GESUCH"></span>
                            <span>{{periode.gesuchsperiodeString}}</span>
                        </span>
                        <span class="ebeguH3" flex="nogrow">
                            <span>{{periode.gueltigkeit.gueltigAb | amDateFormat : 'DD.MM.YY'}} – {{periode.gueltigkeit.gueltigBis | amDateFormat : 'DD.MM.YY'}}</span>
                        </span>
                    </div>
                </div>
                <div flex="none" class="labelSmall">
                    <span class="ebeguH2">{{vm.getButtonText(periode)}}</span>
                </div>
            </dv-loading-button>
        </div>

        <dv-loading-button layout="column" flex="nogrow" type="button" button-click="vm.goToMitteilungenOeffen()"
                           button-class="dashboardButton">
            <div flex="auto" class="labelBig"
                 layout="column"><span class="ebeguH2" data-translate="GSDASHBOARD_MITTEILUNGEN"></span></div>
            <div flex="auto" class="labelNotification" ng-bind="vm.getNumberMitteilungen()"></div>
            <div class="labelSmall"><span class="ebeguH2" data-translate="GSDASHBOARD_OEFFNEN"></span></div>
        </dv-loading-button>

    </div>

    <div class="col-md-8 col-md-offset-2">

        <h2 data-translate="GSDASHBOARD_ANTRAEGE"></h2>

        <table st-table="displayedCollection" st-set-filter="pendenzFilter" st-safe-src="vm.getAntragList()"
               st-delay="20"
               class="table fixedtable">
            <thead>
            <tr>

                <th st-sort="antragTyp" class="sortable" data-translate="TYP_UPPER"></th>
                <th st-sort="gesuchsperiodeString" class="sortable" data-translate="PERIODE_UPPER" hide-sm hide-xs></th>
                <th st-sort="eingangsdatum" st-sort-default="true" class="sortable"
                    data-translate="EINGANG_UPPER"></th>
                <th st-sort="status" class="sortable" data-translate="STATUS_UPPER"></th>
                <th st-sort="verantwortlicher" class="sortable" data-translate="VERANTWORTLICH_UPPER" hide-sm
                    hide-xs></th>
                <th hide-sm hide-xs width="5%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in displayedCollection" st-select-row="row" st-select-mode="single"
                ng-click="vm.editAntrag(row)" role="row" role="row" tabindex="-1">
                <td class="ellipsis" ellipsis-tooltip="{{row.antragTyp | translate}}"
                    ng-bind="row.antragTyp | translate"></td>
                <td class="ellipsis"
                    ellipsis-tooltip="{{row.gesuchsperiodeString}}"
                    ng-bind="row.gesuchsperiodeString" hide-sm hide-xs></td>
                <td class="ellipsis"
                    ellipsis-tooltip="{{row.eingangsdatum | amDateFormat : 'DD.MM.YYYY'}}"
                    ng-bind="row.eingangsdatum | amDateFormat : 'DD.MM.YYYY'"></td>
                <td class="ellipsis" ellipsis-tooltip="{{vm.translate(row.status)}}"
                    ng-bind="vm.translateStatus(row)"></td>
                <td class="ellipsis" ellipsis-tooltip="{{vm.getVerantwortlicherFullName(row)}}"
                    ng-bind="vm.getVerantwortlicherFullName(row)" hide-sm hide-xs></td>
                <td class="ellipsis" role="cell" tabindex="-1" ng-click="$event.stopPropagation()" width="5%" hide-sm
                    hide-xs>
                    <dv-loading-button type="button" button-click="vm.editAntrag(row)"
                                       button-class="dv-btn-operation dv-btn-operation--white dv-btn-row"
                                       aria-label="{{'TABLE_EDIT'|translate}}">
                        <i class="fa fa-lg fa-arrow-right" title="{{'TABLE_EDIT'|translate}}" aria-label="{{'TABLE_EDIT'|translate}}">
                        </i>
                    </dv-loading-button>
                </td>
            </tr>
            <tr ng-if="vm.getAntragList().length === 0">
                <td colspan="4" class="empty-table" data-translate="ANTRAG_NOCH_KEINE" hide-gt-sm></td>
                <td colspan="6" class="empty-table" data-translate="ANTRAG_NOCH_KEINE" hide-sm hide-xs></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="text-center" hide-sm hide-xs>
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                </td>
                <td colspan="4" class="text-center" hide-gt-sm>
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
