<!-- strasse/hausnummer -->
<div ng-form="adresseForm">
    <fieldset>

        <!-- Adresse Zusatz-->
        <div class="row" ng-if="vm.organisation">
            <div class="col-xs-12 dv-input-container-small">
                <dv-input-container class="form-group">
                    <label class="md-no-float" data-translate="ADRESSE_ORGANISATION" for="{{vm.prefix}}-organisation">
                    </label>
                    <input id="{{vm.prefix}}-organisation" type="text" name="organisation"
                           ng-model="vm.getModel().organisation"
                           dv-max-length class="form-control">
                    <dv-error-messages for="adresseForm.organisation.$error"
                                       class="error"></dv-error-messages>
                </dv-input-container>
            </div>
        </div>

        <div class="dv-adresse row">
            <!--Strasse-->
            <div class="col-sm-12 dv-input-container-small">
                <dv-input-container class="form-group">
                    <label class="md-no-float" data-translate="ADRESSE_STRASSE" for="{{vm.prefix}}-strasse">
                    </label>
                    <input id="{{vm.prefix}}-strasse" type="text" name="adresseStrasse" ng-model="vm.getModel().strasse"
                           dv-max-length class="form-control" required>
                    <dv-error-messages for="adresseForm.adresseStrasse.$error"
                                       class="error"></dv-error-messages>
                </dv-input-container>
            </div>
            <div class="col-sm-12 dv-input-container-small">
                <dv-input-container class="form-group secondColumn">
                    <label class="md-no-float" data-translate="ADRESSE_HAUSNUMMER" for="{{vm.prefix}}-hausnummer">
                    </label>
                    <input id="{{vm.prefix}}-hausnummer" type="text" name="adresseHausnummer"
                           ng-model="vm.getModel().hausnummer"
                           dv-max-length class="form-control">
                    <dv-error-messages for="adresseForm.adresseHausnummer.$error"
                                       class="error"></dv-error-messages>
                </dv-input-container>
            </div>
        </div>
        <!-- Adresse Zusatz-->
        <div class="row">
            <div class="col-sm-12 dv-input-container-small">
                <dv-input-container class="form-group">
                    <label class="md-no-float" data-translate="ADRESSE_ZUSATZZEILE" for="{{vm.prefix}}-zusatzzeile">
                    </label>
                    <input id="{{vm.prefix}}-zusatzzeile" type="text" name="adresseZusatzzeile"
                           ng-model="vm.getModel().zusatzzeile"
                           dv-max-length class="form-control">
                    <dv-error-messages for="adresseForm.adresseZusatzzeile.$error"
                                       class="error"></dv-error-messages>
                </dv-input-container>
            </div>
        </div>
        <!-- PLZ ORT-->
        <div class="row">
            <div class="col-sm-12 dv-input-container-small">
                <dv-input-container class="form-group">
                    <label class="md-no-float" data-translate="ADRESSE_PLZ" for="{{vm.prefix}}-plz">
                    </label>
                    <input id="{{vm.prefix}}-plz" type="text" name="adressePlz" ng-model="vm.getModel().plz"
                           dv-max-length class="form-control" required>
                    <dv-error-messages for="adresseForm.adressePlz.$error"
                                       class="error"></dv-error-messages>
                </dv-input-container>
            </div>
            <div class="col-sm-12 dv-input-container-small">
                <dv-input-container class="form-group secondColumn">
                    <label class="md-no-float" data-translate="ADRESSE_ORT" for="{{vm.prefix}}-ort">
                    </label>
                    <input id="{{vm.prefix}}-ort" type="text" name="adresseOrt" ng-model="vm.getModel().ort"
                           dv-max-length class="form-control" required>
                    <dv-error-messages for="adresseForm.adresseOrt.$error"
                                       class="error"></dv-error-messages>
                </dv-input-container>
            </div>
        </div>
        <!-- Gemeinde-->
        <div class="row" ng-if="false">
            <div class="col-sm-12 dv-input-container-small">
                <dv-input-container class="form-group">
                    <label class="md-no-float" data-translate="ADRESSE_GEMEINDE" for="{{vm.prefix}}-gemeinde">
                    </label>
                    <input id="{{vm.prefix}}-gemeinde" type="text" name="adresseGemeinde" ng-model="vm.getModel().gemeinde"
                           dv-max-length class="form-control">
                    <dv-error-messages for="adresseForm.adresseGemeinde.$error"
                                       class="error"></dv-error-messages>
                </dv-input-container>
            </div>
        </div>
        <!-- Land-->
        <div class="row">
            <div class="col-sm-12 dv-input-container-small">
                <div class="form-group">
                    <label class="md-no-float" data-translate="ADRESSE_LAND" for="{{vm.prefix}}-land">
                    </label>
                    <select name="adresseLand" id="{{vm.prefix}}-land" ng-model="vm.getModel().land"
                            ng-options="land.code as land.name for land in vm.laenderList | orderBy: 'name'"
                            class="form-control"
                            required>
                    </select>
                    <dv-error-messages for="adresseForm.adresseLand.$error"
                                       class="error"></dv-error-messages>
                </div>
            </div>
        </div>

        <!-- nicht in Bern wohnhaft-->
        <div class="row" dv-show-element dv-show-allowed-roles="vm.TSRoleUtil.getAllRolesButGesuchsteller()"
             dv-show-expression="vm.showNichtInGemeinde===true">
            <div class="col-md-12">
                <div class="checkbox">
                    <md-checkbox ng-model="vm.getModel().nichtInGemeinde" name="nichtInGemeinde"
                                 aria-label="nichtInGemeinde"
                                 dv-enable-element
                                 dv-enable-allowed-roles="vm.TSRoleUtil.getAdministratorJugendamtRole()"
                                 dv-enable-expression="!vm.isGesuchReadonly() && !vm.disableWohnadresseFor2GS()">
                        <span data-translate="NICHT_IN_BERN_WOHNHAFT"></span>
                    </md-checkbox>
                    <dv-error-messages for="adresseForm.adresseNichtInGemeinde.$error"
                                       class="error"></dv-error-messages>
                </div>
            </div>
        </div>


        <!-- gueltig ab / gueltig bis -->
        <div class="row">
            <div class="col-sm-12 dv-input-container-small">
                <dv-input-container class="form-group" ng-if="vm.showDatumVon()">
                    <label class="md-no-float" data-translate="ADRESSE_GUELTIGAB" for="{{vm.prefix}}-gueltigAb">
                    </label>
                    <dv-datepicker input-id="{{vm.prefix}}-gueltigAb" input-name="gueltigAb" name="gueltigAb"
                                   ng-model="vm.getModel().gueltigkeit.gueltigAb"
                                   class="input-element" ng-required="true"
                                   ng-attr-placeholder="{{'DATE_PLACEHOLDER' | translate}}">
                    </dv-datepicker>
                    <!--<span class="input-group-btn">-->
                    <!--<button type="button" class="btn btn-default" ng-click="vm.openPopup()">-->
                    <!--<i class="fa fa-calendar"></i></button>-->
                    <!--</span>-->
                    <dv-error-messages for="adresseForm.gueltigAb.$error"
                                       class="error"></dv-error-messages>
                </dv-input-container>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 dv-input-container-small">
                <dv-input-container class="form-group secondColumn" ng-if="false">
                    <label class="md-no-float" data-translate="ADRESSE_GUELTIGBIS" for="{{vm.prefix}}-gueltigBis">
                    </label>
                    <dv-datepicker input-id="{{vm.prefix}}-gueltigBis" input-name="gueltigBis" name="gueltigBis"
                                   ng-model="vm.getModel().gueltigkeit.gueltigBis" ng-required="true">
                    </dv-datepicker>
                    <dv-error-messages for="adresseForm.gueltigBis.$error"
                                       class="error"></dv-error-messages>
                </dv-input-container>
            </div>
        </div>

    </fieldset>
</div>

