<div class="erwerbspensumListView">
    <div class="col-md-12">
        <h4 class="mainTitle">
            <span data-translate="ERWERBSPENSEN_LIST_TITLE"></span>
        </h4>
        <hr class="header"/>

        <!--Erwerbspensen von Gesuchsteller 1-->
        <div ng-if="vm.gesuchModelManager.gesuch.gesuchsteller1">
            <h4 ng-bind="vm.gesuchModelManager.gesuch.gesuchsteller1.getFullName()"></h4>
            <dv-erwerbspensum-list erwerbspensen="vm.getErwerbspensenListGS1()" table-id="erwerbspensenGS1"
                                   table-title="Erwerbspensen Gesuchsteller 1" add-button-text="{{'ADD_TAETIGKEIT' | translate}}"
                                   add-button-Visible="true"
                                   on-add="vm.createErwerbspensum(1)"
                                   on-edit="vm.editPensum(pensum, 1)"
                                   on-remove="vm.removePensum(pensum, 1)"></dv-erwerbspensum-list>

        </div>
        <!--Erwerbspensen von Gesuchsteller 2-->
        <div ng-if="vm.gesuchModelManager.gesuch.gesuchsteller2" class="marginTop20">
            <h4 ng-bind="vm.gesuchModelManager.gesuch.gesuchsteller2.getFullName()"></h4>
            <dv-erwerbspensum-list erwerbspensen="vm.getErwerbspensenListGS2()" table-id="erwerbspensenGS2"
                                   table-title="Erwerbspensen Gesuchsteller 2" add-button-text="{{'ADD_TAETIGKEIT' | translate}}"
                                   add-button-Visible="true"
                                   on-add="vm.createErwerbspensum(2)"
                                   on-edit="vm.editPensum(pensum, 2)"
                                   on-remove="vm.removePensum(pensum, 2)"></dv-erwerbspensum-list>
        </div>
    </div>

    <!--Buttons-->
    <div class="row marginTop20">
        <div class="col-md-6">
            <dv-loading-button ng-click="vm.previousStep()" button-class="btn btn-link previous">
                <span class="fa fa-chevron-left"></span>
                <span data-translate="ZURUECK_UPPER"></span>
            </dv-loading-button>
        </div>
        <div class="col-md-6 text-right">
            <dv-loading-button type="submit" button-class="btn btn-link next" ng-click="vm.nextStep()">
                <span data-translate="WEITER_UPPER"></span>
                <span class="fa fa-chevron-right"></span>
            </dv-loading-button>
        </div>
    </div>
</div>


</div>
