<div class="kinderView row">
    <div class="col-md-12">
        <h4 class="mainTitle">
            <span data-translate="KINDER"></span>
        </h4>
        <p class="inlineHint" data-translate="KINDER_HINT1"></p>
        <p class="inlineHint" data-translate="KINDER_HINT2"></p>
        <div class="row">
            <div class="col-md-4 ">
                <button ng-click="vm.previousStep()" class="btn btn-link previous">
                    <span class="fa fa-chevron-left"></span>
                    <span data-translate="ZURUECK_UPPER"></span>
                </button>
            </div>

            <div class="col-md-4 text-right">
                <button ng-click="vm.nextStep()" class="btn btn-link next">
                    <span data-translate="SPEICHERN_UPPER"></span>
                    <span class="fa fa-chevron-right"></span>
                </button>
            </div>

            <!--                 <div class="col-md-2">
                                 <button class="btn btn-primary" type="submit" data-translate="SAVE"
                                         ng-if="vm.gesuchModelManager.getStammdatenToWorkWith().timestampErstellt === undefined">
                                 </button>
                                 <button class="btn btn-primary" type="submit" data-translate="AKTUALISIEREN"
                                         ng-if="vm.gesuchModelManager.getStammdatenToWorkWith().timestampErstellt">
                                 </button>
                             </div>
                             <div class="col-md-2">
                                 <a href="#" id="cancelLink" data-translate="CANCEL"
                                    ng-click="vm.resetForm(); form.$setPristine();form.$setUntouched();"></a>

                             </div>
                             <div class="col-md-4 text-right">
                                 <button type="submit" class="btn btn-link next">
                                     <span data-translate="SPEICHERN_UPPER"></span>
                                     <span class="fa fa-chevron-right"></span>
                                 </button>
                             </div>
                         </div>-->
        </div>
    </div>


</div>
