@import 'variables.less';

@media @mq-md {
    .dv-input-container-small {
        width: 30rem;
        padding: 0 1rem 0;
    }
}

//Device Media Queries
@media @mq-d-sm {
    html {
        font-size: @base-font-size*0.25;
    }
}

@media @mq-d-md {
    html {
        font-size: @base-font-size*0.5;
    }
}

@media @mq-d-lg {
    html {
        font-size: @base-font-size*0.75;
    }
}

@media @mq-d-xlg {
    html {
        font-size: @base-font-size;
    }
}
