<div class="traegerschaftView adminModul">
    <div class="col-md-8 col-md-offset-2">
        <div class="viewTitle">
            <h1 data-translate="TRAEGERSCHAFT"></h1>
        </div>
        <form role="form" name="vm.form" class="" unsaved-warning-form novalidate>

            <div class="row">
                <!--Tabelle zum anzeigen aller Traegerschaften-->
                <div class="col-md-12 table-responsive">
                    <table st-table="displayedCollection" st-safe-src="vm.getTraegerschaftenList()"
                           class="table" st-delay="20">
                        <thead>
                        <tr>
                            <th st-sort="name" class="sortable" data-translate="TRAEGERSCHAFT" width="95%"></th>
                            <th width="5%"></th>
                            <!--<th width="5%"></th>-->
                        </tr>

                        </thead>
                        <tbody>
                        <tr ng-repeat="row in displayedCollection">
                            <td ng-bind="row.name"></td>
                            <td></td>

                            <!--<td>-->
                            <!--<dv-loading-button type="button" button-click="vm.removeTraegerschaft(row)"-->
                            <!--button-class=" btn-sm">-->
                            <!--<i class="fa fa-minus">-->
                            <!--</i>-->
                            <!--</dv-loading-button>-->
                            <!--</td>-->
                        </tr>

                        <tr ng-if="vm.newTraegerschaft">

                            <td colspan="2">
                                <!--Name der Traegerschaft-->
                                <div class="row marginTop10">
                                    <div class="col-md-12 form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="md-no-float" data-translate="NAME" for="name_ID"></label>
                                            </div>
                                            <div class="col-md-6">
                                                <input id="name_ID" type="text" name="name"
                                                       ng-model="vm.newTraegerschaft.name"
                                                       dv-max-length class="form-control" required>
                                            </div>
                                            <div class="col-md-2">
                                                <dv-loading-button type="submit"
                                                                   button-click="vm.saveTraegerschaft(form)"
                                                                   button-class="">
                                                    <i class="fa fa-plus"></i>
                                                </dv-loading-button>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-4">
                                                <dv-error-messages for="form.name_ID.$error"></dv-error-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </td>

                            <!--<td>-->
                            <!--<dv-loading-button type="button" button-click="vm.clearNewTraegerschaft()"-->
                            <!--button-class=" btn-sm" style="margin-top: 20px">-->
                            <!--<i class="fa fa-minus"></i>-->
                            <!--</dv-loading-button>-->
                            <!--</td>-->

                        </tr>

                        <tr ng-if="!vm.traegerschaften.length && !vm.newTraegerschaft">
                            <td colspan="4" class="empty-table" data-translate="TRAEGERSCHAFTEN_NOCH_KEINE"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Knopf unterhalb der Tabelle zum hinzufügen einer neuen Traegerschaft-->
            <div class="row">
                <div class="col-md-2">
                    <dv-input-container class="form-group">
                        <dv-loading-button type="button"
                                           ng-click="vm.createTraegerschaft(); form.$setPristine(); form.$setUntouched()"
                                           button-class="dv-btn-sm color-success" button-disabled="vm.newTraegerschaft">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span data-translate="TRAEGERSCHAFT_HINZUFUEGEN"></span>
                        </dv-loading-button>
                    </dv-input-container>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <br/>
                    <!--Knopf zum synchen traegerschaften -->
                    <dv-loading-button type="submit"
                                       button-click="vm.syncWithOpenIdm()"
                                       button-class="">
                        <span data-translate="TRAEGERSCHAFTEN_SYNCHRONIZE"></span>
                    </dv-loading-button>
                </div>
            </div>

        </form>
    </div>
</div>
