<div class="finanzielleSituation gesuchModul">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mainTitle">
            <span data-translate="FINANZIELLE_SITUATION"
                  translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahr()}}}"></span>
            </h1>
            <hr class="header"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" name="form" class="" unsaved-warning-form="" novalidate>
                <!-- Gemeinsame Steuererklaerung -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <h4 class="mainQuestion" data-translate="FINANZIELLE_SITUATION_STEK_GEMEINSAM"
                                translate-values="{basisjahr: vm.gesuchModelManager.getBasisjahr()}"></h4>
                            <dv-radio-container name="gemeinsameSteuererklaerung" class="input-element"
                                                ng-model="vm.gesuchModelManager.getFamiliensituation().gemeinsameSteuererklaerung"
                                                ng-required="true" class="radio" ng-change="vm.gemeinsameStekClicked()"
                                                dv-enable-element
                                                dv-enable-allowed-roles="vm.allowedRoles"
                                                dv-enable-expression="!vm.isGesuchStatusVerfuegenVerfuegt()">
                            </dv-radio-container>
                            <dv-error-messages for="form.gemeinsameSteuererklaerung.$error"
                                               class="error"></dv-error-messages>
                        </div>
                    </div>
                </div>
                <!-- Steuerveranlagung -->
                <div class="row">
                    <div class="col-md-6" ng-if="vm.showSteuerveranlagung()">
                        <div class="form-group">
                            <h4 class="mainQuestion" data-translate="FINANZIELLE_SITUATION_STEUERVERANLAGUNG"
                                translate-values="{basisjahr: vm.gesuchModelManager.getBasisjahr()}"></h4>
                            <dv-radio-container name="steuerveranlagung" class="input-element"
                                                ng-model="vm.getFinanzielleSituationGS1().steuerveranlagungErhalten"
                                                ng-required="true" class="radio"
                                                ng-change="vm.steuerveranlagungClicked()"
                                                dv-enable-element
                                                dv-enable-allowed-roles="vm.allowedRoles"
                                                dv-enable-expression="!vm.isGesuchStatusVerfuegenVerfuegt()">
                            </dv-radio-container>
                            <dv-error-messages for="form.steuerveranlagung.$error" class="error"></dv-error-messages>
                        </div>
                    </div>
                </div>
                <!-- Steuererklärung -->
                <div class="row">
                    <div class="col-md-6" ng-if="vm.showSteuerveranlagung() && vm.showSteuererklaerung()">
                        <div class="form-group">
                            <h4 class="mainQuestion" data-translate="FINANZIELLE_SITUATION_STEUERERKLAERUNG"
                                translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahr()}}}"></h4>
                            <dv-radio-container name="steuererklaerung" class="input-element"
                                                ng-model="vm.getFinanzielleSituationGS1().steuererklaerungAusgefuellt"
                                                ng-required="true" class="radio"
                                                ng-change="vm.steuererklaerungClicked()"
                                                dv-enable-element
                                                dv-enable-allowed-roles="vm.allowedRoles"
                                                dv-enable-expression="!vm.isGesuchStatusVerfuegenVerfuegt()">
                            </dv-radio-container>
                            <dv-error-messages for="form.steuererklaerung.$error" class="error"></dv-error-messages>
                        </div>
                    </div>
                </div>
                <!--Buttons-->
                <dv-navigation dv-previous="true" dv-next="true" dv-save="vm.save(form)" dv-sub-step="2">
                </dv-navigation>
            </form>
        </div>
    </div>
</div>
