@import '../../../style/variables.less';
@import '../../../style/mixins.less';

dv-accordion {
    overflow: hidden;
    dv-accordion-tab {
        .dv-accordion-tab-title {
            position: relative;
            z-index: 1;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari*/
            -khtml-user-select: none; /* Konqueror */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            &:focus {
                outline: none;
            }
            border-bottom: 1px solid @contrast;
            opacity: 1;
            padding: 0 2rem 0;
            display: block;
            width: 100%;
            height: 5rem;
            background: @contrast-lightest;
            line-height: 5rem;
            font-size: 1.6rem;
            .ebeguBold();
            letter-spacing: 0.15rem;
            color: @primary;
            margin: 0;
            transition: all 0.5s ease;
            &.tab-open {
                background: @primary;
                border-bottom: 1px solid @primary;
                color: @contrast-lightest;
            }
        }
        .dv-accordion-tab-content {
            overflow: hidden;
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            max-height: 15rem;
            background: @contrast-light;
            padding: 0 2rem 0;
            & > * {
                margin: 2rem 0 2rem;
            }
            &.ng-hide-add {
                max-height: 15rem;
                transition: all 1s ease;
            }
            &.ng-hide-add.ng-hide-add-active {
                max-height: 0;
            }
            &.ng-hide-remove {
                transition: all 1s ease;
                max-height: 0;
            }
            &.ng-hide-remove.ng-hide-remove-active {
                max-height: 15rem;
            }
        }
    }
}
