.dateientable tbody > tr > td {
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
    border-top: 0.1rem solid #F0F0F0;
}

.dateientable thead > tr > th {
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
    background-color: #F0F0F0;
    border-top: 0.1rem solid #F0F0F0;
    border-bottom: 0 solid #F0F0F0;
}

.dateientable.table > thead > tr > th {
    border-bottom: 0 solid #F0F0F0;
}

.dateientable thead > tr {
    background-color: #F0F0F0;

}

.dokumentgrundtable.table > tbody > tr.dokument-grund-row > td, .dokumentgrundtable.table > thead > tr > th {
    border-bottom: none;
    border-top: 0.3rem solid gray;
}

.dokumentgrundtable td.documents-vailable {
    background-color: #D0F5E4;
}

.table > thead > tr.sonstige > th {
    padding: 0;
}

.vorgaenger{
    font-style:italic;
}
