.dateientable tbody > tr > td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.dateientable thead > tr > th {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}


.dateientable thead > tr  {
    background-color: lightgray;

}

.dokumentgrundtable.table > tbody > tr > td {
    border-bottom: none;
    border-top: 3px solid lightgray;
}

.dokumentgrundtable.table > thead > tr > th{
    border-bottom: 3px solid lightgray;
}
