<div class="dv-dokumente-list">

    <div class="col-md-12 table-responsive" ng-if="vm.dokumente.length">

        <h4 class="mainTitle">
            <span data-translate="{{vm.tableTitle}}"></span>
            {{vm.titleValue}}
        </h4>
        <hr class="header"/>

        <table st-table="table" st-safe-src="vm.dokumente"
               class="table table-striped" id="{{vm.tableId}}" title="{{vm.tableTitle}}">
            <thead>
            <tr>
                <!--without tag-->
                <th width="60%" st-sort="dokumentTyp" ng-if="!vm.tag"><span data-translate="DOK_DOKUMENT"> </span>
                </th>

                <!--with tag-->
                <th width="45%" st-sort="dokumentTyp" ng-if="vm.tag"><span data-translate="DOK_DOKUMENT"> </span>
                </th>
                <th width="15%" st-sort="tag" ng-if="vm.tag">
                    <span data-translate="{{vm.tag}}"></span>
                </th>

                <th width="30%" st-sort="fullname" st-sort-default="true">
                    <span data-translate="DOK_FUER"> </span>
                </th>

                <th width="5%"></th>
                <th width="5%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in table">

                <!--without tag-->
                <td ng-bind="row.dokumente[0].dokumentTyp | translate" width="60%" ng-if="!vm.tag"></td>

                <!--with tag-->
                <td ng-bind="row.dokumente[0].dokumentTyp | translate" width="45%" ng-if="vm.tag"></td>
                <td ng-bind="row.tag" width="15%" ng-if="vm.tag"></td>

                <td ng-bind="row.fullname" width="30%"></td>

                <td width="5%">
                    <i class="fa fa-circle" aria-hidden="true" style="color: orange"></i>
                </td>
                <td width="5%">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>
