<div class="dv-dokumente-list">

    <div class="col-md-12 table-responsive" ng-if="vm.dokumente.length">

        <h4 class="mainTitle">
            <span data-translate="{{vm.tableTitle}}"></span>
            {{vm.titleValue}}
        </h4>
        <hr class="header"/>

        <table st-table="table" st-safe-src="vm.dokumente" st-
               class="table table-striped dokumentgrundtable" id="{{vm.tableId}}" title="{{vm.tableTitle}}">
            <thead>
            <tr>
                <!--without tag-->
                <th width="60%" st-sort="dokumentTyp" class="sortable" ng-if="!vm.tag">
                    <span data-translate="DOK_DOKUMENT"> </span>
                </th>

                <!--with tag-->
                <th width="45%" st-sort="dokumentTyp" class="sortable" ng-if="vm.tag">
                    <span data-translate="DOK_DOKUMENT"> </span>
                </th>
                <th width="15%" st-sort="tag" class="sortable" ng-if="vm.tag">
                    <span data-translate="{{vm.tag}}"></span>
                </th>

                <th width="30%" st-sort="fullName" class="sortable" st-sort-default="true">
                    <span data-translate="DOK_FUER"> </span>
                </th>

                <th width="5%"></th>
                <th width="5%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="row in table" class="dokument-grund-row">

                <!--with and without tag-->
                <td ng-bind="row.dokumentTyp | translate" ngf-drop="vm.uploadAnhaenge($files, row)"
                    ngf-drag-over-class="'dragover'" ngf-multiple="true"
                    ng-class="{true:'documents-vailable', false:''}[vm.hasDokuments(row)]"></td>

                <!--with tag-->
                <td ng-bind="row.tag" ng-if="vm.tag"
                    ng-class="{true:'documents-vailable', false:''}[vm.hasDokuments(row)]"></td>

                <td ng-bind="row.fullName" ng-class="{true:'documents-vailable', false:''}[vm.hasDokuments(row)]"></td>

                <td>
                    <i ng-if="!vm.hasDokuments(row)" class="fa fa-circle" aria-hidden="true" style="color: orange"></i>
                    <i ng-if="vm.hasDokuments(row)" class="fa fa-check" aria-hidden="true" style="color: green"></i>
                </td>
                <td ng-click="$event.stopPropagation()">
                    <a ngf-select="vm.uploadAnhaenge($files, row)" data-ngf-multiple="true"
                       class="fa fa-file-text-o" aria-hidden="true" style="color: black"></a>
                </td>
            </tr>
            <tr id="rowexpand" colspan="100%" ng-repeat-end>
                <td ng-if="vm.hasDokuments(row)" colspan="100%" style="padding: 0px">
                    <table st-table="table2" st-safe-src="row.dokumente" class="table table-striped dateientable">
                        <thead>
                        <tr style="background-color: lightgray">
                            <!--without tag-->
                            <th width="50%" st-sort="dokumentName" class="sortable" st-sort-default="true">
                                <span data-translate="DATEINAME"></span>
                            </th>

                            <th width="20%" st-sort="timestampMutiert" class="sortable">
                                <span data-translate="DATUM"></span>
                            </th>
                            <th width="20%" st-sort="dokumentSize" class="sortable">
                                <span data-translate="SIZE"></span>
                            </th>

                            <th width="5%"></th>
                            <th width="5%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="dokument in table2">
                            <td ng-bind="dokument.dokumentName"></td>
                            <td ng-bind="dokument.timestampMutiert | amDateFormat : 'DD.MM.YYYY'"></td>
                            <td ng-bind="dokument.dokumentSize"></td>
                            <td>
                                <i class="fa fa-eye" aria-hidden="true" style="color: black"></i>
                            </td>
                            <td>
                                <span ng-click="vm.remove(row, dokument)" class="fa fa-trash" aria-hidden="true" style="color: black"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>
