<div class="adminView">
    <h1 data-translate="ADMIN"></h1>

    <div class="row">
        <div class="col-md-12">

            <table st-table="displayedCollection" st-safe-src="vm.applicationProperties" class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="name" data-translate="PROPERTY_KEY"></th>
                    <th st-sort="value" data-translate="PROPERTY_TEXT"></th>
                    <th data-translate="AKTION"></th>
                </tr>
                <tr>
                    <th><input st-search="name" class="form-control" placeholder="Suche nach Name"
                               type="text"/></th>
                    <th><input st-search="value" class="form-control" placeholder="Suche Nach Text"
                               type="text"/></th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in displayedCollection" st-select-row="row" st-select-mode="single"
                    ng-click="vm.editRow(row)">
                    <td>{{row.name}}</td>
                    <td>{{row.value}}</td>
                    <td>
                        <button type="button" ng-click="vm.removeRow(row)" class="btn btn-sm btn-danger">
                            <i class="glyphicon glyphicon-remove-circle">
                            </i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-12">
            <button type="button" ng-click="vm.createItem()" class="btn btn-sm btn-success">
                <i class="glyphicon glyphicon-plus">
                </i> add item
            </button>
        </div>

    </div>

    <form ng-submit="form.$valid && vm.submit()" name="form" novalidate ng-show="vm.applicationProperty">
        <div class="row">
            <div class="col-md-6">
                <div class="row top5">
                    <dv-input-row label="{{'PROPERTY_KEY' | translate}}">
                        <input id="propKey2" type="text" name="propertyName" ng-model="vm.applicationProperty.name"
                               dv-max-length class="col-md-8" required max="vm.length" min="2">
                    </dv-input-row>
                </div>
                <div class="row top5">
                    <label data-translate="PROPERTY_KEY" for="propKey" class="col-md-4">
                    </label>
                    <input id="propKey" type="text" name="propertyName" ng-model="vm.applicationProperty.name"
                           dv-max-length class="col-md-8" required max="vm.length"
                           ng-disabled="vm.applicationProperty.timestampErstellt">
                    <dv-error-messages ng-if="form.$submitted" for="form.propertyName.$error"
                                       class="error col-md-offset-4 col-md-8"></dv-error-messages>
                </div>


                <div class="row top5">
                    <label data-translate="PROPERTY_TEXT" for="propVal" class="col-md-4">
                    </label>
                    <input id="propVal" type="text" name="propertyValue" ng-model="vm.applicationProperty.value"
                           ng-maxlength="vm.length" class="col-md-8">

                    <dv-error-messages for="form.propertyValue.$error"></dv-error-messages>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-1">

                <button class="btn-primary" type="submit" data-translate="SAVE">
                </button>
            </div>
            <div class="col-md-10">
                <a href="#" id="cancelLink" data-translate="CANCEL"
                   ng-click="vm.resetForm(); form.$setPristine();form.$setUntouched();"></a>
            </div>
        </div>
    </form>

</div>
