<div class="adminView adminModul">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="viewTitle">
                <h1 data-translate="ADMIN"></h1>
            </div>

            <div class="row">
                <div class="col-md-12 table-responsive">

                    <table st-table="displayedCollection" st-safe-src="vm.applicationProperties" st-delay="20"
                           class="table table-striped">
                        <thead>
                        <tr>
                            <th st-sort="name" class="sortable" data-translate="PROPERTY_NAME"></th>
                            <th st-sort="value" class="sortable" data-translate="PROPERTY_TEXT"></th>
                            <th st-sort="timestampErstellt" class="sortable" data-translate="TIMEERSTELLT"></th>
                            <th data-translate="AKTION"></th>
                        </tr>
                        <tr>
                            <th><input st-search="name" class="form-control" placeholder="Suche nach Name"
                                       type="text"/></th>
                            <th><input st-search="value" class="form-control" placeholder="Suche Nach Text"
                                       type="text"/></th>
                            <th></th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in displayedCollection" st-select-row="row" st-select-mode="single"
                            ng-click="vm.editRow(row)">
                            <td ng-bind="row.name"></td>
                            <td ng-bind="row.value"></td>
                            <td ng-bind="row.timestampErstellt | amDateFormat : 'DD.MM.YYYY'"></td>
                            <td>
                                <dv-loading-button type="button" button-click="vm.removeRow(row)"
                                                   button-class="dv-btn-sm">
                                    <i class="fa fa-minus">
                                    </i>
                                </dv-loading-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <form ng-submit="form.$valid && vm.submit()" name="form" role="form" class="" novalidate
                  ng-if="vm.applicationProperty"
                  unsaved-warning-form>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="md-no-float" data-translate="PROPERTY_NAME" for="propName">
                                </label>
                            </div>
                            <div class="col-md-4">
                                <input id="propName" type="text" name="propertyName"
                                       ng-model="vm.applicationProperty.name"
                                       dv-max-length class="input-element smallfont" required
                                       ng-disabled="vm.applicationProperty.timestampErstellt">
                            </div>
                            <div class="col-md-2">
                                <label class="md-no-float" data-translate="PROPERTY_TEXT" for="propVal">
                                </label>
                            </div>
                            <div class="col-md-4">
                                <input id="propVal" type="text" name="propertyValue"
                                       ng-model="vm.applicationProperty.value"
                                       dv-max-length class="smallfont">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3 col-md-offset-3">
                                <dv-error-messages for="form.propertyName.$error"></dv-error-messages>
                            </div>
                            <div class="col-md-3 col-md-offset-3">
                                <dv-error-messages for="form.propertyValue.$error"></dv-error-messages>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2">
                        <dv-loading-button button-class="" type="submit">
                            <span data-translate="SAVE"></span>
                        </dv-loading-button>
                    </div>
                    <div class="col-md-4 ">
                        <a href="javascript:;" id="cancelLink" unsaved-warning-clear
                           ng-click="vm.resetForm(); form.$setPristine();form.$setUntouched();">
                            <span data-translate="CANCEL"></span>
                        </a>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <h3>
                <span data-translate="TESTFAELLE_EINFUEGEN"></span>
            </h3>
            <br/>
            <h4>
                <span data-translate="Betreuungen mit Zustand &#034;warten&#034;"></span>
            </h4>
            <ul>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('1', false, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Dagmar Wälti"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('2', false, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Yvonne Feutz"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('3', false, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Marcia Perreira"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('4', false, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Laura Walther"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('5', false, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Mereth Lueti"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('6', false, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Nora Becker"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('7', false, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Mereth Meier"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('8', false, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="AusInAusBern"></span>
                    </button>
                </li>
            </ul>

            <h4>
                <span data-translate="Betreuungen mit Zustand &#034;bestätigt&#034;"></span>
            </h4>
            <ul>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('1', true, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Dagmar Wälti"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('2', true, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Yvonne Feutz"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('3', true, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Marcia Perreira"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('4', true, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Laura Walther"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('5', true, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Mereth Lueti"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('6', true, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Nora Becker"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('7', true, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Mereth Meier"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('8', true, false)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="AusInAusBern"></span>
                    </button>
                </li>
            </ul>
            <h4>
                <span data-translate="Verfügte Erstgesuche"></span>
            </h4>
            <ul>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('1', true, true)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Dagmar Wälti"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('2', true, true)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Yvonne Feutz"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('3', true, true)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Marcia Perreira"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('4', true, true)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Laura Walther"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('5', true, true)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Mereth Lueti"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('6', true, true)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Nora Becker"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('7', true, true)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="Mereth Meier"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn-link btn-testfall"
                            ng-click="vm.createTestFall('8', true, true)">
                        <span data-translate="TESTFALL_ERSTELLEN" data-translate-value-gsname="AusInAusBern"></span>
                    </button>
                </li>
            </ul>
            <h2>
                <span data-translate="Mutiere"></span>
            </h2>
            <div class="row">
                <div class="col-md-12 dv-input-container-small">
                    <dv-input-container class="form-group">
                        <label class="md-no-float" data-translate="FALL_UPPER" for="fallid">
                        </label>
                        <input id="fallid" type="text" name="fallid" ng-model="vm.fallId"
                               dv-max-length class="form-control" style="background: #F0F0F0;">
                    </dv-input-container>
                </div>
            </div>
            <div class="row marginTop10">
                <div class="col-md-12 dv-input-container-small">
                    <dv-input-container class="form-group">
                        <label class="md-no-float" data-translate="EINGANGSDATUM" for="mutationsdatum">
                        </label>
                        <dv-datepicker input-id="mutationsdatum" name="mutationsdatum" placeholder=""
                                       ng-model="vm.mutationsdatum" ng-required="true"
                                       class="input-element"
                                       ng-attr-placeholder="{{'DATE_PLACEHOLDER' | translate}}">
                        </dv-datepicker>
                    </dv-input-container>
                </div>
            </div>


            <div class="row marginTop10">
                <div class="col-md-12 form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="" data-translate="AENDERUNG_PER" for="aenderungper">
                            </label>
                        </div>
                        <div class="col-md-4">
                            <dv-datepicker input-id="aenderungper" name="aenderungper" placeholder=""
                                           ng-model="vm.aenderungperHeirat" ng-required="true"
                                           class="input-element"
                                           ng-attr-placeholder="{{'DATE_PLACEHOLDER' | translate}}">
                            </dv-datepicker>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class=" btn-testfall"
                                    ng-click="vm.mutiereFallHeirat()">
                                <span data-translate="FALL_MUTIEREN_HEIRAT"></span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row marginTop10">
                <div class="col-md-12 form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="" data-translate="AENDERUNG_PER" for="aenderungper">
                            </label>
                        </div>
                        <div class="col-md-4">
                            <dv-datepicker input-id="aenderungper" name="aenderungper" placeholder=""
                                           ng-model="vm.aenderungperScheidung" ng-required="true"
                                           class="input-element"
                                           ng-attr-placeholder="{{'DATE_PLACEHOLDER' | translate}}">
                            </dv-datepicker>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class=" btn-testfall"
                                    ng-click="vm.mutiereFallScheidung()">
                                <span data-translate="FALL_MUTIEREN_SCHEIDUNG"></span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
