<div class="finanzielleSituation gesuchModul">
    <div class="row">
        <div class="col-md-12">
            <form role="form" name="form" class="" unsaved-warning-form="" novalidate>
                <fieldset ng-disabled="vm.isGesuchStatusVerfuegenVerfuegt()">

                    <!--Einkommensverschlechterung-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h4 class="mainQuestion" data-translate="EKVI_EINKOMMENSVERSCHLECHTERUNG_JA_NEIN"></h4>
                                <dv-radio-container name="einkommensverschlechterung"
                                                    ng-model="vm.getEinkommensverschlechterungsInfo().einkommensverschlechterung"
                                                    ng-required="true" class="radio input-element"
                                                    dv-enable-element
                                                    dv-enable-allowed-roles="vm.allowedRoles"
                                                    dv-enable-expression="!vm.isGesuchStatusVerfuegenVerfuegt()">
                                </dv-radio-container>
                                <dv-error-messages for="form.einkommensverschlechterung.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>

                    <!-- Auswahl Basisjahr Plus 1 -->
                    <div class="row marginTop20">
                        <div class="form-group col-sm-12 dv-input-container-small" ng-if="vm.showEkvi()">

                            <dv-input-container class="form-group dv-radio-container">
                                <md-checkbox name="ekvFuerBasisJahrPlus1"
                                             ng-model="vm.getEinkommensverschlechterungsInfo().ekvFuerBasisJahrPlus1"
                                             aria-label="{vm.getBasisJahrPlusAsString(0)}"
                                             ng-required="vm.isRequired(1)" class="input-element"
                                             ng-disabled="vm.isGesuchStatusVerfuegenVerfuegt()">
                            <span data-translate="EKVI_FUER_JAHR"
                                  translate-values="{basisjahr: vm.getBasisJahrPlusAsString(0)}"></span>
                                </md-checkbox>
                                <div ng-messages="form.ekvFuerBasisJahrPlus1.$error" role="alert" class="error">
                                    <div ng-message="required" data-translate="ERROR_REQUIRED_ONE_OF_THEM"
                                         for="form.ekvFuerBasisJahrPlus1.$error"></div>
                                </div>
                            </dv-input-container>
                        </div>
                    </div>

                    <!--Auswahl des Stichtages für BasisJahr plus 1-->
                    <div class="row">
                        <div class="form-group col-sm-12 dv-input-container-small selectGroup"
                             ng-if="vm.showEkvi() && vm.showJahrPlus1()">
                            <label class="md-no-float" data-translate="EKVI_MONAT_DES_EREIGNISSES"
                                   for="stichtagBasisJahrPlus1"></label>
                            <select name="stichtagBasisJahrPlus1" id="stichtagBasisJahrPlus1" class="form-control"
                                    ng-model="vm.selectedStichtagBjP1"
                                    ng-options="stichtagMonat | translate for stichtagMonat in vm.monthsStichtage"
                                    ng-required="true">
                            </select>
                            <dv-error-messages for="form.stichtagBasisJahrPlus1.$error"
                                               class="error"></dv-error-messages>
                        </div>
                    </div>

                    <!--Grund für BasisJahr plus 1-->
                    <div class="row">
                        <div class="form-group col-sm-12 dv-input-container-small"
                             ng-if="vm.showEkvi() && vm.showJahrPlus1()">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EKVI_GRUND_DES_EREIGNISSES"
                                       for="grundFuerBasisJahrPlus1"></label>
                                <input id="grundFuerBasisJahrPlus1" type="text" name="grundFuerBasisJahrPlus1"
                                       ng-model="vm.getEinkommensverschlechterungsInfo().grundFuerBasisJahrPlus1"
                                       class="form-control" required>
                                <dv-error-messages for="form.grundFuerBasisJahrPlus1.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>

                        </div>
                    </div>


                    <!-- Auswahl Basisjahr Plus 2 -->
                    <div class="row marginTop20">
                        <div class="form-group col-sm-12 dv-input-container-small" ng-if="vm.showEkvi()">

                            <dv-input-container class="form-group dv-radio-container">
                                <md-checkbox name="ekvFuerBasisJahrPlus2"
                                             ng-model="vm.getEinkommensverschlechterungsInfo().ekvFuerBasisJahrPlus2"
                                             aria-label="{vm.getBasisJahrPlusAsString(1)}"
                                             ng-required="vm.isRequired(2)" class="input-element"
                                             ng-disabled="vm.isGesuchStatusVerfuegenVerfuegt()">
                            <span data-translate="EKVI_FUER_JAHR"
                                  translate-values="{basisjahr: vm.getBasisJahrPlusAsString(1)}"></span>
                                </md-checkbox>
                                <div ng-messages="form.ekvFuerBasisJahrPlus2.$error" role="alert" class="error">
                                    <div ng-message="required" data-translate="ERROR_REQUIRED_ONE_OF_THEM"
                                         for="form.ekvFuerBasisJahrPlus2.$error"></div>
                                </div>
                            </dv-input-container>
                        </div>
                    </div>

                    <!--Auswahl des Stichtages für BasisJahr plus 2-->
                    <div class="row">
                        <div class="form-group col-sm-12 dv-input-container-small"
                             ng-if="vm.showEkvi() && vm.showJahrPlus2()">
                            <label class="md-no-float" data-translate="EKVI_MONAT_DES_EREIGNISSES"
                                   for="stichtagBasisJahrPlus2"></label>
                            <select name="stichtagBasisJahrPlus2" id="stichtagBasisJahrPlus2" class="form-control"
                                    ng-model="vm.selectedStichtagBjP2"
                                    ng-options="stichtagMonat | translate for stichtagMonat in vm.monthsStichtage"
                                    ng-required="true">
                            </select>
                            <dv-error-messages for="form.stichtagBasisJahrPlus2.$error"
                                               class="error"></dv-error-messages>
                        </div>
                    </div>

                    <!--Grund für BasisJahr plus 2-->
                    <div class="row">
                        <div class="form-group col-sm-12 dv-input-container-small"
                             ng-if="vm.showEkvi() && vm.showJahrPlus2()">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" data-translate="EKVI_GRUND_DES_EREIGNISSES"
                                       for="grundFuerBasisJahrPlus2"></label>
                                <input id="grundFuerBasisJahrPlus2" type="text" name="grundFuerBasisJahrPlus2"
                                       ng-model="vm.getEinkommensverschlechterungsInfo().grundFuerBasisJahrPlus2"
                                       class="form-control" required>
                                <dv-error-messages for="form.grundFuerBasisJahrPlus2.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>

                        </div>
                    </div>

                </fieldset>
                <!-- -------------------------------------------Navigation--------------------------------------------  -->
                <dv-navigation dv-previous="true" dv-next="true" dv-save="vm.confirmAndSave(form)" dv-sub-step="1">
                </dv-navigation>
            </form>
        </div>
    </div>
</div>
