<button ng-if="!vm.getPrincipal()" ui-sref-active="active" ui-sref="login" class="userMenu"
        aria-label="{{'EINLOGGEN' | translate}}">
    <a href="javascript:void(0)" data-translate="EINLOGGEN"></a>
</button>

<md-menu-bar ng-if="vm.getPrincipal()" class="user-menu">
    <md-menu>
        <button ng-click="$mdOpenMenu()" aria-label="{{vm.getPrincipal().getFullName()}}">
            <span ng-bind="vm.getPrincipal().getFullName()"></span>
            <i class="fa fa-angle-down"></i>
        </button>
        <md-menu-content class="user-menu">
            <md-menu-item>
                <md-button ng-click="vm.logout()" aria-label="{{'AUSLOGGEN' | translate}}">
                    <a href="javascript:void(0)" data-translate="AUSLOGGEN"></a>
                </md-button>
            </md-menu-item>
            <md-menu-item class="versionInfo" style="color: lightgray;">
                  <span>Vers: {{vm.getVersion()}}: {{vm.getBuildtimestamp()}}</span>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>
