<div class="dv-error-messages">
    <div ng-messages="vm.errorObject" class="error">
        <div ng-message="required" role="alert" data-translate="ERROR_REQUIRED"></div>
        <div ng-message="minlength" role="alert" data-translate="ERROR_MIN_LENG"></div>
        <div ng-message="maxlength" role="alert" data-translate="ERROR_MAX_LENG"></div>
        <div ng-message="number" role="alert" data-translate="ERROR_NUMBER"></div>
        <div ng-message="dvMaxLength" role="alert" data-translate="ERROR_MAX_LENG"></div>
        <div ng-message="email" role="alert" data-translate="ERROR_EMAIL"></div>
        <div ng-message="pattern" role="alert" data-translate="ERROR_FORMAT"></div>
        <div ng-message="date" role="alert" data-translate="ERROR_DATE"></div>
        <div ng-message="moment" role="alert" data-translate="ERROR_DATE"></div>
        <div ng-message="max" role="alert" data-translate="ERROR_MAX"></div>
        <div ng-message="valueinput" role="alert" data-translate="ERROR_VALUE"></div>
    </div>
</div>
