<div class="dv-error-messages">
    <div ng-messages="vm.errorObject" role="alert" class="error">
        <div ng-message="required" data-translate="ERROR_REQUIRED"></div>
        <div ng-message="minlength" data-translate="ERROR_MIN_LENG"></div>
        <div ng-message="maxlength" data-translate="ERROR_MAX_LENG"></div>
        <div ng-message="dvMaxLength" data-translate="ERROR_MAX_LENG"></div>
        <div ng-message="email" data-translate="ERROR_EMAIL"></div>
        <div ng-message="pattern" data-translate="ERROR_FORMAT"></div>
        <div ng-message="date" data-translate="ERROR_DATE"></div>
        <div ng-message="moment" data-translate="ERROR_DATE"></div>
        <div ng-message="max" data-translate="ERROR_MAX"></div>
        <div ng-message="valueinput" data-translate="ERROR_VALUE"></div>
    </div>

</div>
