<md-menu-bar ng-if="vm.getPrincipal()" class="user-menu">
    <md-menu>
        <button ng-click="$mdOpenMenu()" aria-label="{{vm.getPrincipal().getFullName()}}">
            <span ng-bind="vm.getPrincipal().getFullName()"></span>
            <i class="fa fa-angle-down"></i>
        </button>

        <md-menu-content class="user-menu">
            <md-menu-item dv-show-element dv-show-allowed-roles="vm.TSRoleUtil.getSuperAdminRoles()">
                <md-button ui-sref-active="active" ui-sref="testdaten" aria-label="{{'ADMIN' | translate}}">
                    <a href="javascript:void(0)" data-translate="TESTDATEN"></a>
                </md-button>
            </md-menu-item>
            <md-menu-item dv-show-element dv-show-allowed-roles="vm.TSRoleUtil.getAdministratorRoles()">
                <md-button ui-sref-active="active" ui-sref="admin" aria-label="{{'ADMIN' | translate}}">
                    <a href="javascript:void(0)" data-translate="ADMIN"></a>
                </md-button>
            </md-menu-item>
            <md-menu-item dv-show-element dv-show-allowed-roles="vm.TSRoleUtil.getAdministratorRoles()">
                <md-button ui-sref-active="active" ui-sref="parameter" aria-label="{{'PARAMETER' | translate}}">
                    <a href="javascript:void(0)" data-translate="PARAMETER"></a>
                </md-button>
            </md-menu-item>
            <md-menu-item dv-show-element dv-show-allowed-roles="vm.TSRoleUtil.getAdministratorRoles()">
                <md-button ui-sref-active="active" ui-sref="institution" aria-label="{{'INSTITUTION' | translate}}">
                    <a href="javascript:void(0)" data-translate="INSTITUTION"></a>
                </md-button>
            </md-menu-item>
            <md-menu-item dv-show-element dv-show-allowed-roles="vm.TSRoleUtil.getAdministratorRoles()">
                <md-button ui-sref-active="active" ui-sref="traegerschaft" aria-label="{{'TRAEGERSCHAFT' | translate}}">
                    <a href="javascript:void(0)" data-translate="TRAEGERSCHAFT"></a>
                </md-button>
            </md-menu-item>

            <md-menu-divider></md-menu-divider>

            <md-menu-item>
                <md-button ng-click="vm.logout()" aria-label="{{'AUSLOGGEN' | translate}}">
                    <a href="javascript:void(0)" data-translate="AUSLOGGEN"></a>
                </md-button>
            </md-menu-item>
            <md-menu-item class="versionInfo" style="color: lightgray;">
                <span>Vers: {{vm.getVersion()}}: {{vm.getBuildtimestamp()}}</span>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>
