<div class="dv-antrag-list">
    <div class="row">

        <div class="col-md-12 table-responsive">
            <!--Tabelle-->
            <table dv-st-persist="{{vm.tableTitle}}"
                   st-table="vm.displayedCollection" st-delay="20"
                   st-pipe="vm.callServer" class="table fixedtable table-hover" id="{{vm.tableId}}"
                   title="{{vm.tableTitle}}">
                <thead>
                <!--Sortierspalten-->
                <tr id="antraegeHeadRow">
                    <th st-sort="fallNummer" class="sortable row-fallnr" data-translate="FALL_UPPER"></th>
                    <th st-sort="familienName" class="sortable row-name" data-translate="FAMILIE_UPPER"></th>
                    <th st-sort="kinder" class="sortable row-name" data-translate="KINDER_UPPER"
                        dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getAllRolesButSteueramt()">
                    </th>
                    <th st-sort="antragTyp" class="sortable row-antrag" data-translate="TYP_UPPER"></th>
                    <th st-sort="gesuchsperiodeString" class="sortable row-periode" data-translate="PERIODE_UPPER"></th>
                    <th st-sort="aenderungsdatum" class="sortable row-geandert"
                        data-translate="GEANDERT_UPPER" dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getAllRolesButSteueramt()">
                    </th>
                    <th st-sort="eingangssdatum" class="sortable row-geandert"
                        data-translate="EINGANG_UPPER" dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getSteueramtOnlyRoles()">
                    </th>
                    <th st-sort="status" class="sortable row-status" data-translate="STATUS_UPPER"></th>
                    <th st-sort="angebote" class="sortable row-angebot" data-translate="ANGEBOT_UPPER"
                        dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getAllRolesButSteueramt()">
                    </th>
                    <th st-sort="institutionen" class="sortable row-inst" data-translate="INSTITUTION_UPPER"
                        dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getAllRolesButSteueramt()">
                    </th>
                    <th st-sort="verantwortlicher" class="sortable row-ver" data-translate="VERANTWORTLICH_UPPER"
                        dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getAllRolesButSteueramt()">
                    </th>
                    <th class="row-action" ng-if="vm.isActionsVisible()"></th>
                </tr>
                <!--Filterspalten-->
                <tr>
                    <th><input st-search="fallNummer" class="form-control" type="text" max="999999"
                               ng-model="vm.selectedFallNummer"/></th>
                    <th><input st-search="familienName" class="form-control" type="text"
                               ng-model="vm.selectedFamilienName"/></th>
                    <th dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getAllRolesButSteueramt()">
                        <input st-search="kinder" class="form-control" type="text"
                               ng-model="vm.selectedKinder"/>
                    </th>
                    <th>
                        <div class="dv-select-style">
                            <select st-input-event="change" name="antragTyp" id="antragTyp" st-search="antragTyp"
                                    class="form-control"
                                    ng-options="typ | translate for typ in vm.getAntragTypen() track by typ"
                                    ng-model="vm.selectedAntragTyp">
                                <option value="">{{"ALLE" | translate}}</option>
                            </select>
                        </div>
                    </th>
                    <th>
                        <div class="dv-select-style">
                            <select st-input-event="change" name="gesuchsperiodeString" id="gesuchsperiodeString"
                                    st-search="gesuchsperiodeString" class="form-control"
                                    ng-options="periode for periode in vm.gesuchsperiodenList track by periode"
                                    ng-model="vm.selectedGesuchsperiode">
                                <option value="">{{"ALLE" | translate}}</option>
                            </select>
                        </div>
                    </th>
                    <th dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getAllRolesButSteueramt()">
                        <input st-search="aenderungsdatum" class="form-control" type="text"
                               ng-model="vm.selectedAenderungsdatum"/>
                    </th>
                    <th dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getSteueramtOnlyRoles()">
                        <input st-search="eingangsdatum" class="form-control" type="text"
                               ng-model="vm.selectedEingangsdatum"/>
                    </th>
                    <th>
                        <div class="dv-select-style">
                            <select st-input-event="change" name="status" id="status" st-search="status"
                                    class="form-control"
                                    ng-options="status | translate for status in vm.getAntragStatus() track by status"
                                    ng-model="vm.selectedAntragStatus">
                                <option value="">{{"ALLE" | translate}}</option>
                            </select>
                        </div>
                    </th>
                    <th dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getAllRolesButSteueramt()">
                        <div class="dv-select-style">
                            <select st-input-event="change" name="angebote" id="angebote" st-search="angebote"
                                    class="form-control"
                                    ng-options="typ | translate for typ in vm.getBetreuungsangebotTypen() track by typ"
                                    ng-model="vm.selectedBetreuungsangebotTyp">
                                <option value="">{{"ALLE" | translate}}</option>
                            </select>
                        </div>
                    </th>
                    <th dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getAllRolesButSteueramt()">
                        <div class="dv-select-style">
                            <select st-input-event="change" name="institutionen" id="institutionen"
                                    st-search="institutionen" class="form-control"
                                    ng-options="institution.name for institution in vm.institutionenList | orderBy: 'name' track by institution.name  "
                                    ng-model="vm.selectedInstitution">
                                <option value="">{{"ALLE" | translate}}</option>
                            </select>
                        </div>
                    </th>
                    <th dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getAllRolesButSteueramt()">
                        <dv-userselect input-id="verantwortlicher" dv-usersearch="verantwortlicher" initial-all="true"
                                       show-selection-all="true"></dv-userselect>
                    </th>
                    <th ng-if="vm.isActionsVisible()"></th>
                </tr>
                </thead>
                <!--Spaltendefinitionen-->
                <tbody>
                <tr ng-repeat="row in vm.displayedCollection" st-select-row="row" st-select-mode="single"
                    ng-click="vm.editClicked(row, $event)">
                    <td class="ellipsis" ellipsis-tooltip="{{vm.addZerosToFallnummer(row.fallNummer)}}"
                        ng-bind="vm.addZerosToFallnummer(row.fallNummer)"></td>
                    <td class="ellipsis" ellipsis-tooltip="{{row.familienName}}" ng-bind="row.familienName"></td>
                    <td class="ellipsis" ellipsis-tooltip="{{row.kinder | arrayToString}}" ng-bind="row.kinder | arrayToString"
                        dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getAllRolesButSteueramt()">
                    </td>
                    <td class="ellipsis" title="{{row.antragTyp | translate}}">
                        <i class="fa fa-desktop margin-ri" aria-hidden="true" ng-show="row.hasBesitzer()"></i>
                        <i class="fa fa-file-text-o" aria-hidden="true" ng-show="!row.hasBesitzer()"></i>
                        <span  ng-bind="row.antragTyp | translate"   class="marginLeft5"></span>
                    </td>
                    <td class="ellipsis"
                        ellipsis-tooltip="{{row.gesuchsperiodeString}}"
                        ng-bind="row.gesuchsperiodeString"></td>
                    <td class="ellipsis" ellipsis-tooltip="{{row.aenderungsdatum | amDateFormat : 'DD.MM.YYYY'}}"
                        ng-bind="row.aenderungsdatum | amDateFormat : 'DD.MM.YYYY'"
                        dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getAllRolesButSteueramt()">
                    <td class="ellipsis" ellipsis-tooltip="{{row.eingangsdatum | amDateFormat : 'DD.MM.YYYY'}}"
                        ng-bind="row.eingangsdatum | amDateFormat : 'DD.MM.YYYY'"
                        dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getSteueramtOnlyRoles()">
                    </td>
                    <td class="ellipsis" ellipsis-tooltip="{{row.status | translate}}"
                        ng-bind="row.status | translate"></td>
                    <td class="ellipsis" ellipsis-tooltip="{{vm.translateBetreuungsangebotTypList(row.angebote)}}"
                        ng-bind="vm.translateBetreuungsangebotTypList(row.angebote)"
                        dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getAllRolesButSteueramt()">
                    </td>
                    <td class="ellipsis" ellipsis-tooltip="{{row.institutionen | arrayToString }}" ng-bind="row.institutionen | arrayToString"
                        dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getAllRolesButSteueramt()">
                    </td>
                    <td class="ellipsis" ellipsis-tooltip="{{row.verantwortlicher}}"
                        ng-bind="row.verantwortlicher" dv-display-element
                        dv-display-allowed-roles="vm.TSRoleUtil.getAllRolesButSteueramt()">
                    </td>


                    <td class="ellipsis" ng-if="vm.isActionsVisible()">
                        <dv-loading-button type="button" button-click="vm.removeClicked(row); $event.stopPropagation()"
                                           button-class="dv-btn-sm" title="{{vm.removeButtonTitle}}">
                            <i class="fa fa-minus">
                            </i>
                        </dv-loading-button>
                    </td>
                </tr>
                <tr>
                <tr ng-if="vm.displayedCollection.length === 0">
                    <td colspan="10" class="empty-table" data-translate="KEIN_EINTRAG">...</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="{{vm.getColumnsNumber()}}" class="text-center">
                        <div st-pagination="" st-items-by-page="20" st-displayed-pages="10"></div>
                    </td>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
    <!--Addbutton -->
    <div class="row">

        <div class="col-md-12" style="margin-bottom: 2rem" ng-if="vm.isAddButtonVisible()">
            <dv-loading-button type="button" button-click="vm.addClicked()" button-class="dv-btn-sm color-success">
                <i class="glyphicon glyphicon-plus">
                </i> {{vm.addButtonText}}
            </dv-loading-button>
        </div>
    </div>

</div>
