
.ellipsis {
    width: 5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.dv-antrag-list {
    th{
        width: 100%;
    }
    .row-fallnr {
        min-width: 8rem;
        width: 8rem;
    }
    .row-status{
        width:200%;
    }
    .row-angebot{
        width:200%;
    }
    .row-inst{
        width:200%;
    }
}


