<div class="dokumente row">
    <div class="col-md-12">



        <br/>
        <span data-translate="DOK_HINT_DOKUMENTE"> </span>
        <br/>
        <br/>

        <form ng-submit="vm.submit(form)" role="form" name="form" class="" unsaved-warning-form="" novalidate>


            <dv-dokumente-list dokumente="vm.dokumenteFamSit" table-id="dokumenteFamSit"
                               table-title="DOK_FAMILIENSITUATION" title-value=""
                               on-upload-done="vm.addUploadedDokuments(dokument, vm.dokumenteFamSit)"
                               on-remove="vm.removeDokument(dokumentGrund, dokument, vm.dokumenteFamSit)">
            </dv-dokumente-list>

            <dv-dokumente-list dokumente="vm.dokumenteKinder" table-id="dokumenteKinder"
                               table-title="DOK_KINDER"
                               on-upload-done="vm.addUploadedDokuments(dokument, vm.dokumenteKinder)"
                               on-remove="vm.removeDokument(dokumentGrund, dokument, vm.dokumenteKinder)">
            </dv-dokumente-list>

            <dv-dokumente-list dokumente="vm.dokumenteFinSit" table-id="dokumenteFinSit"
                               table-title="DOK_FINANZIELLE_SITUATION"
                               title-value="vm.gesuchModelManager.getBasisjahr()"
                               on-upload-done="vm.addUploadedDokuments(dokument, vm.dokumenteFinSit)"
                               on-remove="vm.removeDokument(dokumentGrund, dokument, vm.dokumenteFinSit)">
            </dv-dokumente-list>

            <dv-dokumente-list dokumente="vm.dokumenteErwp" table-id="dokumenteErwp"
                               table-title="DOK_ERWERBSPENSUM"
                               tag="DOK_TAETIGKEIT"
                               on-upload-done="vm.addUploadedDokuments(dokument, vm.dokumenteErwp)"
                               on-remove="vm.removeDokument(dokumentGrund, dokument, vm.dokumenteErwp)">
            </dv-dokumente-list>

            <dv-dokumente-list dokumente="vm.dokumenteEkv" table-id="dokumenteEkv"
                               table-title="EKVI_EINKOMMENSVERSCHLECHTERUNG"
                               tag="DOK_JAHR"
                               on-upload-done="vm.addUploadedDokuments(dokument, vm.dokumenteEkv)"
                               on-remove="vm.removeDokument(dokumentGrund, dokument, vm.dokumenteEkv)">
            </dv-dokumente-list>

            <dv-dokumente-list dokumente="vm.dokumenteSonst" table-id="dokumenteSonst"
                               table-title="Sonstiges gschmöis"
                               on-upload-done="vm.addUploadedDokuments(dokument, vm.dokumenteSonst)"
                               on-remove="vm.removeDokument(dokumentGrund, dokument,  vm.dokumenteSonst)">
            </dv-dokumente-list>

            <!-- -------------------------------------------Navigation--------------------------------------------  -->
            <div class="row">
                <div class="col-md-6 ">
                    <dv-loading-button button-click="vm.previousStep()" button-class="btn btn-link previous">
                        <span class="fa fa-chevron-left"></span>
                        <span data-translate="ZURUECK_UPPER"></span>
                    </dv-loading-button>
                </div>
                <div class="col-md-6 text-right">
                    <dv-loading-button type="submit" button-class="btn btn-link next">
                        <span data-translate="SPEICHERN_UPPER"></span>
                        <span class="fa fa-chevron-right"></span>
                    </dv-loading-button>
                </div>
            </div>

        </form>

    </div>

</div>
