<md-content class="gesuch-toolbar small-toolbar">


    <md-toolbar class="small-toolbar">
        <div class="md-toolbar-tools">


            <md-menu-bar layout="row" layout-align="space-between center" class="col-md-12">
                <!--Fall und Name des Gesuchs-->
                <span ng-bind="vmx.getGesuchName()" class=" toolbar-gesuchname" style="margin:8px;"></span>
                <!--Gesuchsperioden-->
                <md-menu ng-if="vmx.showGesuchPeriodeNavigationMenu()">
                    <md-button ng-click="$mdOpenMenu()" aria-label="{{vmx.getCurrentGesuchsperiode()}}">
                        <span ng-bind="vmx.getCurrentGesuchsperiode()"></span>
                        <i class="ellipsis-icon fa fa-chevron-down"></i>
                    </md-button>
                    <md-menu-content class="toolbar-submenu">
                        <md-menu-item ng-repeat="gesuchsperiodeString in vmx.getKeys(vmx.gesuchsperiodeList)"
                                      ng-value="gesuchsperiodeString">
                            <md-button ng-click="vmx.setGesuchsperiode(gesuchsperiodeString)"
                                       aria-label="{{gesuchsperiodeString}}">
                                <span>
                                    <a class="toolbar-submenu-a" href="javascript:void(0)">{{gesuchsperiodeString}}</a>
                                </span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <span ng-if="!vmx.showGesuchPeriodeNavigationMenu()" ng-bind="vmx.getCurrentGesuchsperiode()"
                      style="font-size: 14px; margin-right: 10px; margin-left: 10px;"></span>

                <!--Gesuchstyp-->
                <md-menu ng-if="vmx.showAntragTypListNavigationMenu()">
                    <md-button ng-click="$mdOpenMenu()" aria-label="{{vmx.getAntragTyp()}}">
                        <span ng-bind="vmx.getAntragTyp()"></span>
                        <i class="ellipsis-icon fa fa-chevron-down"></i>
                    </md-button>
                    <md-menu-content class="toolbar-submenu">
                        <md-menu-item ng-repeat="antragTypDatum in vmx.getKeys(vmx.antragTypList)"
                                      ng-value="antragTypDatum">
                            <md-button ng-click="vmx.setAntragTypDatum(antragTypDatum)" aria-label="{{antragTypDatum}}">
                                <span>
                                    <a class="toolbar-submenu-a" href="javascript:void(0)">{{antragTypDatum}}</a>
                                </span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <span ng-if="!vmx.showAntragTypListNavigationMenu()" ng-bind="vmx.getAntragTyp()"
                style="font-size: 14px; margin-right: 10px; margin-left: 10px; text-transform: uppercase;"></span>

                <span flex=""></span>

                <!-- Mutieren -->
                <md-menu>
                    <md-button ng-click="vmx.antragMutieren()" ng-show="vmx.mutierenPossibleForCurrentAntrag"
                               aria-label="{{TOOLBAR_MUTIEREN | translate}}">
                        <span data-translate="TOOLBAR_MUTIEREN"></span>
                    </md-button>
                </md-menu>
                <!--Kontakt-->
                <md-menu ng-if="vmx.showKontaktMenu()">
                    <md-button ng-click="$mdOpenMenu()" aria-label="{{vmx.getCurrentGesuchsperiode()}}">
                        <i class="ellipsis-icon fa fa-envelope"></i>
                        <span data-translate="TOOLBAR_KONTAKT"></span>
                    </md-button>
                    <md-menu-content class="toolbar-submenu">
                        <span class="toolbar-adress" ng-bind="vmx.getGesuch().gesuchsteller1.getFullName()"></span>
                        <span class="toolbar-adress" ng-bind="vmx.getGesuch().gesuchsteller1.mail"></span>
                        <span class="toolbar-adress" ng-bind="vmx.getGesuch().gesuchsteller1.getPhone()"></span>

                        <span ng-if="vmx.getGesuch().gesuchsteller2" class="toolbar-adress marginTop20"
                              ng-bind="vmx.getGesuch().gesuchsteller2.getFullName()"></span>
                        <span ng-if="vmx.getGesuch().gesuchsteller2" class="toolbar-adress"
                              ng-bind="vmx.getGesuch().gesuchsteller2.mail"></span>
                        <span ng-if="vmx.getGesuch().gesuchsteller2" class="toolbar-adress"
                              ng-bind="vmx.getGesuch().gesuchsteller2.getPhone()"></span>


                    </md-menu-content>
                </md-menu>

                <!-- Verantwortlichen zuteilen -->
                <md-menu>
                    <md-button ng-click="$mdOpenMenu()" aria-label="{{vmx.getVerantwortlicherFullName()}}">
                        <i class="fa fa-user" aria-hidden="true" style="margin-right: 2px"></i>
                        <span ng-bind="vmx.getVerantwortlicherFullName()"></span>
                        <i class="ellipsis-icon fa fa-ellipsis-v"></i>
                    </md-button>
                    <md-menu-content class="toolbar-submenu">
                        <md-menu-item class="toolbar-submenu-item">
                            <span data-translate="VERANTWORTLICH_UPPER"></span>
                        </md-menu-item>
                        <md-menu-item ng-repeat="user in vmx.userList | orderBy: 'getFullName()'"
                                      ng-value="user.username">
                            <md-button ng-click="vmx.setVerantwortlicher(user)" aria-label="{{user.username}}">
                                <span>
                                    <a class="toolbar-submenu-a" href="javascript:void(0)">{{user.getFullName()}}</a>
                                    <i ng-if="vmx.isCurrentVerantwortlicher(user)" class="fa fa-user" aria-hidden="true"
                                       style="float:right; margin-top:5px"></i>

                                </span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>

        </div>
    </md-toolbar>
</md-content>
