<!--gesuchtoolbar fuer normale Screens-->
<div class="gesuch-toolbar-gesuchsteller" flex="100" hide-sm hide-xs>
    <md-toolbar flex="100">
        <md-menu-bar flex="100" layout="row" layout-align="start center">
            <span class="gesuchName"><span ng-bind="vmgs.getGesuchName()"  title="{{vmx.getBesitzer()}}"></span></span>
            <span flex="40"></span>
            <md-menu ng-if="vmgs.showGesuchPeriodeNavigationMenu()">
                <button ng-click="$mdOpenMenu()"
                        aria-label="{{vmgs.getCurrentGesuchsperiode()}}">
                    <span ng-bind="vmgs.getCurrentGesuchsperiode()"></span>
                    <i class="ellipsis-icon fa fa-chevron-down"></i>
                </button>
                <md-menu-content class="no-padding menu-item-container gesuchsteller">
                    <md-menu-item class="menu-item-link gesuchsteller"
                                  ng-repeat="gesuchsperiodeString in vmgs.getKeys(vmgs.gesuchNavigationList)"
                                  ng-value="gesuchsperiodeString">
                        <md-button ng-click="vmgs.setGesuchsperiode(gesuchsperiodeString)"
                                   aria-label="{{gesuchsperiodeString}}">
                                <span>
                                    <a href="javascript:void(0)">{{gesuchsperiodeString}}</a>
                                </span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <span class="gesuchNotLoaded" ng-if="!vmgs.showGesuchPeriodeNavigationMenu()"
                  ng-bind="vmgs.getCurrentGesuchsperiode()"></span>

            <!--Gesuchstyp-->
            <md-menu ng-if="vmgs.showAntragTypListNavigationMenu()">
                <button ng-click="$mdOpenMenu()" aria-label="{{vmgs.getAntragTyp()}}">
                    <span ng-bind="vmgs.getAntragTyp()"></span>
                    <i class="ellipsis-icon fa fa-chevron-down"></i>
                </button>
                <md-menu-content class="no-padding menu-item-container gesuchsteller">
                    <md-menu-item class="menu-item-link gesuchsteller"
                                  ng-repeat="antragTypDatum in vmgs.gesuchNavigationList[vmgs.getCurrentGesuchsperiode()]"
                                  ng-value="antragTypDatum">
                        <md-button ng-click="vmgs.setAntragTypDatum(antragTypDatum)"
                                   aria-label="{{antragTypDatum}}">
                                <span>
                                    <a href="javascript:void(0)">{{antragTypDatum}}</a>
                                </span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>


            <span class="gesuchNotLoaded" ng-if="!vmgs.showAntragTypListNavigationMenu()"
                  ng-bind="vmgs.getAntragTyp()"></span>

            <span flex=""></span>

            <!-- Mitteilungen -->
            <div dv-show-element
                 dv-show-allowed-roles="vmgs.TSRoleUtil.getGesuchstellerJugendamtRoles()">
                <button ng-click="vmgs.openMitteilungen()"
                        aria-label="{{TOOLBAR_MITTEILUNGEN | translate}}" style="text-align: center;">
                    <span data-translate="TOOLBAR_MITTEILUNGEN"></span>
                </button>
            </div>

            <!--Kontakt-->
            <md-menu>
                <button ng-click="$mdOpenMenu()" aria-label="{{vmgs.getCurrentGesuchsperiode()}}">
                    <i class="ellipsis-icon fa fa-envelope"></i>
                    <span data-translate="TOOLBAR_KONTAKT"></span>
                </button>
                <md-menu-content class="no-padding menu-item-container kontakt gesuchsteller">
                    <span>Jugendamt</span>
                    <span>Effingerstrasse 21</span>
                    <span>3008 Bern</span>
                    <a href="tel:0313215115"><span>031 321 51 15</span></a>
                    <a href="mailto:kinderbetreuung@bern.ch"><span>kinderbetreuung@bern.ch</span></a>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </md-toolbar>
</div>
<!--Definition der Toolbar  fuer kleine Screens als Sidebar-->
<md-sidenav md-component-id="gesuch-toolbar-mobile" class="md-sidenav-right gesuch-toolbar-mobile" flex="100"
            layout="column" layout-align="start center" hide-gt-sm>
    <button class="gesuch-toolbar-mobile-close" ng-click="vmgs.toggleSidenav('gesuch-toolbar-mobile')" aria-label="Schliessen">
        <!--close knopf-->
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <div ng-if="vmgs.showGesuchPeriodeNavigationMenu()" class="gesuchsperioden-container"
         ng-repeat="(gesuchsperiodeString,antragTypDaten) in vmgs.gesuchNavigationList" layout="column"
         layout-align="start center">

        <button ng-click="vmgs.closeSidenav('gesuch-toolbar-mobile');vmgs.setGesuchsperiode(gesuchsperiodeString)"
                aria-label="{{gesuchsperiodeString}}" class="gesuchsperiode-button">
                <span>
                    {{gesuchsperiodeString}}
                </span>
        </button>

        <button ng-click="vmgs.closeSidenav('gesuch-toolbar-mobile');vmgs.setAntragTypDatum(antragTypDatum)"
                aria-label="{{antragTypDatum}}" ng-if="vmgs.showAntragTypListNavigationMenu()"
                ng-repeat="antragTypDatum  in antragTypDaten"
                ng-value="antragTypDatum" class="antrag-typ-datum-button">
                                <span>
                                    {{antragTypDatum}}
                                </span>
        </button>
    </div>


    <span class="gesuchsperiode-button" ng-if="!vmgs.showGesuchPeriodeNavigationMenu() && vmgs.getGesuch()"
          ng-bind="vmgs.getCurrentGesuchsperiode()"></span>
    <span class="antrag-typantrag-typ-datum-button" ng-if="!vmgs.showAntragTypListNavigationMenu() && vmgs.getGesuch()"
          ng-bind="vmgs.getAntragTyp()"></span>

    <span flex=""></span>

    <!--Kontakt-->
    <div class="mobile-kontakt">
        <span>Jugendamt</span>
        <span>Effingerstrasse 21</span>
        <span>3008 Bern</span>
        <a href="tel:0313215115"><span>031 321 51 15</span></a>
        <a href="mailto:kinderbetreuung@bern.ch"><span>kinderbetreuung@bern.ch</span></a>
    </div>
    <button class="mobile-logout" ng-click="vmgs.toggleSidenav('gesuch-toolbar-mobile');vmgs.logout()"
            aria-label="{{'AUSLOGGEN' | translate}}">
        <span data-translate="AUSLOGGEN"></span>
    </button>
</md-sidenav>
