.small-toolbar {
    min-height: 40px;
    height: 40px;
}

i.ellipsis-icon {
    margin-left: 10px;
}

.toolbar-submenu{
    background-color: rgb(63, 81, 181);
}

.toolbar-submenu-item {
    color: #FFFFFF;
    margin-bottom: 10px;
}

.toolbar-submenu-a, .toolbar-submenu-a:hover {
    color: #FFFFFF;
}

.fa-user{
    color: #FFFFFF;
}
