<div class="gesuch-toolbar-gesuchsteller" flex="100">
    <md-toolbar flex="100">
        <md-menu-bar flex="100" layout="row" layout-align="start center">
            <span class="gesuchName" ng-bind="vmgs.getGesuchName()"></span>
            <span flex=""></span>
            <md-menu ng-if="vmgs.showGesuchPeriodeNavigationMenu()">
                <button ng-click="$mdOpenMenu()"
                        aria-label="{{vmgs.getCurrentGesuchsperiode()}}">
                    <span ng-bind="vmgs.getCurrentGesuchsperiode()"></span>
                    <i class="ellipsis-icon fa fa-chevron-down"></i>
                </button>
                <md-menu-content class="no-padding menu-item-container gesuchsteller">
                    <md-menu-item class="menu-item-link gesuchsteller"
                                  ng-repeat="gesuchsperiodeString in vmgs.getKeys(vmgs.gesuchsperiodeList)"
                                  ng-value="gesuchsperiodeString">
                        <md-button ng-click="vmgs.setGesuchsperiode(gesuchsperiodeString)"
                                   aria-label="{{gesuchsperiodeString}}">
                                <span>
                                    <a href="javascript:void(0)">{{gesuchsperiodeString}}</a>
                                </span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <span ng-if="!vmgs.showGesuchPeriodeNavigationMenu()" ng-bind="vmgs.getCurrentGesuchsperiode()"></span>

            <!--Gesuchstyp-->
            <md-menu ng-if="vmgs.showAntragTypListNavigationMenu()">
                <button ng-click="$mdOpenMenu()" aria-label="{{vmgs.getAntragTyp()}}">
                    <span ng-bind="vmgs.getAntragTyp()"></span>
                    <i class="ellipsis-icon fa fa-chevron-down"></i>
                </button>
                <md-menu-content class="no-padding menu-item-container gesuchsteller">
                    <md-menu-item class="menu-item-link gesuchsteller"
                                  ng-repeat="antragTypDatum in vmgs.getKeys(vmgs.antragTypList)"
                                  ng-value="antragTypDatum">
                        <md-button ng-click="vmgs.setAntragTypDatum(antragTypDatum)"
                                   aria-label="{{antragTypDatum}}">
                                <span>
                                    <a href="javascript:void(0)">{{antragTypDatum}}</a>
                                </span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>


            <span ng-if="!vmgs.showAntragTypListNavigationMenu()" ng-bind="vmgs.getAntragTyp()"></span>

            <span flex=""></span>

            <!-- Mutieren -->
            <md-menu>
                <md-button ng-click="vmgs.antragMutieren()" ng-show="vmgs.mutierenPossibleForCurrentAntrag"
                           aria-label="{{TOOLBAR_MUTIEREN | translate}}">
                    <span data-translate="TOOLBAR_MUTIEREN"></span>
                </md-button>
                <!--@mara habe hier das leere span reingehackt weil am sonst klagt, hier sollte wohl besser ein button verwendet wern?-->
                <span></span>
            </md-menu>

            <!--Kontakt-->

            <md-menu ng-if="vmgs.showKontaktMenu()">
                <button ng-click="$mdOpenMenu()" aria-label="{{vmgs.getCurrentGesuchsperiode()}}">
                    <i class="ellipsis-icon fa fa-envelope"></i>
                    <span data-translate="TOOLBAR_KONTAKT"></span>
                </button>
                <md-menu-content class="no-padding menu-item-container kontakt gesuchsteller">
                    <span class="kontaktTop">Jugendamt</span>
                    <span>Betreuungsgutscheine</span>
                    <span>Effingerstrasse 21</span>
                    <span>Postfach 3001 Bern</span>
                    <span>Telefon 031 321 51 15</span>
                    <span class="kontaktBottom">betreuungsgutscheine@bern.ch</span>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </md-toolbar>
</div>
