.gesuch-toolbar {
    md-toolbar:not(.md-menu-toolbar){
        background-color: rgb(73, 143, 224);
    }

}
    .small-toolbar {
        min-height: 40px;
        height: 40px;
    }

    i.ellipsis-icon {
        margin-left: 10px;
    }

    .toolbar-submenu {
        background-color: rgb(73, 143, 224);
    }

    .toolbar-submenu-item {
        color: #FFFFFF;
        margin-bottom: 10px;
    }

    .toolbar-submenu-a, .toolbar-submenu-a:hover {
        color: #FFFFFF;
    }

    .fa-user {
        color: #FFFFFF;
    }

