<div class="zahlungsauftragView">
    <div class="col-md-12">


        <button ng-click="vm.createZahlungsauftrag()"
                aria-label="{{ZAHLUNG_ERSTELLEN | translate}}" style="text-align: center;">
            <span data-translate="ZAHLUNG_ERSTELLEN"></span>
        </button>

        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <h3 data-translate="ZAHLUNGSAUFTRAEGE_UPPER"></h3>
            </div>
            <div class="col-md-1 text-right">
                <h3 ng-bind="vm.getZahlungsauftragen() ? vm.getZahlungsauftragen().length : 0"></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 table-responsive">

                <table st-table="displayedCollection" st-safe-src="vm.getZahlungsauftragen()"
                       st-delay="20"
                       class="table fixedtable table-striped">
                    <thead>
                    <tr>
                        <!-- datumFaellig -->
                        <th st-sort="datumFaellig" class="sortable row-datumFaellig"
                            data-translate="ZAHLUNG_FAELLIGKEIT_UPPER"></th>
                        <th data-translate="ZAHLUNG_PAIN001_UPPER"></th>
                        <!-- betragTotalAuftrag -->
                        <th st-sort="betragTotalAuftrag" class="sortable row-betragTotalAuftrag"
                            data-translate="ZAHLUNG_TOTAL_UPPER"></th>
                        <!-- beschrieb -->
                        <th st-sort="beschrieb" class="sortable row-beschrieb"
                            data-translate="ZAHLUNG_BESCHRIEB_UPPER"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in displayedCollection" st-select-row="row" st-select-mode="single"
                        ng-click="vm.gotoZahlung(row)">
                        <!-- datumFaellig -->
                        <td ellipsis-tooltip="{{row.datumFaellig | amDateFormat : 'DD.MM.YYYY'}}"
                            ng-bind="row.datumFaellig | amDateFormat : 'DD.MM.YYYY'"></td>
                        <td width="5%" class="symbol" ng-click="$event.stopPropagation()">
                            <a ng-click="vm.downloadPain(row)" class="fa fa-file" aria-hidden="true"></a>
                        </td>
                        <!-- BetragTotalAuftrag -->
                        <td class="ellipsis" ellipsis-tooltip="{{row.betragTotalAuftrag}}"
                            ng-bind="row.betragTotalAuftrag"></td>
                        <!-- beschrieb -->
                        <td class="ellipsis" ellipsis-tooltip="{{row.beschrieb}}"
                            ng-bind="row.beschrieb"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" class="text-center">
                            <div st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>
