<div class="verfuegenView row">
    <div class="col-md-12">

        <form ng-submit="form.$valid && vm.submit(form)" role="form" name="form" class="" novalidate unsaved-warning-form>

            <!-- Abzuege -->
            <div class="row marginTop20">
                <div class="col-md-12">
                    <span data-translate="AUFGRUND_FIN_SITUATION" data-translate-value-anfangsperiode="{{vm.getAnfangsPeriode()}}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label data-translate="ABZUG_AUFGRUND_FAM_GROESSE" data-translate-value-famgroesse="{{vm.getFamiliengroesseFS()}}"
                           for="finSitAbzug_ID"></label>
                    <input id="finSitAbzug_ID" type="text" name="finSitAbzug"
                           ng-model="vm.berechnungsManager.finanzielleSituationResultate.abzugAufgrundFamiliengroesse"
                           class="form-control" ng-disabled="true">
                </div>
                <div class="col-md-6">
                    <label data-translate="MASSGEBENDES_EINKOMMEN" for="finSitEinkommen_ID"></label>
                    <input id="finSitEinkommen_ID" type="text" name="finSitEinkommen"
                           ng-model="vm.berechnungsManager.finanzielleSituationResultate.massgebendesEinkommen"
                           class="form-control" ng-disabled="true">
                </div>
            </div>

            <div ng-if="vm.gesuchModelManager.gesuch.einkommensverschlechterungInfo.ekvFuerBasisJahrPlus1">
                <div class="row marginTop20">
                    <div class="col-md-12">
                        <span data-translate="AUFGRUND_EINKOMMENSVERSCHLECHTERUNG"
                              data-translate-value-anfangsverschlechterung="{{vm.getAnfangsVerschlechterung1()}}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label data-translate="ABZUG_AUFGRUND_FAM_GROESSE" data-translate-value-famgroesse="{{vm.getFamiliengroesseEV1()}}"
                               for="einVersAbzug1_ID"></label>
                        <input id="einVersAbzug1_ID" type="text" name="einVersAbzug1"
                               ng-model="vm.berechnungsManager.einkommensverschlechterungResultateBjP1.abzugAufgrundFamiliengroesse"
                               class="form-control" ng-disabled="true">
                    </div>
                    <div class="col-md-6">
                        <label data-translate="MASSGEBENDES_EINKOMMEN" for="einVersEinkommen1_ID"></label>
                        <input id="einVersEinkommen1_ID" type="text" name="einVersEinkommen1"
                               ng-model="vm.berechnungsManager.einkommensverschlechterungResultateBjP1.massgebendesEinkommen"
                               class="form-control" ng-disabled="true">
                    </div>
                </div>
            </div>

            <div ng-if="vm.gesuchModelManager.gesuch.einkommensverschlechterungInfo.ekvFuerBasisJahrPlus2">
                <div class="row marginTop20">
                    <div class="col-md-12">
                        <span data-translate="AUFGRUND_EINKOMMENSVERSCHLECHTERUNG"
                              data-translate-value-anfangsverschlechterung="{{vm.getAnfangsVerschlechterung2()}}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label data-translate="ABZUG_AUFGRUND_FAM_GROESSE" data-translate-value-famgroesse="{{vm.getFamiliengroesseEV2()}}"
                               for="einVersAbzug2_ID"></label>
                        <input id="einVersAbzug2_ID" type="text" name="einVersAbzug2"
                               ng-model="vm.berechnungsManager.einkommensverschlechterungResultateBjP2.abzugAufgrundFamiliengroesse"
                               class="form-control" ng-disabled="true">
                    </div>
                    <div class="col-md-6">
                        <label data-translate="MASSGEBENDES_EINKOMMEN" for="einVersEinkommen2_ID"></label>
                        <input id="einVersEinkommen2_ID" type="text" name="einVersEinkommen2"
                               ng-model="vm.berechnungsManager.einkommensverschlechterungResultateBjP2.massgebendesEinkommen"
                               class="form-control" ng-disabled="true">
                    </div>
                </div>
            </div>

            <!-- Titel -->
            <div class="row marginTop20">
                <div class="col-md-8">
                    <h4 class="mainTitle">
                        {{vm.getKindName()}} / {{vm.getInstitutionName()}}
                    </h4>
                </div>
                <div class="col-md-4 text-right">
                    <h4 class="mainTitle">
                        {{vm.getBetreuungNumber()}}
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr class="header"/>
                </div>
            </div>

            <!-- Status -->
            <div class="row">
                <div class="col-md-12">
                    <span class="betreuung-status ng-class:betreuung.betreuungsstatus;"
                          ng-bind="vm.getBetreuungsstatus() | translate">
                    </span>
                </div>
            </div>
            <br>

            <!-- Tabelle -->
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table st-table="displayedCollection" st-safe-src="vm.getVerfuegungZeitabschnitte()"
                           class="table table-striped">
                        <thead>
                        <tr>
                            <th data-translate="VON" ></th>
                            <th data-translate="BIS" ></th>
                            <th data-translate="BETREUUNGSPENSUM"></th>
                            <th data-translate="ANSPRUCH"></th>
                            <th data-translate="VOLLKOSTEN"></th>
                            <th data-translate="ELTERNBEITRAG"></th>
                            <th data-translate="VERGUENSTIGUNG"></th>
                        </tr>
                        </thead>
                        <tbody ng-if="vm.getVerfuegungZeitabschnitte().length > 0">
                        <tr ng-repeat="verfuegungZeitabschnitt in displayedCollection">
                            <td ng-bind="verfuegungZeitabschnitt"></td>
                            <td ng-bind=""></td>
                            <td ng-bind=""></td>
                            <td ng-bind=""></td>
                            <td ng-bind=""></td>
                            <td ng-bind=""></td>
                            <td ng-bind=""></td>
                        </tr>
                        </tbody>
                        <tbody ng-if="vm.getVerfuegungZeitabschnitte().length === 0">
                        <tr>
                        <td colspan="7" class="empty-table" >Zeitabschnitte noch nicht berechnet</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--bemerkungen-->
            <div class="row">
                <div class="col-md-12">
                    <dv-input-container class="form-group">
                        <label class="inlineHint" for="notes" data-translate="BEMERKUNGEN"></label>
                        <textarea md-no-autogrow class="form-control" rows="6" id="notes" ng-model="vm.getVerfuegenToWorkWith().bemerkungen"
                                  placeholder="{{'BEMERKUNGEN_PLACEHOLDER' | translate}}"></textarea>
                    </dv-input-container>
                </div>
            </div>

            <!-- Navigation Buttons -->
            <div class="row">
                <div class="col-md-6">
                    <dv-loading-button ng-click="vm.cancel()" button-class="btn btn-link previous">
                        <span data-translate="ABBRECHEN_UPPER"></span>
                    </dv-loading-button>
                </div>
                <div class="col-md-6 text-right">
                    <dv-loading-button type="submit" button-class="btn btn-link next">
                        <span data-translate="SPEICHERN_UPPER"></span>
                        <span class="fa fa-chevron-right"></span>
                    </dv-loading-button>
                </div>
            </div>
        </form>
        <pre>{{vm.berechnungsManager | json}}</pre>
        <pre>{{vm.gesuchModelManager.gesuch | json}}</pre>
    </div>
</div>
