<div class="finanzielleSituation gesuchModul">
    <div class="row viewTitle">
        <div class="col-md-12">

            <h1>
            <span data-translate="FINANZIELLE_SITUATION"
                  translate-values="{basisjahr: vm.gesuchModelManager.getBasisjahr(), gesuchsteller: vm.gesuchModelManager.getStammdatenToWorkWith().extractFullName()}"></span>
            </h1>
            <hr class="header"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" name="vm.form" class="" unsaved-warning-form="" novalidate>
                <fieldset ng-disabled="vm.isGesuchReadonly()">

                    <!--Steuerveranlagung -->
                    <div class="row">
                        <div class="col-xs-12 dv-input-container-question" ng-if="vm.showSteuerveranlagung()">
                            <div class="form-group">
                                <h1 class="required" aria-hidden="true" data-translate="FINANZIELLE_SITUATION_STEUERVERANLAGUNG"
                                    translate-values="{basisjahr: vm.gesuchModelManager.getBasisjahr()}"></h1>
                                <dv-radio-container name="steuerveranlagung" class="input-element"
                                                    ng-model="vm.getModel().finanzielleSituationJA.steuerveranlagungErhalten"
                                                    ng-required="true" class="radio"
                                                    ng-change="vm.steuerveranlagungClicked()"
                                                    dv-enable-element
                                                    dv-enable-allowed-roles="vm.allowedRoles"
                                                    dv-enable-expression="!vm.isGesuchReadonly() && !vm.isKorrekturModusJugendamt()"
                                                    aria-label="{{ 'FINANZIELLE_SITUATION_STEUERVERANLAGUNG' |translate}}">
                                </dv-radio-container>
                                <dv-error-messages for="vm.form.steuerveranlagung.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>

                    <!--Steuererklärung -->
                    <div class="row">
                        <div class="col-xs-12 dv-input-container-question"
                             ng-if="vm.showSteuerveranlagung() && vm.showSteuererklaerung()">
                            <div class="form-group">
                                <h1 class="required" aria-hidden="true" data-translate="FINANZIELLE_SITUATION_STEUERERKLAERUNG"
                                    translate-values="{basisjahr: vm.gesuchModelManager.getBasisjahr()}"></h1>
                                <dv-radio-container name="steuererklaerung" class="input-element"
                                                    ng-model="vm.getModel().finanzielleSituationJA.steuererklaerungAusgefuellt"
                                                    ng-required="true" class="radio"
                                                    dv-enable-element
                                                    dv-enable-allowed-roles="vm.allowedRoles"
                                                    dv-enable-expression="!vm.isGesuchReadonly() && !vm.isKorrekturModusJugendamt()"
                                                    aria-label="{{ 'FINANZIELLE_SITUATION_STEUERERKLAERUNG' |translate}}">
                                </dv-radio-container>
                                <dv-error-messages for="vm.form.steuererklaerung.$error"
                                                   class="error"></dv-error-messages>
                            </div>
                        </div>
                    </div>

                    <!-- Infotext -->
                    <p class="inlineHint noMarginY" data-translate="FINANZIELLE_SITUATION_HINT1"
                       translate-values="{basisjahr: vm.gesuchModelManager.getBasisjahr()}"></p>
                    <p class="inlineHint marginBottom30" data-translate="FINANZIELLE_SITUATION_HINT2"
                       translate-values="{basisjahr: vm.gesuchModelManager.getBasisjahr()}"></p>


                    <!-- Nettolohn -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" for="nettolohn">
                                    <span data-translate="FINANZIELLE_SITUATION_NETTOLOHN"></span>
                                    <dv-tooltip text="'FINANZIELLE_SITUATION_NETTOLOHN_HELP' | translate"></dv-tooltip>
                                </label>
                                <dv-valueinput input-id="nettolohn" name="nettolohn"
                                               ng-model="vm.getModel().finanzielleSituationJA.nettolohn"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher gs="vm.getModel().finanzielleSituationGS.nettolohn"
                                           ja="vm.getModel().finanzielleSituationJA.nettolohn"></dv-bisher>
                                <dv-error-messages for="vm.form.nettolohn.$error" class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Familienzulage -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" for="familienzulage">
                                    <span data-translate="FINANZIELLE_SITUATION_FAMILIENZULAGE"></span>
                                    <dv-tooltip
                                        text="'FINANZIELLE_SITUATION_FAMILIENZULAGE_HELP' | translate"></dv-tooltip>
                                </label>
                                <dv-valueinput input-id="familienzulage" name="familienzulage"
                                               ng-model="vm.getModel().finanzielleSituationJA.familienzulage"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher gs="vm.getModel().finanzielleSituationGS.familienzulage"
                                           ja="vm.getModel().finanzielleSituationJA.familienzulage"></dv-bisher>
                                <dv-error-messages for="vm.form.familienzulage.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Ersatzeinkommen -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" for="ersatzeinkommen">
                                    <span data-translate="FINANZIELLE_SITUATION_ERSATZEINKOMMEN"></span>
                                    <dv-tooltip
                                        text="'FINANZIELLE_SITUATION_ERSATZEINKOMMEN_HELP' | translate"></dv-tooltip>
                                </label>
                                <dv-valueinput input-id="ersatzeinkommen" name="ersatzeinkommen"
                                               ng-model="vm.getModel().finanzielleSituationJA.ersatzeinkommen"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher gs="vm.getModel().finanzielleSituationGS.ersatzeinkommen"
                                           ja="vm.getModel().finanzielleSituationJA.ersatzeinkommen"></dv-bisher>
                                <dv-error-messages for="vm.form.ersatzeinkommen.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!-- Erhaltene Alimente -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" for="erhalteneAlimente">
                                    <span data-translate="FINANZIELLE_SITUATION_ERHALTENEALIMENTE"></span>
                                    <dv-tooltip
                                        text="'FINANZIELLE_SITUATION_ERHALTENEALIMENTE_HELP' | translate"></dv-tooltip>
                                </label>
                                <dv-valueinput input-id="erhalteneAlimente" name="erhalteneAlimente"
                                               ng-model="vm.getModel().finanzielleSituationJA.erhalteneAlimente"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher gs="vm.getModel().finanzielleSituationGS.erhalteneAlimente"
                                           ja="vm.getModel().finanzielleSituationJA.erhalteneAlimente"></dv-bisher>
                                <dv-error-messages for="vm.form.erhalteneAlimente.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                    <!--Checkbox Selbstaendigkeit -->
                    <div class="row">
                        <div class="col-xs-12 dv-input-container-question">
                            <div class="checkbox">
                                <md-checkbox ng-model="vm.showSelbstaendig" name="showSelbstaendig"
                                             aria-label="{{'FINANZIELLE_SITUATION_SELBSTAENDIGKEIT'|translate}}"
                                             ng-change="vm.showSelbstaendigClicked()"
                                             ng-disabled="vm.isGesuchReadonly()" style="margin-bottom:3rem;">
                                    <span data-translate="FINANZIELLE_SITUATION_SELBSTAENDIGKEIT"></span>
                                </md-checkbox>
                                <dv-tooltip
                                    text="'FINANZIELLE_SITUATION_SELBSTAENDIGKEIT_HELP' | translate"></dv-tooltip>
                                <dv-bisher gs="vm.showSelbstaendigGS" class="dv-bisher-break"
                                           ja="vm.showSelbstaendig"
                                           specific-bisher-text="vm.getTextSelbstaendigKorrektur()"></dv-bisher>
                            </div>
                        </div>
                    </div>
                    <!-- Geschaeftsgewinn Basisjahr -->
                    <div ng-if="vm.showSelbstaendig">
                        <div class="row">
                            <div class="col-sm-12 dv-input-container-small">
                                <dv-input-container class="form-group">
                                    <label class="md-no-float"
                                           data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_BASISJAHR"
                                           for="geschaeftsgewinnBasisjahr"
                                           translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahr()}}}"></label>
                                    <dv-valueinput input-id="geschaeftsgewinnBasisjahr" name="geschaeftsgewinnBasisjahr"
                                                   ng-model="vm.getModel().finanzielleSituationJA.geschaeftsgewinnBasisjahr"
                                                   ng-required="vm.isGeschaeftsgewinnRequired()"
                                                   allow-negative=true
                                                   dv-on-blur="vm.calculate()"
                                                   class="input-element">
                                    </dv-valueinput>
                                    <div class="dv-error-messages">
                                        <div ng-messages="vm.form.geschaeftsgewinnBasisjahr.$error"
                                             class="error">
                                            <div ng-message="required" data-translate="ERROR_REQUIRED_ONE_OF_THEM"
                                                 for="vm.form.geschaeftsgewinnBasisjahr.$error" role="alert"></div>
                                        </div>
                                    </div>
                                    <dv-bisher gs="vm.getModel().finanzielleSituationGS.geschaeftsgewinnBasisjahr"
                                               ja="vm.getModel().finanzielleSituationJA.geschaeftsgewinnBasisjahr"
                                               show-if-bisher-none="false"
                                               block-existed="vm.showSelbstaendigGS === true"></dv-bisher>
                                </dv-input-container>
                            </div>
                        </div>

                        <!-- Geschäftsgewinn Basisjahr - 1 -->
                        <div class="row">
                            <div class="col-sm-12 dv-input-container-small">
                                <dv-input-container class="form-group">
                                    <label class="md-no-float"
                                           data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_BASISJAHRMINUS1"
                                           for="geschaeftsgewinnBasisjahrMinus1"
                                           translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahr()-1}}}"></label>
                                    <dv-valueinput input-id="geschaeftsgewinnBasisjahrMinus1"
                                                   name="geschaeftsgewinnBasisjahrMinus1"
                                                   ng-model="vm.getModel().finanzielleSituationJA.geschaeftsgewinnBasisjahrMinus1"
                                                   ng-required="vm.isGeschaeftsgewinnRequired()"
                                                   allow-negative=true
                                                   dv-on-blur="vm.calculate()"
                                                   class="input-element">
                                    </dv-valueinput>
                                    <div class="dv-error-messages">
                                        <div ng-messages="vm.form.geschaeftsgewinnBasisjahrMinus1.$error"
                                             class="error">
                                            <div ng-message="required" data-translate="ERROR_REQUIRED_ONE_OF_THEM"
                                                 for="vm.form.geschaeftsgewinnBasisjahrMinus1.$error"  role="alert"></div>
                                        </div>
                                    </div>
                                    <dv-bisher
                                        gs="vm.getModel().finanzielleSituationGS.geschaeftsgewinnBasisjahrMinus1"
                                        ja="vm.getModel().finanzielleSituationJA.geschaeftsgewinnBasisjahrMinus1"
                                        show-if-bisher-none="false"
                                        block-existed="vm.showSelbstaendigGS === true"></dv-bisher>
                                </dv-input-container>
                            </div>
                        </div>

                        <!-- Geschäftsgewinn Basisjahr - 2 -->
                        <div class="row">
                            <div class="col-sm-12 dv-input-container-small">
                                <dv-input-container class="form-group">
                                    <label class="md-no-float"
                                           data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_BASISJAHRMINUS2"
                                           for="geschaeftsgewinnBasisjahrMinus2"
                                           translate-values="{basisjahr: {{vm.gesuchModelManager.getBasisjahr()-2}}}"></label>
                                    <dv-valueinput input-id="geschaeftsgewinnBasisjahrMinus2"
                                                   name="geschaeftsgewinnBasisjahrMinus2"
                                                   ng-model="vm.getModel().finanzielleSituationJA.geschaeftsgewinnBasisjahrMinus2"
                                                   ng-required="vm.isGeschaeftsgewinnRequired()"
                                                   allow-negative=true
                                                   dv-on-blur="vm.calculate()"
                                                   class="input-element">
                                    </dv-valueinput>
                                    <div class="dv-error-messages">
                                        <div ng-messages="vm.form.geschaeftsgewinnBasisjahrMinus2.$error"

                                             class="error">
                                            <div ng-message="required" data-translate="ERROR_REQUIRED_ONE_OF_THEM"
                                                 for="vm.form.geschaeftsgewinnBasisjahrMinus2.$error" role="alert"></div>
                                        </div>
                                    </div>
                                    <dv-bisher
                                        gs="vm.getModel().finanzielleSituationGS.geschaeftsgewinnBasisjahrMinus2"
                                        ja="vm.getModel().finanzielleSituationJA.geschaeftsgewinnBasisjahrMinus2"
                                        show-if-bisher-none="false"
                                        block-existed="vm.showSelbstaendigGS === true"></dv-bisher>
                                </dv-input-container>
                            </div>
                        </div>

                        <!-- Durchschnitt Geschäftsgewinn -->
                        <div class="row">
                            <div class="col-sm-12 dv-input-container-small">
                                <dv-input-container class="form-group"
                                                    ng-if="vm.model.getGesuchstellerNumber() === 1">
                                    <label class="md-no-float"
                                           data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_DURCHSCHNITT"
                                           for="geschaeftsgewinnDurchschnittGS1"></label>
                                    <dv-valueinput input-id="geschaeftsgewinnDurchschnittGS1"
                                                   name="geschaeftsgewinnDurchschnittGS1"
                                                   ng-model="vm.getResultate().geschaeftsgewinnDurchschnittGesuchsteller1"
                                                   ng-disabled="true">
                                    </dv-valueinput>
                                    <div class="dv-error-messages"></div>
                                </dv-input-container>
                                <dv-input-container class="form-group"
                                                    ng-if="vm.model.getGesuchstellerNumber() === 2">
                                    <label class="md-no-float"
                                           data-translate="FINANZIELLE_SITUATION_GESCHAEFTSGEWINN_DURCHSCHNITT"
                                           for="geschaeftsgewinnDurchschnittGS2"></label>
                                    <dv-valueinput input-id="geschaeftsgewinnDurchschnittGS2"
                                                   name="geschaeftsgewinnDurchschnittGS2"
                                                   ng-model="vm.getResultate().geschaeftsgewinnDurchschnittGesuchsteller2"
                                                   ng-disabled="true">
                                    </dv-valueinput>
                                    <div class="dv-error-messages"></div>
                                </dv-input-container>
                            </div>
                        </div>
                    </div>

                    <!-- Geleistete Alimente -->
                    <div class="row">
                        <div class="col-sm-12 dv-input-container-small">
                            <dv-input-container class="form-group">
                                <label class="md-no-float" for="geleisteteAlimente">
                                    <span data-translate="FINANZIELLE_SITUATION_GELEISTETEALIMENTE"></span>
                                    <dv-tooltip
                                        text="'FINANZIELLE_SITUATION_GELEISTETEALIMENTE_HELP' | translate"></dv-tooltip>
                                </label>
                                <dv-valueinput input-id="geleisteteAlimente" name="geleisteteAlimente"
                                               ng-model="vm.getModel().finanzielleSituationJA.geleisteteAlimente"
                                               class="input-element">
                                </dv-valueinput>
                                <dv-bisher gs="vm.getModel().finanzielleSituationGS.geleisteteAlimente"
                                           ja="vm.getModel().finanzielleSituationJA.geleisteteAlimente"></dv-bisher>
                                <dv-error-messages for="vm.form.geleisteteAlimente.$error"
                                                   class="error"></dv-error-messages>
                            </dv-input-container>
                        </div>
                    </div>

                </fieldset>

                <!--Buttons-->
                <dv-navigation dv-previous="true" dv-next="true" dv-save="vm.save()" dv-sub-step="1">
                </dv-navigation>
            </form>
        </div>

    </div>
</div>
