<div class="erwerbspensumView row">
    <div class="col-md-12">
        <h4 class="mainTitle" ng-bind="vm.gesuchsteller.getFullName()"></h4>
        <hr class="header"/>
        <p data-translate="INFOTEXT_ERWERBSPENSUM"></p>

        <form ng-submit="form.$valid && vm.submit(form)" role="form" name="form" class="" novalidate
              unsaved-warning-form ng-if="vm.erwerbspensum">

            <p class="inlineHint" data-translate="PFLICHTFELDER_HINT"></p>
            <br/>
            <!--Taetigkeit-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-translate="TAETIGKEIT_WAEHLEN" for="taetigkeit">
                        </label>
                        <i class="fa fa-info-circle" aria-hidden="false">
                            <md-tooltip md-direction="right">
                                <span data-translate="TAETIGKEIT_WAEHLEN_HELP"></span>
                            </md-tooltip>
                        </i>
                        <select name="taetigkeit" id="taetigkeit" ng-model="vm.erwerbspensum.erwerbspensumJA.taetigkeit"
                                class="form-control"
                                ng-options="(taetigkeit| translate) for taetigkeit in vm.getTaetigkeitenList() "
                                ng-required="true">
                        </select>
                        <dv-error-messages for="form.taetigkeit.$error"
                                           class="error"></dv-error-messages>
                    </div>
                </div>
            </div>

            <!--Pensum-->
            <div class="row">
                <div class="col-md-12">
                    <dv-input-container class="form-group">
                        <label data-translate="PENSUM" for="taetigkeitPensum"></label>
                        <input id="taetigkeitPensum" type="text" name="taetigkeitPensum"
                               ng-model="vm.erwerbspensum.erwerbspensumJA.pensum"
                               dv-max-length class="form-control" max="100"
                               ng-required="true" ng-pattern="vm.patternPercentage">
                        <div class="hint">Angabe in %</div>
                        <dv-error-messages for="form.taetigkeitPensum.$error"
                                           class="error hint"></dv-error-messages>
                        <dv-bisher gs="vm.erwerbspensum.erwerbspensumGS.pensum"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!--Ab Wann / Bis-->
            <div class="row">
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="AB" for="taetigkeitAbID">
                        </label>
                        <dv-datepicker input-id="taetigkeitAbID" name="taetigkeitAb"
                                       ng-model="vm.erwerbspensum.erwerbspensumJA.gueltigkeit.gueltigAb"
                                       ng-required="true" class="input-element" placeholder="">
                        </dv-datepicker>
                        <dv-error-messages for="form.taetigkeitAb.$error"
                                           class="error hint"></dv-error-messages>
                        <div class="hint" data-translate="DATE_PLACEHOLDER"></div>
                </div>
                <div class="col-md-6">
                    <dv-input-container class="form-group">
                        <label data-translate="BIS" for="taetigkeitBisID">
                        </label>
                        <dv-datepicker input-id="taetigkeitBisID" name="taetigkeitBis"  placeholder=""
                                       ng-model="vm.erwerbspensum.erwerbspensumJA.gueltigkeit.gueltigBis"
                                       ng-required="false" class="input-element">
                        </dv-datepicker>
                        <dv-error-messages for="form.taetigkeitBis.$error"
                                           class="error hint"></dv-error-messages>
                </div>
            </div>

            <!--Zuschlag zu Erwerbspensum-->
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <md-checkbox ng-model="vm.erwerbspensum.erwerbspensumJA.zuschlagZuErwerbspensum"
                                     name="zuschlag"
                                     aria-label="{{ZUSCHLAG_ZU_ERWERBSPENSUM | translate}}">
                            <span data-translate="ZUSCHLAG_ZU_ERWERBSPENSUM"></span>
                            <i class="fa fa-info-circle" aria-hidden="false">
                                <md-tooltip md-direction="right">
                                    <span data-translate="ZUSCHLAGSGRUND_HELP"></span>
                                </md-tooltip>
                            </i>
                        </md-checkbox>
                        <dv-error-messages for="form.zuschlag.$error"
                                           class="error"></dv-error-messages>
                    </div>
                </div>
            </div>

            <!--Zuschlagsgrund-->
            <div class="row" ng-if="vm.erwerbspensum.erwerbspensumJA.zuschlagZuErwerbspensum">
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-translate="ZUSCHLAGSGRUND_WAEHLEN" for="zuschlagsgrund">
                        </label>

                        <select name="zuschlagsgrund" id="zuschlagsgrund"
                                ng-model="vm.erwerbspensum.erwerbspensumJA.zuschlagsgrund"
                                class="form-control"
                                ng-options="zuschlagsgrund | translate for zuschlagsgrund in vm.getZuschlagsgrundList() "
                                ng-required="true"
                        >
                        </select>
                        <dv-error-messages for="form.zuschlagsgrund.$error"
                                           class="error"></dv-error-messages>
                    </div>
                </div>
            </div>


            <!--Zuschlagsprozent-->
            <div class="row" ng-if="vm.erwerbspensum.erwerbspensumJA.zuschlagZuErwerbspensum">
                <div class="col-md-12">
                    <dv-input-container class="form-group">
                        <label data-translate="ZUSCHLAGSPROZENT" for="zuschlagsprozent"></label>
                        <input id="zuschlagsprozent" type="text" name="zuschlagsprozent"
                               ng-model="vm.erwerbspensum.erwerbspensumJA.zuschlagsprozent"
                               dv-max-length class="form-control" max="20"
                               ng-required="true" ng-pattern="vm.patternPercentage">
                        <dv-error-messages for="form.zuschlagsprozent.$error"
                        class="error hint"></dv-error-messages>
                        <div class="hint">Angabe in %</div>
                        <dv-bisher gs="vm.erwerbspensum.erwerbspensumGS.zuschlagsprozent"></dv-bisher>
                    </dv-input-container>
                </div>
            </div>

            <!--Gesundheitliche Einschraenkungen-->
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <md-checkbox ng-model="vm.erwerbspensum.erwerbspensumJA.gesundheitlicheEinschraenkungen"
                                     name="gesundheitlEinschr"
                                     aria-label="{{GESUNDH_EINSCHRAENKUNGEN | translate}}">
                            <span data-translate="GESUNDH_EINSCHRAENKUNGEN"></span>
                            <i class="fa fa-info-circle" aria-hidden="false">
                                <md-tooltip md-direction="right">
                                    <span data-translate="GESUNDH_EINSCHRAENKUNGEN_HELP"></span>
                                </md-tooltip>
                            </i>
                        </md-checkbox>
                        <dv-error-messages for="form.gesundheitlEinschr.$error"
                                           class="error"></dv-error-messages>
                    </div>
                </div>
            </div>

            <!--Buttons-->
            <div class="row">
                <div class="col-md-6">
                    <button ng-click="vm.cancel()" class="btn btn-link previous">
                        <span data-translate="ABBRECHEN_UPPER"></span>
                    </button>
                </div>
                <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-link next">
                        <span data-translate="SPEICHERN_UPPER"></span>
                        <span class="fa fa-chevron-right"></span>
                    </button>
                </div>
            </div>
        </form>
        <p ng-if="!vm.erwerbspensum">Keine Erwerbspensum Daten vorhanden</p>
    </div>
</div>

